<?xml version="1.0" encoding="utf-8"?>
<Media Key="877334ae-45e3-43ea-90ac-b2765d2c25fc" Alias="Bylaws" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bylaws</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-08-07T05:19:19</CreateDate>
    <NodeName Default="Bylaws" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wy0hhb5d/bylaws.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>