@using SgfDevs.Dev

@{ 
    var skills = DirectoryHelper.GetSkills();
    var currentSkills = ViewData.TemplateInfo.FormattedModelValue.ToString();
    var inputName = ViewData.TemplateInfo.HtmlFieldPrefix;
}

<div class="checkbox_list" data-name="skills">
    <div class="label">Skills</div>
    <ul>
        @foreach (var skill in skills)
        {
            var udi = new GuidUdi("document", skill.Key).ToString();
            var skillName = string.IsNullOrEmpty(skill.DisplayName) ? skill.Name : skill.DisplayName;
            var isCurrentSkill = currentSkills.Contains(udi);

            <li>
                <label>
                    @if (isCurrentSkill)
                    {
                        <input type="checkbox" name="skills" value="@udi" checked /> @skillName
                    }
                    else
                    {
                        <input type="checkbox" name="skills" value="@udi" /> @skillName
                    }
                </label>
            </li>
        }
    </ul>
    <input class="values" type="hidden" value="@currentSkills" name="@inputName" />
</div>