@{ 
    var value = ViewData.TemplateInfo.FormattedModelValue;
    var label = string.IsNullOrEmpty(value.ToString()) ? "Profile Image" : "Update Profile Image";
}

<div class="profile_image_upload">
    <input type="hidden" name="@ViewData.TemplateInfo.HtmlFieldPrefix" value="@value" id="profile_image_path" />
    <div class="field">
        <label>@label</label>
        <div class="input" style="margin-top: 10px;">
            <input type="file" name="sgf_profile_image" accept="image/png, image/jpeg, image/gif" />
        </div>
    </div>
</div>