<?xml version="1.0" encoding="utf-8"?>
<DataType Key="69b633f7-89fb-4580-828f-9912b610e1ca" Alias="Employment Type" Level="1">
  <Info>
    <Name>Employment Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Full-time"
    },
    {
      "id": 2,
      "value": "Part-time"
    },
    {
      "id": 3,
      "value": "Freelance"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>