<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32ef323a-fa8c-42f7-b3fb-fe21e77fe7fa" Alias="Groups Picker" Level="1">
  <Info>
    <Name>Groups Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "f47fb09e-350d-48c8-840b-683a68ec0e20",
  "ignoreUserStartNodes": true,
  "maxNumber": 0,
  "minNumber": 0,
  "showOpenButton": false,
  "startNode": {
    "type": "content",
    "id": "d132ca12-4e57-439b-990b-6d97ac5aa3b6",
    "dynamicRoot": null
  },
  "umbMigrationV14": "2024-08-22T04:20:26.9515405+00:00"
}]]></Config>
</DataType>