<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a724f97-057d-406f-a29b-eeed8b4a70bb" Alias="Host" Level="1">
  <Info>
    <Name>Host</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6adedd05-3d3c-4361-8d43-30b51300fb68",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "290bc587-09fd-43dd-9e6e-e5f516d67ca6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "4f49577b-2918-4c63-a90a-4fce62e12ec1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": true,
  "useLiveEditing": false,
  "validationLimit": {}
}]]></Config>
</DataType>