<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1177abc-d6f7-4205-be8f-e49b9606dc44" Alias="Intro ImageVideo" Level="1">
  <Info>
    <Name>Intro ImageVideo</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e2d4e184-3aa7-4e0a-bb48-7d954283dc4e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "5ca0d895-78dc-4c90-b73b-f0cf926dbac0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>