<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e6d4937-6ec4-476a-8a3f-cd1bd4551ec7" Alias="List View - events" Level="1">
  <Info>
    <Name>List View - events</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "bulkActionPermissions": {
    "allowBulkPublish": true,
    "allowBulkUnpublish": true,
    "allowBulkCopy": true,
    "allowBulkMove": true,
    "allowBulkDelete": true
  },
  "icon": "icon-list",
  "includeProperties": [
    {
      "alias": "date",
      "header": "Event Date",
      "nameTemplate": null,
      "isSystem": false
    },
    {
      "alias": "sortOrder",
      "header": "Sort order",
      "nameTemplate": null,
      "isSystem": true
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "nameTemplate": null,
      "isSystem": true
    },
    {
      "alias": "creator",
      "header": "Created by",
      "nameTemplate": null,
      "isSystem": true
    }
  ],
  "layouts": [
    {
      "name": "List",
      "collectionView": "Umb.CollectionView.Document.Table",
      "icon": "icon-list",
      "isSystem": true,
      "selected": true
    },
    {
      "name": "grid",
      "collectionView": "Umb.CollectionView.Document.Grid",
      "icon": "icon-thumbnails-small",
      "isSystem": true,
      "selected": true
    }
  ],
  "orderBy": "date",
  "orderDirection": "desc",
  "pageSize": 10,
  "showContentFirst": false,
  "tabName": "Events",
  "umbMigrationV14": "2024-08-22T04:20:26.9541639+00:00",
  "useInfiniteEditor": false
}]]></Config>
</DataType>