<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5dcfd524-d91b-4d40-a2cc-0ce37fe63fe7" Alias="List View - event" Level="1">
  <Info>
    <Name>List View - event</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "bulkActionPermissions": {
    "allowBulkPublish": true,
    "allowBulkUnpublish": true,
    "allowBulkCopy": true,
    "allowBulkMove": true,
    "allowBulkDelete": true
  },
  "icon": "icon-list",
  "includeProperties": [
    {
      "alias": "sortOrder",
      "header": "Sort order",
      "nameTemplate": null,
      "isSystem": true
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "nameTemplate": null,
      "isSystem": true
    },
    {
      "alias": "creator",
      "header": "Created by",
      "nameTemplate": null,
      "isSystem": true
    }
  ],
  "layouts": [
    {
      "name": "List",
      "collectionView": "Umb.CollectionView.Document.Table",
      "icon": "icon-list",
      "isSystem": true,
      "selected": true
    },
    {
      "name": "grid",
      "collectionView": "Umb.CollectionView.Document.Grid",
      "icon": "icon-thumbnails-small",
      "isSystem": true,
      "selected": true
    }
  ],
  "orderBy": "sortOrder",
  "orderDirection": "asc",
  "pageSize": 10,
  "showContentFirst": true,
  "tabName": "Presentations",
  "umbMigrationV14": "2024-08-22T04:20:26.9536195+00:00",
  "useInfiniteEditor": false
}]]></Config>
</DataType>