<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b02da1e4-be26-478b-90f9-d2ac9fea7526" Alias="Markdown" Level="1">
  <Info>
    <Name>Markdown</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MarkdownEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "preview": true
}]]></Config>
</DataType>