<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3bdadba6-939d-4735-b575-8c50e0bdbd0f" Alias="Skill Tags Picker" Level="1">
  <Info>
    <Name>Skill Tags Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "tag",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/42f238f19bd84f569a9c42dca043460a",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>