services:
  sgf-devs:
    build:
      context: ./
      dockerfile: ./Dockerfile
    env_file:
      - .env
    volumes:
      - './SgfDevs/umbraco/Data/Umbraco.sqlite.db:/usr/src/main/umbraco/Data/Umbraco.sqlite.db'
      - 'media-cache:/usr/src/main/umbraco/TEMP/MediaCache'
      - 'data-protection-keys:/root/.aspnet/DataProtection-Keys'
    restart: unless-stopped
  proxy:
    image: caddy:2.8
    restart: always
    ports:
      - '${HTTP_PORT:-80}:80'
      - '${HTTPS_PORT:-443}:443'
      - '${HTTPS_PORT:-443}:443/udp'
    volumes:
      - './caddy/${CADDY_ENVIRONMENT:-Development}/Caddyfile:/etc/caddy/Caddyfile'
      - caddy_data:/data
      - caddy_config:/config

volumes:
  media-cache:
  data-protection-keys:
  caddy_data:
  caddy_config:
