<?xml version="1.0" encoding="utf-8"?>
<Content Key="d36970f1-b9aa-4e5b-bb3b-929d89000b48" Alias="2022 Tech Survey" Level="2">
  <Info>
    <Parent Key="2504572c-2467-457c-990d-06aef735cb5d">Home</Parent>
    <Path>/Home/TechSurvey</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-11-02T03:04:13</CreateDate>
    <NodeName Default="2022 Tech Survey" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c7b2340e-c3aa-4fd6-b6fd-16c979ceae08">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ba195b71-e098-4a53-a763-2e536e45d806",
      "key": "34c1e290-945c-4a74-834a-fc0b0540ff86",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "![enter image description here][3]\n\nHey all, It\u2019s that time again, this year we will be splitting our annual surveys into two parts. First up is the tech survey. Please help us in understanding what kind of tech our community is using by [filling out this survey][1]. Just a few minutes of your time will go a long ways in helping us craft content that is relevant to the group.\n\n[2022 Tech Survey][2]\n\n  [1]: https://opinion.askattest.com/CW3CC\n  [2]: https://opinion.askattest.com/CW3CC\n  [3]: /media/5kffd5cy/survey.png"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "34c1e290-945c-4a74-834a-fc0b0540ff86",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "34c1e290-945c-4a74-834a-fc0b0540ff86",
        "contentUdi": "umb://element/34c1e290945c4a74834afc0b0540ff86",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[Please help us in understanding what kind of tech our community is using by filling out this survey.]]></Value>
    </description>
    <OgImage>
      <Value><![CDATA[umb://media/fc518afc8558491cb6c73da0072c7796]]></Value>
    </OgImage>
    <titleTag>
      <Value><![CDATA[2022 Springfield Devs Tech Survey]]></Value>
    </titleTag>
  </Properties>
</Content>