<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c98f798-e571-4f3e-a6bd-1fd115934d86" Alias="Google Cloud Platform" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/GoogleCloudPlatform</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-03-08T00:37:41</CreateDate>
    <NodeName Default="Google Cloud Platform" />
    <SortOrder>40</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
  </Properties>
</Content>