<?xml version="1.0" encoding="utf-8"?>
<Content Key="2504572c-2467-457c-990d-06aef735cb5d" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2020-11-22T14:19:00</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f94a56f8-f31e-46fb-a526-f353d39f171f">Home</Template>
  </Info>
  <Properties />
</Content>