<?xml version="1.0" encoding="utf-8"?>
<Content Key="710a9a15-a5d6-4f6c-b282-9ca9e40c0de4" Alias="Let’s Encrypt 101: Deep Dive into Secure Certificates for Web Services" Level="4">
  <Info>
    <Parent Key="2c159924-452a-41de-8082-2ff58e5f9180">Dev Night Feb 2021</Parent>
    <Path>/Home/Events/DevNightFeb2021/LetSEncrypt101DeepDiveIntoSecureCertificatesForWebServices</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2020-12-24T16:24:02</CreateDate>
    <NodeName Default="Let’s Encrypt 101: Deep Dive into Secure Certificates for Web Services" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Find out how secure certificates work and how to avoid common issues. We will discuss how certificates work in general, how Let’s Encrypt works, and how to choose between Let’s Encrypt vs other free and paid certificate products/services before we deep dive into deploying, managing, and troubleshooting secure certificates (aka SSL/TLS) for your web services. Jason has 15+ years experience deploying/managing 100’s of paid and free certificates.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/c0106abad2fd48b1819c10c37157805e]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/2a6668e1d589477d8f279ef4a774292c]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>