<?xml version="1.0" encoding="utf-8"?>
<Content Key="e953de75-e2e5-46ac-9bb5-fd7ba62d1fe6" Alias="Linux" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/Linux</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-03-08T00:39:12</CreateDate>
    <NodeName Default="Linux" />
    <SortOrder>46</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
  </Properties>
</Content>