<?xml version="1.0" encoding="utf-8"?>
<DataType Key="edcdd3aa-13dd-4abe-9c2d-1b62698bb8e8" Alias="Company Tags Picker" Level="1">
  <Info>
    <Name>Company Tags Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/f1a33751839f45efa9024f0d5dacee56"
  },
  "Filter": "tag",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>