<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d37a3a43-c07e-49c7-8ad3-74394f510b24" Alias="Group Picker" Level="1">
  <Info>
    <Name>Group Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/d132ca124e57439b990b6d97ac5aa3b6"
  },
  "Filter": "group",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>