<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32ef323a-fa8c-42f7-b3fb-fe21e77fe7fa" Alias="Groups Picker" Level="1">
  <Info>
    <Name>Groups Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/d132ca124e57439b990b6d97ac5aa3b6"
  },
  "Filter": "group",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>