<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e8f7c79-a32c-43aa-a044-979207e6749a" Alias="Leaders" Level="1">
  <Info>
    <Name>Leaders</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "leader",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>