<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6681bc55-b7fc-4625-baaa-d15e45087802" Alias="Member - User Picker" Level="1">
  <Info>
    <Name>Member - User Picker</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>