<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b66f1159-6943-40e6-9ac3-f0c52e8b0174" Alias="Multi Member Picker" Level="1">
  <Info>
    <Name>Multi Member Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "member",
    "query": "",
    "id": null
  },
  "Filter": "Member",
  "MinNumber": 1,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>