<?xml version="1.0" encoding="utf-8"?>
<Media Key="3913682f-a330-4b9e-9e9c-6e1144aa5a55" Alias="Added Innovation" Level="2">
  <Info>
    <Parent Key="0b88a7cd-508c-4c03-bfa4-4c213d5a92b4">Companies</Parent>
    <Path>/Companies/AddedInnovation</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-14T04:08:22</CreateDate>
    <NodeName Default="Added Innovation" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ffubgojq/added-innovation.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>