<?xml version="1.0" encoding="utf-8"?>
<Media Key="10cb6e48-7549-42e6-856b-64b3b8c9a741" Alias="Articles of Incorporation" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ArticlesOfIncorporation</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-08-07T05:19:57</CreateDate>
    <NodeName Default="Articles of Incorporation" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kbxmwecj/articles-of-incorporation.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>