<?xml version="1.0" encoding="utf-8"?>
<Media Key="c17500ee-4522-47ea-bf5b-a2fa0357ebe2" Alias="Icwfloor" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Icwfloor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-06-15T09:39:32</CreateDate>
    <NodeName Default="Icwfloor" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3aahlqjc/icwfloor.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>