<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5763de9-186b-46ad-8f45-08c44c2b0061" Alias="Logic Forte Devs Banner 1410X940" Level="2">
  <Info>
    <Parent Key="0b88a7cd-508c-4c03-bfa4-4c213d5a92b4">Companies</Parent>
    <Path>/Companies/LogicForteDevsBanner1410X940</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-07T06:51:02</CreateDate>
    <NodeName Default="Logic Forte Devs Banner 1410X940" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/324hn3ll/logic-forte-devs-banner-1410x940.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>