<?xml version="1.0" encoding="utf-8"?>
<Media Key="69a1eda5-9f4b-406d-8035-2fb2918ff47e" Alias="Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Members</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-21T01:27:08</CreateDate>
    <NodeName Default="Members" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties />
</Media>