<?xml version="1.0" encoding="utf-8"?>
<Media Key="91c7c47f-30e4-4492-b583-4e5ae5e56b62" Alias="Orange" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Orange</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-04T00:48:05</CreateDate>
    <NodeName Default="Orange" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/phcmpepe/orange.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>