<?xml version="1.0" encoding="utf-8"?>
<Media Key="6bd02e77-cc11-4065-b140-b9ec233466c9" Alias="Oreilly" Level="2">
  <Info>
    <Parent Key="0b88a7cd-508c-4c03-bfa4-4c213d5a92b4">Companies</Parent>
    <Path>/Companies/Oreilly</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-08-31T14:44:08</CreateDate>
    <NodeName Default="Oreilly" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/oexna0yr/oreilly.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>