<?xml version="1.0" encoding="utf-8"?>
<Media Key="6af936a6-bafe-4bd4-89e9-7b75ddfc5e4e" Alias="Pitt Technology Group" Level="2">
  <Info>
    <Parent Key="0b88a7cd-508c-4c03-bfa4-4c213d5a92b4">Companies</Parent>
    <Path>/Companies/PittTechnologyGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-17T02:43:06</CreateDate>
    <NodeName Default="Pitt Technology Group" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ua1ps0x4/pitt-technology-group-logo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>