<?xml version="1.0" encoding="utf-8"?>
<Media Key="4bef7f8e-23f9-4eb3-b524-d864cc21002e" Alias="Screenshot 2023 07 27 At 6.15.11 PM" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot20230727At61511PM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-27T23:15:24</CreateDate>
    <NodeName Default="Screenshot 2023 07 27 At 6.15.11 PM" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rb5p4s5z/screenshot-2023-07-27-at-61511-pm.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>