<?xml version="1.0" encoding="utf-8"?>
<Media Key="641f6009-37e6-4283-aa81-bd97c58469be" Alias="Sgfdevssponsorship2023 (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sgfdevssponsorship20232</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-06-11T15:37:55</CreateDate>
    <NodeName Default="Sgfdevssponsorship2023 (2)" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cfqb4zhg/sgfdevssponsorship2023-2.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>