<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc518afc-8558-491c-b6c7-3da0072c7796" Alias="Survey" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Survey</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-02T03:03:29</CreateDate>
    <NodeName Default="Survey" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5kffd5cy/survey.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>