<?xml version="1.0" encoding="utf-8"?>
<Media Key="21167353-62c5-430a-9dc6-e4ddc83b9101" Alias="Untitled 2023 07 06 00 39 09" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Untitled20230706003909</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-06T00:42:06</CreateDate>
    <NodeName Default="Untitled 2023 07 06 00 39 09" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kvzbmiof/untitled_2023-07-06_00-39-09.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>