<?xml version="1.0" encoding="utf-8"?>
<Media Key="a50eab0b-9db7-45ce-b877-d5e4e06edbd4" Alias="Untitled 2023 07 06 00 25 04" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Untitled20230706002504</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-06T00:25:32</CreateDate>
    <NodeName Default="Untitled 2023 07 06 00 25 04" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bwvb3jnx/untitled_2023-07-06_00-25-04.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>