// IE Haxorz

// An IE 11 specific style hack
@media all and (-ms-high-contrast:none)
{
    //*::-ms-backdrop, .merchandise-item.grid-fallback .content-details { min-height: 190px; }
}

// And now a video hack for the home page, cuz object-fit is no beuno
@media all and (-ms-high-contrast:none)
{
    //*::-ms-backdrop, .header-video video { height: auto; }
}

// Edge specific styling
@supports (-ms-ime-align:auto) {
    
}