.button, a.button {
    background: $light_blue;
    border-radius: 25.5px;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    padding: 0 24px;
    //display: inline-block;
    border: 0;
    height: 40px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    
    &.tall {
        height: 64px;
        border-radius: 33px;
    }
    
    &:disabled {
        background: #E0E0E0;
    }

    &.blue {
        color: $dark_blue;
    }

    &.inverse {
        background: $dark_blue;
    }
    
    &.wide {
        padding: 0 36px;

        @include mq-lt-medium {
            padding: 0 24px;
        }
    }

    &.outline {
        border: 1px solid #619ece;
        background: none;
        color: $dark_blue;

        &.small {
            padding: 0 14px;
            height: 30px;
        }

        &.dark {
            border-color: #000;
        }

        &.black {
            border-color: #000;
            color: #000;
        }

        &.gray {
            border-color: #d8d8d8;
            color: #000;
        }

        &.light_blue {
            border-color: $light_blue;
            color: #fff;
        }
    }
}
