.dev_night_banner
{
    background: $dark_blue;
    border-radius: 27px;
    padding: 0 0 144px 0;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 10;
    overflow: hidden;
    
    //background-image: url("/images/circuit_banner_top_left.svg");
    //background-repeat: no-repeat;
    //background-size: 35%;
    
    .headline {
        position: relative;
        display: inline-block;
        margin: 0 0 60px 0;
        padding: 30px 50px 22px 50px;
        transform: translateY(-4px);
        
        background-image: 
                url("/images/circuit_oval.svg"), 
                url("/images/circuit_oval.svg"), 
                url("/images/circuit_oval.svg"), 
                url("/images/circuit_oval.svg"),
                url("/images/circuit_line.svg"),
                url("/images/circuit_line.svg");
        background-size: 11px 11px, 11px 11px, 11px 11px, 11px 11px, 2px, 2px;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x;
        background-position: 0 0, right 0, 0 bottom, right bottom, right 0 top 4px, right 0 bottom 4px;
    }
    
    time {
        display: block;
        font-weight: bold;
        font-size: 20px;
        color: #fff;
        
        span {
            padding: 14px 0;
            width: 270px;
            display: inline-block;
            border-left: 2px solid $light_blue;
            border-right: 2px solid $light_blue;
        }
    }
    
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 0 43px;
        background: url("/images/circuit_line.svg") repeat-x center;
        background-size: 2px;
        
        li {
            position: relative;
            border: 2px solid $light_blue;
            padding: 33px;
            background: $dark_blue;
            align-items: center;
            display: flex;
            flex-direction: column;
            
            .members {
                display: flex;
                
                top: -40px;
                position: absolute;
                align-self: center;
                
                a {
                    border: 2px solid $light_blue;
                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                    display: block;
                    background: #153557;
                }
                
                a:not(:first-child) {
                    margin-left: -10px;
                    transform:rotateY(-1deg); /* and here */
                }
            }
            
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                filter: grayscale(100%);
            }
            
            h3 {
                font-size: 24px;
                color: #fff;
                letter-spacing: 0;
                line-height: 28px;
            }
            
            dl {
                margin: 0;
                
                dt, dd {
                    margin: 0;
                    display: inline-block;
                    text-transform: uppercase;
                    //font-size: 14px;
                    letter-spacing: 0.7px;
                }
                
                dd + dd:before {
                    content: ' | ';
                    position: relative;
                }
                
                a {
                    color: $light_blue;
                    text-decoration: none;
                }
            }
        }
    }

    .presentations_1 {
        grid-template-columns: repeat(1, 1fr);
        
        li {
            max-width: 575px;
            margin: 0 auto;
        }
    }

    .presentations_2 {
        grid-template-columns: repeat(2, 1fr);

        li:first-child {
            &:after {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                top: -52px;
                width: 100%;
                height: 52px;
                content: '';

                background-image:
                        url("/images/circuit_line.svg"),
                        url("/images/circuit_line.svg");

                background-size: 2px;
                background-repeat: repeat-y;
                background-position: right 73px top 0, right 48px top 0;
            }
        }
        
        li:last-child {
            &:after {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                top: -52px;
                width: 100%;
                height: 52px;
                content: '';
                //background: red;

                background-image:
                        url("/images/circuit_line.svg"),
                        url("/images/circuit_line.svg");

                background-size: 2px;
                background-repeat: repeat-y;
                background-position: 48px, 73px;
            }
        }
    }
    
    .presentations_3 {
        li:nth-child(2) {
            &:after {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                top: -52px;
                width: 100%;
                max-width: 500px;
                height: 52px;
                content: '';
                //background: red;
                
                background-image: 
                        url("/images/circuit_line.svg"),
                        url("/images/circuit_line.svg"),
                        url("/images/circuit_line.svg"),
                        url("/images/circuit_line.svg");
                
                background-size: 2px;
                background-repeat: repeat-y;
                background-position: 48px, 73px, right 73px top 0, right 48px top 0;
            }
        }
    }
    
    @include mq-medium
    {
        ul {
            display: block;
            //background: url("/images/circuit_line.svg") repeat-x top;
            background-position: 0 50px;
            
            li {
                margin-bottom: 24px;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    top: -24px !important;
                    width: 100%;
                    max-width: 500px;
                    height: 24px !important;
                    background-image: url("/images/circuit_line.svg"), url("/images/circuit_line.svg") !important;
                    background-size: 2px;
                    background-repeat: repeat-y;
                    background-position: 48px, right 73px top 0 !important;
                }
                
                &:last-child {
                    margin-bottom: 0;
                }
            }
            
            li:first-child {
                &:after {
                    top: -52px !important;
                    height: 52px !important;
                }
            }
        }
    }
}