.site_footer {
    border-radius: 27px 27px 0 0;
    padding: 57px 0 30px 0;
    background: #F4F4F4;

    a {
        color: #000;
        text-decoration: none;

        span {
            width: 25px;
            height: 25px;
            display: flex;
            place-content: center;
            align-items: center;
            border-radius: 50%;
            background: $light_blue;
            color: #fff;
            margin-left: 5px;
        }
    }

    .container {
        display: grid;
        grid-template-areas: "main signup" "other signup";
    }

    .main {
        grid-area: main;
        min-height: 270px;

        nav {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            margin-top: 10px;

            a {
                font-size: 15px;
                line-height: 1em;
                font-weight: 700;
                display: flex;
                align-items: center;
            }
        }
    }

    .other_links {
        grid-area: other;

        nav {
            display: flex;
            flex-wrap: wrap;

            a {
                font-size: 14px;
                line-height: 1em;
                font-weight: 300;

                &:hover {
                    text-decoration: underline;
                }
            }

            &:nth-child(1) {
                gap: 20px;
            }

            &:nth-child(2) {
                margin-top: 30px;
                gap: 30px;
            }
        }
    }

    .signup {
        grid-area: signup;
        max-width: 500px;
        margin-left: auto;
        font-weight: 300;

        h5 {
            font-size: 24px;
            color: #153558;
            letter-spacing: 0;
            line-height: 24px;
            margin: 0;
        }
    }

    @include mq-large-tablet {
        .container {
            display: flex;
            flex-direction: column;
        }

        .main {
            min-height: 0;
            margin-bottom: 60px;
            order: 1;
        }

        .signup {
            max-width: 500px;
            margin-bottom: 60px;
            margin-left: 0;
            order: 2;
        }

        .other_links {
            order: 3;

            nav:nth-child(2) {
                gap: 20px;
            }
        }
    }
}
