<?xml version="1.0" encoding="utf-8"?>
<Media Key="4eb525f0-bfe4-45c9-8a04-1da6edc1be99" Alias="Nls Logo Full Color" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NlsLogoFullColor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-06T00:21:54</CreateDate>
    <NodeName Default="Nls Logo Full Color" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4yslktxe/nls-logo-full-color.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>