<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a9fd627-ebd5-450b-a798-dceb3494ddbe" Alias="Sgfdevssponsorship2023 (3)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sgfdevssponsorship20233</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-08-04T16:30:14</CreateDate>
    <NodeName Default="Sgfdevssponsorship2023 (3)" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h5lj44wv/sgfdevssponsorship2023-3.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>