@model SgfDevs.ViewModels.ForgottenPasswordViewModel
@using System.Web.Mvc.Html
@using Umbraco.Web
@using SgfDevs.Controllers

<div class="container">
    @using (Html.BeginUmbracoForm<AccountController>("HandleForgottenPassword"))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Forgotten Password</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.EmailAddress)
            </div>

            <div class="editor-field">
                @Html.EditorFor(model => model.EmailAddress)
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>

            <p>
                <input type="submit" value="Remind Me" />
            </p>
        </fieldset>
     }
</div>
