@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using System.Web.Mvc.Html
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    var loginStatusModel = Members.GetCurrentLoginStatus();
    var logoutModel = new PostRedirectModel();
}

@if (loginStatusModel.IsLoggedIn)
{
    <li>
        <a href="/account">@loginStatusModel.Name</a>
    </li>
    <li>
        @using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout"))
        {
            <button>Logout</button>
            @Html.HiddenFor(m => logoutModel.RedirectUrl)
        }
    </li>
}
else
{
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Sign Up</a></li>
}