<?xml version="1.0" encoding="utf-8"?>
<Media Key="80ee5d1c-2177-46ae-ab1d-0671b84f715b" Alias="Acronym w spelled one line w TEC-01.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AcronymWSpelledOneLineWTEC01png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T18:53:13</CreateDate>
    <NodeName Default="Acronym w spelled one line w TEC-01.png" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/djop3adx/acronym-w-spelled-one-line-w-tec-01.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>