<?xml version="1.0" encoding="utf-8"?>
<Media Key="1cf4c916-e13d-4e5b-8787-2997f8aa1865" Alias="Bluescape-Logo-Dark-(500x87) (1).png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BluescapeLogoDark500x871Png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-01T13:18:46</CreateDate>
    <NodeName Default="Bluescape-Logo-Dark-(500x87) (1).png" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cdepihb3/bluescape-logo-dark-500x87-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>