<?xml version="1.0" encoding="utf-8"?>
<Media Key="34e60564-ca42-4a03-9c2e-9df39ce4f21b" Alias="DEV Night 169 (1).jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DEVNight1691Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-29T17:24:38</CreateDate>
    <NodeName Default="DEV Night 169 (1).jpg" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/micpmncc/dev-night-169-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>