<?xml version="1.0" encoding="utf-8"?>
<Media Key="2081313a-3db2-4e0a-8507-ec7240f77b4c" Alias="Frame 2 (2).png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Frame22Png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-30T22:15:43</CreateDate>
    <NodeName Default="Frame 2 (2).png" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hqyjcifs/frame-2-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>