<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6d04d95-1e73-4547-bcaa-7f591710fb1b" Alias="Frame 2 (4).png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Frame24Png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-30T22:17:56</CreateDate>
    <NodeName Default="Frame 2 (4).png" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sngnbvtt/frame-2-4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>