<?xml version="1.0" encoding="utf-8"?>
<Media Key="10198e39-afee-47b7-86e5-13bd2b64a5af" Alias="Frame 2.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Frame2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-01T13:23:10</CreateDate>
    <NodeName Default="Frame 2.png" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/h4hbseho/frame-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>