<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c986dc3-6c4d-4329-afcb-b8e5e7c043c5" Alias="Goodby Windows, Hello Linux Flyer" Level="2">
  <Info>
    <Parent Key="3ab16838-28e3-4112-bd67-103013f41bfe">Events</Parent>
    <Path>/Events/GoodbyWindowsHelloLinuxFlyer</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-02-03T01:39:51</CreateDate>
    <NodeName Default="Goodby Windows, Hello Linux Flyer" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1nwjq1cn/goodbye-windows-hello-linux.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>