<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce22f162-f66a-4213-840a-034aa45af29c" Alias="Screenshot 2024-11-04 at 12.57.44 PM.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot20241104At125744PMpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T18:58:13</CreateDate>
    <NodeName Default="Screenshot 2024-11-04 at 12.57.44 PM.png" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mtydfttk/screenshot-2024-11-04-at-125744-pm.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>