<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a4155de-bc8c-47a9-9930-4a98d7380880" Alias="Screen Shot 2022 11 17 At 11.24.44 PM" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ScreenShot20221117At112444PM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-18T05:26:14</CreateDate>
    <NodeName Default="Screen Shot 2022 11 17 At 11.24.44 PM" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1bkfccum/screen-shot-2022-11-17-at-112444-pm.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>