<?xml version="1.0" encoding="utf-8"?>
<Media Key="dde0f096-cff0-4711-8d79-20a2677feece" Alias="Sessionize Speaker 3ae34962-182a-42ed-9252-aa7c4a09b18f" Level="3">
  <Info>
    <Parent Key="edfd8ac9-a82a-4821-951e-04dc32ebe052">Imported Speakers</Parent>
    <Path>/Events/ImportedSpeakers/SessionizeSpeaker3ae34962182a42ed9252Aa7c4a09b18f</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-04T20:57:25</CreateDate>
    <NodeName Default="Sessionize Speaker 3ae34962-182a-42ed-9252-aa7c4a09b18f" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sdyobxpq/3ae34962-182a-42ed-9252-aa7c4a09b18f.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>