<?xml version="1.0" encoding="utf-8"?>
<Media Key="504419be-ab68-4cf4-8ae2-0a90e8075513" Alias="Sessionize Speaker 8bdcc56a-243c-4cd2-8a62-b2e5b6f9de8a" Level="3">
  <Info>
    <Parent Key="edfd8ac9-a82a-4821-951e-04dc32ebe052">Imported Speakers</Parent>
    <Path>/Events/ImportedSpeakers/SessionizeSpeaker8bdcc56a243c4cd28a62B2e5b6f9de8a</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-04T20:57:25</CreateDate>
    <NodeName Default="Sessionize Speaker 8bdcc56a-243c-4cd2-8a62-b2e5b6f9de8a" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xamfiudi/8bdcc56a-243c-4cd2-8a62-b2e5b6f9de8a.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>