<?xml version="1.0" encoding="utf-8"?>
<Media Key="86f5e130-8a54-44b7-8bcb-f18a24a50af2" Alias="Sessionize Speaker 0ee4ab4a-2a29-4fdf-a0e1-90bc69500c2e" Level="3">
  <Info>
    <Parent Key="edfd8ac9-a82a-4821-951e-04dc32ebe052">Imported Speakers</Parent>
    <Path>/Events/ImportedSpeakers/SessionizeSpeaker0ee4ab4a2a294fdfA0e190bc69500c2e</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-17T16:58:42</CreateDate>
    <NodeName Default="Sessionize Speaker 0ee4ab4a-2a29-4fdf-a0e1-90bc69500c2e" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g1qplbsu/0ee4ab4a-2a29-4fdf-a0e1-90bc69500c2e.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>