<?xml version="1.0" encoding="utf-8"?>
<Media Key="bee5235e-797a-49eb-8a6f-dd28e9c341ed" Alias="Sessionize Speaker ca4d3dcf-fb7e-472f-82e6-0d1e024597dc" Level="3">
  <Info>
    <Parent Key="edfd8ac9-a82a-4821-951e-04dc32ebe052">Imported Speakers</Parent>
    <Path>/Events/ImportedSpeakers/SessionizeSpeakerCa4d3dcfFb7e472f82e60d1e024597dc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-06T13:30:50</CreateDate>
    <NodeName Default="Sessionize Speaker ca4d3dcf-fb7e-472f-82e6-0d1e024597dc" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/larplpt0/ca4d3dcf-fb7e-472f-82e6-0d1e024597dc.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>