<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f74cea4-d42e-4ce7-94e2-727c0b849a75" Alias="SGFDevsSponsorship2026.pdf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SGFDevsSponsorship2026pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-05-07T01:57:44</CreateDate>
    <NodeName Default="SGFDevsSponsorship2026.pdf" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rlhhitzo/sgfdevssponsorship2026.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>