<?xml version="1.0" encoding="utf-8"?>
<Media Key="72618aad-2601-40a0-9d2e-d83bda9b964c" Alias="tech_exchange.png" Level="2">
  <Info>
    <Parent Key="3ab16838-28e3-4112-bd67-103013f41bfe">Events</Parent>
    <Path>/Events/tech_exchangepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-02T16:23:54</CreateDate>
    <NodeName Default="tech_exchange.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vofgc2qb/tech_exchange.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>