<?xml version="1.0" encoding="utf-8"?>
<Media Key="7019bc01-a018-4f50-b84c-caf480cdc839" Alias="Tech exchange.avif" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TechExchangeavif</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-03-02T16:18:05</CreateDate>
    <NodeName Default="Tech exchange.avif" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dg4bs2ay/tech-exchange.avif]]></Value>
    </umbracoFile>
  </Properties>
</Media>