@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Page>
@using ContentModels = Umbraco.Web.PublishedModels;

@{
    Layout = "_Layout.cshtml";
}

<section class="about_landing">
    <div class="container">
        <div class="content">
            <h1>Educating, inspiring and supporting developers, agencies and professionals in the Greater Springfield, Mo area.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, rerum placeat alias veritatis accusamus eum officia culpa, cupiditate atque tempora tempore voluptatem nihil consequatur libero fugiat quam reprehenderit fuga. Pariatur!</p>
            <p><a href="#" class="button wide">Join Today</a></p>
        </div>
    </div>
</section>

<section class="about_content">
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus illo ut earum atque et cumque harum ab.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum voluptatibus mollitia architecto et saepe nam quia nesciunt, ratione vero officia porro debitis assumenda in magni pariatur veniam, dolor iusto perspiciatis?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt excepturi fugit, non impedit quisquam totam quae ipsa dolorum omnis aut, vel nobis provident, esse possimus doloremque. Animi totam facilis quo.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab distinctio eos rerum quia iure. Iure, reiciendis aspernatur reprehenderit quia esse quisquam cumque placeat nihil modi illum id adipisci, odio incidunt?</p>
    <ol>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem inventore veritatis vitae doloribus maxime. Temporibus doloribus nulla animi dolorum ullam molestias delectus et praesentium, expedita, nam magni aut quaerat facere.</li>
        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem voluptatem quam sit laudantium libero harum?</li>
    </ol>
</section>

<section class="cards about_grid">
    <article class="card intro_card about_intro">
        <dl>
            <dt>Sponsorship Opportunities</dt>
            <dd>
                Connect with the developer community in Springfield
            </dd>
        </dl>

        <footer>
            <a href="#" class="button outline black">Become a Sponsor</a>
        </footer>
    </article>
    <article class="card about_card">
        <dl>
            <dt>How We Act</dt>
            <dd>
                Code of Conduct
            </dd>
        </dl>

        <footer>
            <a href="#" class="button inverse">Download Document</a>
        </footer>
    </article>
    <article class="card about_card">
        <dl>
            <dt>Why We Exist</dt>
            <dd>
                Articles of Incorporation
            </dd>
        </dl>

        <footer>
            <a href="#" class="button inverse">Check it Out</a>
        </footer>
    </article>
    <article class="card about_card">
        <dl>
            <dt>Governance</dt>
            <dd>
                Bylaws
            </dd>
        </dl>

        <footer>
            <a href="#" class="button inverse">Download Document</a>
        </footer>
    </article>
</section>