@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ForgottenPassword>
@using ContentModels = Umbraco.Web.PublishedModels;
@using SgfDevs.Models
@{
    Layout = "_Layout.cshtml";
}
<h2>@ViewBag.ErrorMessage</h2>
@{
    Html.RenderPartial("Partials/ForgottenPassword", new ForgottenPasswordModel());
}