@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Page>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "_Layout.cshtml";
}

<div class="container">
	<div class="simple_content">
		<header>
			<h1>@Model.Name</h1>
		</header>

		@Html.GetBlockListHtml(Model.Blocks)
	</div>
</div>