@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Page>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Current = Umbraco.Web.Composing.Current;

@{
	Layout = "_Layout.cshtml";
}
<div class="container">
	<div class="simple_content">
		<header>
			<h1>@Model.Name</h1>
		</header>
     @{
        var searchQuery = Request.QueryString["query"];
    
        if (!string.IsNullOrEmpty(searchQuery))    
        {
            <div class="searchresults">
                <p>Your search results for <strong>@searchQuery</strong></p>
                <ul>
                    @foreach (var result in Umbraco.ContentQuery.Search(searchQuery))
                    {
                        <li>
                             <strong><a href="@result.Content.Url">@result.Content.Name</a></strong>
                        </li>
                    }
                </ul>
            </div>
         }
    }
    </div>
 </div>