*.config
!about.config
!account.config
!archives.config
!code-of-conduct.config
!companies.config
!companies_ke1lh2m5.config
!directory.config
!discord.config
!events.config
!forgotten-password.config
!founding-member.config
!groups.config
!home.config
!login.config
!member.config
!members.config
!skills.config
!sponsorship.config
!tags.config
!jobs.config
!jobs_5aoc24ro.config