<?xml version="1.0" encoding="utf-8"?>
<Content Key="afda0702-d7b1-42af-ac6a-0b65f96cedc6" Alias=".NET MAUI - All kinds of questions - some of the answers" Level="4">
  <Info>
    <Parent Key="fcb5aced-701e-4e22-83c2-3e7c1138c216">Dev Night September 2022</Parent>
    <Path>/Home/Events/DevNightSeptember2022/NETMAUIAllKindsOfQuestionsSomeOfTheAnswers</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2022-08-15T22:31:52</CreateDate>
    <NodeName Default=".NET MAUI - All kinds of questions - some of the answers" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[**************************************

Springfield Devs
.NET MAUI - All kinds of questions - some of the answers
Presented By: Tiffany Ford

On May 23, 2022 the .NET Multi-platform App UI, or .NET MAUI, was released to general availability. But what is it?

In this presentation, I'm going to introduce you to this new cross-platform UI tool and I'll show you how it works. We will talk about the features and benefits, and give you lots of resources on how to get started. 

**************************************

View the stream on Twitch at https://www.twitch.tv/sgfdevs]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/287392458/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/45d788961d364435830319a72630eded]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>