<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5da28f8-61f2-4cd5-88fe-e1455fdd9101" Alias="2022 Holiday Party" Level="2">
  <Info>
    <Parent Key="2504572c-2467-457c-990d-06aef735cb5d">Home</Parent>
    <Path>/Home/HolidayParty</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-11-02T02:50:15</CreateDate>
    <NodeName Default="2022 Holiday Party" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c7b2340e-c3aa-4fd6-b6fd-16c979ceae08">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/88b83937811a442a8b46c9c7216d81fa"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ba195b71-e098-4a53-a763-2e536e45d806",
      "udi": "umb://element/88b83937811a442a8b46c9c7216d81fa",
      "content": "\n![Holiday Party Banner][1]\n\n**Dev Night is going festive!**\n\nJoin us as we close out another solid year with networking, games, food and ugly holiday sweaters. Try your hand at card games or come ready to challenge each other for the ugliest sweater. Food is served at 6p with games starting at 7p. Awards for best dressed, fastest loser and biggest winner awarded at 9p.\n\nNever been to a Dev Night? No problem! We would love to have you join the Springfield Devs community as we close out the year (and beyond?). \n\nRSVPS are required so we can be sure to have enough food for everyone!\n\nSo [RSVP here][2] and we will see you there!\n\n![Menu and Entertainment][3]\n\n\n  [1]: /media/g4rboqdt/sgf_devs_holiday_party_flyer-1_2.png\n  [2]: https://forms.gle/kQsmLwrSMhdPJDAaA\n  [3]: /media/jh2ju5rm/screen-shot-2022-11-17-at-112914-pm.png"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[Dev Night is going festive! Join us as we close out another solid year with networking, games, food and ugly holiday sweaters.]]></Value>
    </description>
    <OgImage>
      <Value><![CDATA[umb://media/4007a331817341a3b403101abfc5797e]]></Value>
    </OgImage>
    <titleTag>
      <Value><![CDATA[Springfield Devs 2022 Holiday Party]]></Value>
    </titleTag>
  </Properties>
</Content>