<?xml version="1.0" encoding="utf-8"?>
<Content Key="999d1f9f-1a7b-4f92-a1c9-2a5c44d71afb" Alias="2024 Supporting Member" Level="3">
  <Info>
    <Parent Key="1978d3ad-87d6-48e9-b8dd-6d67facc02bc">Members</Parent>
    <Path>/Tags/Members/SupportingMember</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2024-03-09T12:51:34</CreateDate>
    <NodeName Default="2024 Supporting Member" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[2024 Supporting Member]]></Value>
    </displayName>
  </Properties>
</Content>