<?xml version="1.0" encoding="utf-8"?>
<Content Key="d8e55d5e-7d65-44df-9d6e-c2215b10e0f5" Alias="A Beginners Guide to Monitoring: Prometheus and Grafana" Level="4">
  <Info>
    <Parent Key="82748d3a-78d5-41ac-ac2e-d82dc42e1346">Dev Night November 2022</Parent>
    <Path>/Home/Events/DevNightNovember2022/ABeginnersGuideToMonitoringPrometheusAndGrafana</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2022-10-10T00:27:01</CreateDate>
    <NodeName Default="A Beginners Guide to Monitoring: Prometheus and Grafana" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[In the modern age, our software and systems have to be more reliable than ever. For some companies, several minutes of downtime can result in millions, if not billions of dollars of lost revenue and loss of trust from customers. With this in mind, engineers need to be more prepared than ever to solve issues when they arise. In many organizations with complex microservices, cloud environments, and thousands of containers, monitoring is no longer a nice thing to have, but a requirement for fundamental business operation. 

In this presentation, we’re going to cover one of the most useful open source tools for application and system monitoring, Prometheus. During this presentation, we will show how implementing Prometheus in our code works. We also show how it can assist with debugging issues in our code, keeping track of important metrics, and how we can use these metrics to alert us when things go wrong. We will also show examples of Grafana, and how it can be used to build visualizations to further assist our debugging. 

These topics are important to me as I have seen their power first hand as a software engineer. I have about 5 years of professional experience as an engineer thus far, most recently as a Systems Reliability Engineer at Cloudflare. Before that, I was a software engineer for 2.5 years at Jack Henry. I look forward to sharing information about what I’ve learned about system monitoring, and how we can build better, more reliable software through modern monitoring practices.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/289015797]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/238333d3bcf8430c885351dd08506abf]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>