<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e3b83e7-9519-4bd1-97d2-8187daacfdf2" Alias="Added Innovation" Level="3">
  <Info>
    <Parent Key="b46ef282-213b-4f99-bb02-5a1950add18d">Companies</Parent>
    <Path>/Home/Companies/AddedInnovation</Path>
    <Trashed>false</Trashed>
    <ContentType>company</ContentType>
    <CreateDate>2020-12-14T04:14:45</CreateDate>
    <NodeName Default="Added Innovation" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="f72f0653-4dc9-4878-8d7e-43da2f9224e0">Company</Template>
  </Info>
  <Properties>
    <aboutText>
      <Value><![CDATA[]]></Value>
    </aboutText>
    <availableForHire>
      <Value><![CDATA[0]]></Value>
    </availableForHire>
    <companyTags>
      <Value><![CDATA[]]></Value>
    </companyTags>
    <facebookUrl>
      <Value><![CDATA[]]></Value>
    </facebookUrl>
    <featuredEmbed>
      <Value><![CDATA[]]></Value>
    </featuredEmbed>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <image>
      <Value><![CDATA[umb://media/3913682fa3304b9e9e9c6e1144aa5a55]]></Value>
    </image>
    <instagramUrl>
      <Value><![CDATA[]]></Value>
    </instagramUrl>
    <isFoundingSponsor>
      <Value><![CDATA[]]></Value>
    </isFoundingSponsor>
    <isSponsor>
      <Value><![CDATA[]]></Value>
    </isSponsor>
    <linkedInUrl>
      <Value><![CDATA[]]></Value>
    </linkedInUrl>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <twitterUrl>
      <Value><![CDATA[]]></Value>
    </twitterUrl>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteUrl>
      <Value><![CDATA[https://addedinnovation.com/]]></Value>
    </websiteUrl>
  </Properties>
</Content>