<?xml version="1.0" encoding="utf-8"?>
<Content Key="db008991-4e0e-48b2-9ee5-93e11f0b5e22" Alias="Annual Survey" Level="4">
  <Info>
    <Parent Key="2e6e71a7-8914-4210-a2df-be3950526b99">Dev Night (taking off January)</Parent>
    <Path>/Home/Events/DevNightTakingOffJanuary/AnnualSurvey</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2022-12-28T16:51:33</CreateDate>
    <NodeName Default="Annual Survey" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Please Take our Annual Survey to help us prepare for 2023 Dev Nights]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://forms.gle/pYGcWSFUMBwravfv5]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/cd539ece01cf41deb91eefe5e3b13814]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>