<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa246ea4-c3d2-4079-af5e-f048e08ada3b" Alias="ApiEndpoints: A Better Way To Build APIs In ASP.NET?" Level="4">
  <Info>
    <Parent Key="137c148d-884f-4907-8d8e-0d3327339549">Dev Night June 2021</Parent>
    <Path>/Home/Events/DevNightJune2021/ApiEndpointsABetterWayToBuildAPIsInASPNET</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2021-05-26T19:22:22</CreateDate>
    <NodeName Default="ApiEndpoints: A Better Way To Build APIs In ASP.NET?" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7ba333da-49f8-4e1b-8637-b803cace3292">Presentation</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Coming Soon...]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/bcf54d4fe96a4a0faae63df73e609b53]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/a3c010868b05458c8d9100f665561805]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>