<?xml version="1.0" encoding="utf-8"?>
<Content Key="760f4776-abd0-4041-af22-38565c7f14f4" Alias="ARM on AWS: Migrating AWS services to the Graviton2 processor (EC2, ECS, CI/CD)" Level="4">
  <Info>
    <Parent Key="b4d1882f-403f-4920-b682-0ebcc35f9dbe">Dev Night April 2021</Parent>
    <Path>/Home/Events/DevNightApril2021/ARMOnAWSMigratingAWSServicesToTheGraviton2ProcessorEC2ECSCICD</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2021-03-29T16:16:34</CreateDate>
    <NodeName Default="ARM on AWS: Migrating AWS services to the Graviton2 processor (EC2, ECS, CI/CD)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7ba333da-49f8-4e1b-8637-b803cace3292">Presentation</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Are you interested in improving cost/performance by moving from Intel to ARM? Not sure what to expect? I will share my experience moving EC2 servers, ECS Docker containers, and a CI/CD pipeline (including CodeBuild and CodePipeline) from Intel to ARM.

This meeting is related to our March meeting (Apple Silicon M1: Developing on an ARM processor ). If you missed it, look for the recording on our YouTube channel. https://www.youtube.com/c/sgfaws]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/c0106abad2fd48b1819c10c37157805e]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/2a6668e1d589477d8f279ef4a774292c]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>