<?xml version="1.0" encoding="utf-8"?>
<Content Key="97ff8501-c0fb-4b5b-ab95-53b13e521e2a" Alias="Assembly" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/Assembly</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-03-08T00:40:21</CreateDate>
    <NodeName Default="Assembly" />
    <SortOrder>50</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
  </Properties>
</Content>