<?xml version="1.0" encoding="utf-8"?>
<Content Key="d68d3546-72e1-406e-babc-a388659aac23" Alias="Building Complicated Systems with Domain-Driven Design" Level="4">
  <Info>
    <Parent Key="50f52b8a-67c6-480e-8c57-98daad69ff72">Dev Night March 2021</Parent>
    <Path>/Home/Events/DevNightMarch2021/BuildingComplicatedSystemsWithDomainDrivenDesign</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2021-02-28T22:00:15</CreateDate>
    <NodeName Default="Building Complicated Systems with Domain-Driven Design" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7ba333da-49f8-4e1b-8637-b803cace3292">Presentation</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Domain-Driven Design is a philosophy for organizing and building increasingly complex and long-lasting systems. Domain-Driven Design is a very deep topic, and we'll be looking at some of the core concepts, and how you can get started on integrating DDD into your projects to manage complexity.

This topic will be presented as food for-thought with only presentation slides (no live-coding, or github project/code examples).

The presenter is willing to do public live-coding sessions on Twitch, to help drive any of the concepts home. Reach out to him on the SGF Slack to initiate a session.

Github: https://github.com/fredlawl
Twitch: https://www.twitch.tv/fredlawl/about
YouTube: https://www.youtube.com/channel/UCWyGoHTRftx4iak459OzDNg]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/bcf54d4fe96a4a0faae63df73e609b53]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/fd25c0bf607b4ebd8b3c79c2053fab7a]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>