<?xml version="1.0" encoding="utf-8"?>
<Content Key="35b52f09-b2d6-41b8-a1b1-dab7deda4841" Alias="Codefi" Level="3">
  <Info>
    <Parent Key="b46ef282-213b-4f99-bb02-5a1950add18d">Companies</Parent>
    <Path>/Home/Companies/Codefi</Path>
    <Trashed>false</Trashed>
    <ContentType>company</ContentType>
    <CreateDate>2024-03-22T04:38:52</CreateDate>
    <NodeName Default="Codefi" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f72f0653-4dc9-4878-8d7e-43da2f9224e0">Company</Template>
  </Info>
  <Properties>
    <aboutText>
      <Value><![CDATA[]]></Value>
    </aboutText>
    <availableForHire>
      <Value><![CDATA[0]]></Value>
    </availableForHire>
    <companyTags>
      <Value><![CDATA[]]></Value>
    </companyTags>
    <facebookUrl>
      <Value><![CDATA[https://www.facebook.com/CodefiConnects]]></Value>
    </facebookUrl>
    <featuredEmbed>
      <Value><![CDATA[]]></Value>
    </featuredEmbed>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <image>
      <Value><![CDATA[umb://media/ffb7f8ec171648e7a75e19fdc4496f8b]]></Value>
    </image>
    <instagramUrl>
      <Value><![CDATA[]]></Value>
    </instagramUrl>
    <isFoundingSponsor>
      <Value><![CDATA[0]]></Value>
    </isFoundingSponsor>
    <isSponsor>
      <Value><![CDATA[1]]></Value>
    </isSponsor>
    <linkedInUrl>
      <Value><![CDATA[https://www.linkedin.com/company/codeficonnects/]]></Value>
    </linkedInUrl>
    <location>
      <Value><![CDATA[Springfield, MO]]></Value>
    </location>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <twitterUrl>
      <Value><![CDATA[https://twitter.com/CodefiWorks]]></Value>
    </twitterUrl>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteUrl>
      <Value><![CDATA[https://www.codefiworks.com/]]></Value>
    </websiteUrl>
  </Properties>
</Content>