<?xml version="1.0" encoding="utf-8"?>
<Content Key="4fc01230-55ab-4ccf-b439-c53bdf53cfc9" Alias="Demystifying Personalization" Level="4">
  <Info>
    <Parent Key="9b801b77-41a9-4a5f-8552-795b21f191ee">Dev Night - September 2023</Parent>
    <Path>/Home/Events/DevNightSeptember2023/DemystifyingPersonalization</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2023-08-14T22:20:27</CreateDate>
    <NodeName Default="Demystifying Personalization" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7ba333da-49f8-4e1b-8637-b803cace3292">Presentation</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/295218207/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/4d96e056673b444ebcda674809caa9ee]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>