<?xml version="1.0" encoding="utf-8"?>
<Content Key="06f6784c-53a5-4fc4-8b78-f1c55db374d8" Alias="Dev Night September 2021" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightSeptember2021</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2021-08-20T14:28:12</CreateDate>
    <NodeName Default="Dev Night September 2021" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="f6edcd00-1097-42fb-aa62-566bec3489bc">Event</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2021-09-01T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>