<?xml version="1.0" encoding="utf-8"?>
<Content Key="93b740c8-61bb-4441-bf65-97518dd76c07" Alias="Dev Night November 2021" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightNovember2021</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2021-10-18T22:15:44</CreateDate>
    <NodeName Default="Dev Night November 2021" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="f6edcd00-1097-42fb-aa62-566bec3489bc">Event</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2021-11-03T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>