<?xml version="1.0" encoding="utf-8"?>
<Content Key="59717869-5740-4092-8db2-1efae5e2db29" Alias="Dev Night - October 2023" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightOctober2023</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-09-20T13:17:03</CreateDate>
    <NodeName Default="Dev Night - October 2023" />
    <SortOrder>31</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="f6edcd00-1097-42fb-aa62-566bec3489bc">Event</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2023-10-04T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>