<?xml version="1.0" encoding="utf-8"?>
<Content Key="b00b4c94-4a6d-4acd-a1a8-7d00061dd16e" Alias="Dev Night - July 2023" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightJuly2023</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-06-07T18:17:47</CreateDate>
    <NodeName Default="Dev Night - July 2023" />
    <SortOrder>28</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="f6edcd00-1097-42fb-aa62-566bec3489bc">Event</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2023-07-05T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>