<?xml version="1.0" encoding="utf-8"?>
<Content Key="137c148d-884f-4907-8d8e-0d3327339549" Alias="Dev Night June 2021" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightJune2021</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2021-05-26T19:19:42</CreateDate>
    <NodeName Default="Dev Night June 2021" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="f6edcd00-1097-42fb-aa62-566bec3489bc">Event</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2021-06-02T12:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>