<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dce123f-7763-4808-9997-08805f18c880" Alias="efactory" Level="3">
  <Info>
    <Parent Key="b46ef282-213b-4f99-bb02-5a1950add18d">Companies</Parent>
    <Path>/Home/Companies/efactory</Path>
    <Trashed>false</Trashed>
    <ContentType>company</ContentType>
    <CreateDate>2021-11-04T00:09:15</CreateDate>
    <NodeName Default="efactory" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f72f0653-4dc9-4878-8d7e-43da2f9224e0">Company</Template>
  </Info>
  <Properties>
    <aboutText>
      <Value><![CDATA[The efactory opened its doors in March of 2013 with one goal in mind: to serve entrepreneurs and business owners throughout southwest Missouri. Today our network of programs is designed to support both large and small businesses throughout southwest Missouri. Whether you’re an entrepreneur looking for 1:1 assistance or a large employer addressing workforce challenges, we’re here to help you start, scale and succeed. Our team and clients have accomplished some incredible things over the years. Learn more about the impact our programs make in southwest Missouri. 

We’re proud to be part of the [IDEA Commons][1] district, [Missouri State University’s][2] vision for an urban innovation park. The efactory relies on community support and partnerships. [Find out how you can support][3] entrepreneurship and innovation in Springfield, MO.

We believe hard work, determination, collaboration, and good ideas are worth fighting for. We truly believe Springfield, Missouri is where dreams can come true. Want to learn more? We offer [tours every Friday at 10:00 a.m.][4] We’ll see you then!


  [1]: https://ideacommons.missouristate.edu/
  [2]: https://www.missouristate.edu/
  [3]: https://efactory.missouristate.edu/support/
  [4]: https://efactory.missouristate.edu/tour/]]></Value>
    </aboutText>
    <availableForHire>
      <Value><![CDATA[0]]></Value>
    </availableForHire>
    <companyTags>
      <Value><![CDATA[]]></Value>
    </companyTags>
    <facebookUrl>
      <Value><![CDATA[https://www.facebook.com/efactorySGF/]]></Value>
    </facebookUrl>
    <featuredEmbed>
      <Value><![CDATA[]]></Value>
    </featuredEmbed>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <image>
      <Value><![CDATA[umb://media/137e03386be0406aae245e8bc5aa8b73]]></Value>
    </image>
    <instagramUrl>
      <Value><![CDATA[https://www.instagram.com/efactorySGF/]]></Value>
    </instagramUrl>
    <isFoundingSponsor>
      <Value><![CDATA[1]]></Value>
    </isFoundingSponsor>
    <isSponsor>
      <Value><![CDATA[1]]></Value>
    </isSponsor>
    <linkedInUrl>
      <Value><![CDATA[https://www.linkedin.com/company/efactorymsu/]]></Value>
    </linkedInUrl>
    <location>
      <Value><![CDATA[Springfield, MO]]></Value>
    </location>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <twitterUrl>
      <Value><![CDATA[https://twitter.com/efactorySGF]]></Value>
    </twitterUrl>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteUrl>
      <Value><![CDATA[https://efactory.missouristate.edu/]]></Value>
    </websiteUrl>
  </Properties>
</Content>