<?xml version="1.0" encoding="utf-8"?>
<Content Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad" Alias="Events" Level="2">
  <Info>
    <Parent Key="2504572c-2467-457c-990d-06aef735cb5d">Home</Parent>
    <Path>/Home/Events</Path>
    <Trashed>false</Trashed>
    <ContentType>events</ContentType>
    <CreateDate>2020-11-22T16:24:43</CreateDate>
    <NodeName Default="Events" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d99e626b-c824-4197-80a8-1eb0b64e4acb">Events</Template>
  </Info>
  <Properties />
</Content>