<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a3f6e70-fb7d-45ba-9380-806fd2b2464a" Alias="Forgotten Password" Level="2">
  <Info>
    <Parent Key="2504572c-2467-457c-990d-06aef735cb5d">Home</Parent>
    <Path>/Home/ForgottenPassword</Path>
    <Trashed>false</Trashed>
    <ContentType>forgottenPassword</ContentType>
    <CreateDate>2021-03-12T06:39:07</CreateDate>
    <NodeName Default="Forgotten Password" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>