<?xml version="1.0" encoding="utf-8"?>
<Content Key="6cadd37a-ecfa-4d9a-9c5c-3ad8733f1aed" Alias="Founding Member" Level="3">
  <Info>
    <Parent Key="1978d3ad-87d6-48e9-b8dd-6d67facc02bc">Members</Parent>
    <Path>/Tags/Members/FoundingMember</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2022-07-14T04:21:41</CreateDate>
    <NodeName Default="Founding Member" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
  </Properties>
</Content>