<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ab75cd4-1adf-4c0b-87c0-3201be0025b3" Alias="Func That! A Dive into Functional Programming" Level="4">
  <Info>
    <Parent Key="9b801b77-41a9-4a5f-8552-795b21f191ee">Dev Night - September 2023</Parent>
    <Path>/Home/Events/DevNightSeptember2023/FuncThatADiveIntoFunctionalProgramming</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2023-08-03T15:47:40</CreateDate>
    <NodeName Default="Func That! A Dive into Functional Programming" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7ba333da-49f8-4e1b-8637-b803cace3292">Presentation</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/295218207]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/7bf4479dd4fb455ebf0c944ba9d1a7e7]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>