<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3d6e4ec-6ebd-4d82-95d4-6e5dcf4a33d3" Alias="Getting Started with Entity Framework and WebApi (.NET core 6)" Level="4">
  <Info>
    <Parent Key="f5d50152-1f35-4c58-a0fb-b96dac0ec1dd">Dev Night May 2022</Parent>
    <Path>/Home/Events/DevNightMay2022/GettingStartedWithEntityFrameworkAndWebApiNETCore6</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2022-04-28T14:18:32</CreateDate>
    <NodeName Default="Getting Started with Entity Framework and WebApi (.NET core 6)" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[**************************************
.NET User Group
Getting Started with Entity Framework and WebApi (.NET core 6)
Presented by: Ben Pomerenke
**************************************
Choosing a technology for an API? Upgrading a legacy system? Maybe just trying to keep up with the new hotness?

Ben Pomerenke, from World Wide Technology, will be showing how to bootstrap a new api project with a database using .NET core 6, entity framework and miscellaneous tools / libraries. Ben has over 15 years experience in the industry and has participated in development teams using a variety of technologies to build APIs for medium to large enterprise customers. In this talk he will go beyond the nuts and bolts of how to build an API and will share common patterns to deal with maintenance and evolution of software projects.

View the stream on Twitch at https://www.twitch.tv/sgfdotnet]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/bcf54d4fe96a4a0faae63df73e609b53]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/e54e0241dca1401e911463f972bd9ece]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>