<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee2eaf34-f004-43f9-8b55-0c5d3ab6e695" Alias="Have your cake and eat it too. Single-page apps with server-side routing using Inertia.js." Level="4">
  <Info>
    <Parent Key="b00b4c94-4a6d-4acd-a1a8-7d00061dd16e">Dev Night - July 2023</Parent>
    <Path>/Home/Events/DevNightJuly2023/HaveYourCakeAndEatItTooSinglePageAppsWithServerSideRoutingUsingInertiajs</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2023-06-07T18:24:46</CreateDate>
    <NodeName Default="Have your cake and eat it too. Single-page apps with server-side routing using Inertia.js." />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/294042525/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/4ce74f36c92c44daaa6dea300d5c6576]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>