<?xml version="1.0" encoding="utf-8"?>
<Content Key="a560d06d-8d4a-4981-a6fd-86eae22ba5c2" Alias="Hearo" Level="3">
  <Info>
    <Parent Key="b46ef282-213b-4f99-bb02-5a1950add18d">Companies</Parent>
    <Path>/Home/Companies/Hearo</Path>
    <Trashed>false</Trashed>
    <ContentType>company</ContentType>
    <CreateDate>2020-12-14T04:15:17</CreateDate>
    <NodeName Default="Hearo" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f72f0653-4dc9-4878-8d7e-43da2f9224e0">Company</Template>
  </Info>
  <Properties>
    <aboutText>
      <Value><![CDATA[Living with an intellectual or development disability can put limitations on a person’s privacy and independence. With Hearo, care providers can support people remotely, with a nonintrusive system that monitors, supports and connects people to their care provider, so they can live their fullest life, confidently and comfortably.]]></Value>
    </aboutText>
    <availableForHire>
      <Value><![CDATA[0]]></Value>
    </availableForHire>
    <companyTags>
      <Value><![CDATA[]]></Value>
    </companyTags>
    <facebookUrl>
      <Value><![CDATA[https://www.facebook.com/HearoLife]]></Value>
    </facebookUrl>
    <featuredEmbed>
      <Value><![CDATA[<script src="https://fast.wistia.com/embed/medias/r1p9erav19.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_r1p9erav19 videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/r1p9erav19/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>]]></Value>
    </featuredEmbed>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <headline>
      <Value><![CDATA[Remote Supports and Assistive Tech Company]]></Value>
    </headline>
    <image>
      <Value><![CDATA[umb://media/a9869e75febc4f439d1d7a68c406df00]]></Value>
    </image>
    <instagramUrl>
      <Value><![CDATA[https://www.instagram.com/hearolife/]]></Value>
    </instagramUrl>
    <isFoundingSponsor>
      <Value><![CDATA[1]]></Value>
    </isFoundingSponsor>
    <isSponsor>
      <Value><![CDATA[1]]></Value>
    </isSponsor>
    <linkedInUrl>
      <Value><![CDATA[https://www.linkedin.com/company/hearotechnologies/]]></Value>
    </linkedInUrl>
    <location>
      <Value><![CDATA[Springfield, MO]]></Value>
    </location>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <twitterUrl>
      <Value><![CDATA[https://twitter.com/hearolife]]></Value>
    </twitterUrl>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteUrl>
      <Value><![CDATA[https://hearolife.com]]></Value>
    </websiteUrl>
  </Properties>
</Content>