<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab6346f0-dc05-41d9-9636-685a3ac12271" Alias="Introduction to Reach - Part 2" Level="4">
  <Info>
    <Parent Key="17111e6c-ff69-457d-94fe-a29837bc2739">Dev Night April 2022</Parent>
    <Path>/Home/Events/DevNightApril2022/IntroductionToReachPart2</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2022-02-02T14:34:16</CreateDate>
    <NodeName Default="Introduction to Reach - Part 2" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7ba333da-49f8-4e1b-8637-b803cace3292">Presentation</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[**************************************
Springfield Devs
CSS Shootout - Introduction to Reach - Part 2
Presented by: Christopher Baunach
**************************************
This talk will be part two of my “introduction to the Reach language” series. If you missed that first talk or would like to view it again then it can be found here: https://www.twitch.tv/videos/1169523861

While the last talk was more language basics +  building a basic dapp with Reach, this talk will be more about reviewing various Reach dapps and explaining the crucial concepts that they employ. These dapps and crucial concepts are all covered in the Reach tutorial (available here: https://docs.reach.sh/tut/rps/) so if you’d like to use this talk as more of a review feel free to take the tutorial first and then listen to the talk. 

There will be one last talk after this which will be going over how to integrate a Reach dapp into a frontend, so keep an eye on the discord and the meetup if you want to catch that one as well. This talk will be given on a Windows PC, but Reach is also usable on Mac and Linux.

View the stream on Twitch at https://www.twitch.tv/sgfdevs]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/d5c01a822af943c79c1105ca3cefb13f]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>