<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab9c0ea4-96ac-4fd5-ae7d-a2b16f72578c" Alias="Laravel Livewire: Love it or Lose it?" Level="4">
  <Info>
    <Parent Key="aee5a383-7365-4616-a9da-c116e9a5e9cd">Dev Night Jan 2021</Parent>
    <Path>/Home/Events/DevNightJan2021/LaravelLivewireLoveItOrLoseIt</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2020-12-14T04:18:33</CreateDate>
    <NodeName Default="Laravel Livewire: Love it or Lose it?" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7ba333da-49f8-4e1b-8637-b803cace3292">Presentation</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Are you a fullstack developer who is sick and tired of maintaining your API and reactive UI separately? Do you long for yet another cool framework to explore? If you answered yes, no, declined to answer either of these questions at all, or skipped this openeing paragraph altogether, then this presentation is for you.

While it’s not the best solution for everybody or everything, Laravel Livewire is an interesting approach to building fullstack web applications. The ideas behind it and the efficiencies it can create make Livewire a compelling choice for some projects. In this presentation, we’ll go through a quick overview of the framework and what it does, look at its pros and cons, and of course build some sort of contrived web app to test it out.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/e4a9ec0238244bafb55096c2a539cfe0]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>