<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2319078-1461-492e-ac7e-bbae5b1c0a51" Alias="Method 2021 - Date TBD" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/Method2021DateTBD</Path>
    <Trashed>false</Trashed>
    <ContentType>communityEvent</ContentType>
    <CreateDate>2020-12-14T04:21:23</CreateDate>
    <NodeName Default="Method 2021 - Date TBD" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Springfield]]></Value>
    </city>
    <endTime>
      <Value><![CDATA[]]></Value>
    </endTime>
    <eventUrl>
      <Value><![CDATA[]]></Value>
    </eventUrl>
    <hostName>
      <Value><![CDATA[Springfield Devs]]></Value>
    </hostName>
    <image>
      <Value><![CDATA[umb://media/ff7ad208ff304879b298e0e01e28af2b]]></Value>
    </image>
    <price>
      <Value><![CDATA[$100]]></Value>
    </price>
    <startTime>
      <Value><![CDATA[2021-10-28T08:00:00]]></Value>
    </startTime>
    <state>
      <Value><![CDATA[MO]]></Value>
    </state>
  </Properties>
</Content>