<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8cdda9f-3bf2-403c-867b-f7587ca880cb" Alias="Mostly Serious" Level="3">
  <Info>
    <Parent Key="b46ef282-213b-4f99-bb02-5a1950add18d">Companies</Parent>
    <Path>/Home/Companies/MostlySerious</Path>
    <Trashed>false</Trashed>
    <ContentType>company</ContentType>
    <CreateDate>2023-10-04T00:48:43</CreateDate>
    <NodeName Default="Mostly Serious" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f72f0653-4dc9-4878-8d7e-43da2f9224e0">Company</Template>
  </Info>
  <Properties>
    <aboutText>
      <Value><![CDATA[Mostly Serious is a full-service agency with digital in our DNA. We craft thoughtful, tailored solutions and go-to-market strategies for growing brands and organizations. Rooted in “Why,” we form collaborative partnerships to tailor solutions, including custom websites, brand refinement, and strategic marketing campaigns.]]></Value>
    </aboutText>
    <availableForHire>
      <Value><![CDATA[0]]></Value>
    </availableForHire>
    <companyTags>
      <Value><![CDATA[]]></Value>
    </companyTags>
    <facebookUrl>
      <Value><![CDATA[https://www.facebook.com/mostlyserious]]></Value>
    </facebookUrl>
    <featuredEmbed>
      <Value><![CDATA[]]></Value>
    </featuredEmbed>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <image>
      <Value><![CDATA[umb://media/91c7c47f30e44492b5834e5ae5e56b62]]></Value>
    </image>
    <instagramUrl>
      <Value><![CDATA[]]></Value>
    </instagramUrl>
    <isFoundingSponsor>
      <Value><![CDATA[0]]></Value>
    </isFoundingSponsor>
    <isSponsor>
      <Value><![CDATA[1]]></Value>
    </isSponsor>
    <linkedInUrl>
      <Value><![CDATA[https://www.linkedin.com/company/3630600/]]></Value>
    </linkedInUrl>
    <location>
      <Value><![CDATA[Springfield, MO]]></Value>
    </location>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <twitterUrl>
      <Value><![CDATA[https://twitter.com/mostly_serious]]></Value>
    </twitterUrl>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteUrl>
      <Value><![CDATA[https://www.mostlyserious.io/]]></Value>
    </websiteUrl>
  </Properties>
</Content>