<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a5a1145-cecd-4df9-a9ef-f5e61412039b" Alias="NES Video Game Development and Demo" Level="4">
  <Info>
    <Parent Key="25c75c4a-5c71-4c73-82c9-cf715211cb9d">Dev Night July 2022</Parent>
    <Path>/Home/Events/DevNightJuly2022/NESVideoGameDevelopmentAndDemo</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2022-06-15T09:25:42</CreateDate>
    <NodeName Default="NES Video Game Development and Demo" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[**************************************

Springfield Devs
Freelance Video Game Development and Demo
Presented By: Zackary Turner

A fun and informative look at retro video games and romhack development. In this talk, you will get first-hand information on game development for the Nintendo Entertainment System as well as the Super Nintendo Entertainment System. Featured will be multiple topics including:
- An overview of assembly language and how it compares to higher-level programming languages
- What development tools looked like both back in the day as well as modern tools
- Thinking in terms of assembly and hardware, and how to use this knowledge to hack retro games.

**************************************

NOTE: This presentation is NOT at the MSU eFactory but is at the Ozarks Technical Community College. After the presentation, the group will be able to spend some time in the new Esports facility on campus and enjoy some gaming time. 

Location:
Ozarks Technical Community College
1001 E. Chestnut Expr.
Information Commons (IC) room 108BC

Parking is available in any of the red outlined lots shown in the image below. Enter where the arrows show![enter image description here][1]

A building map to help you find the room is below
![enter image description here][2]


  [1]: /media/iecdmiv2/otc-spfd-map.jpg
  [2]: /media/3aahlqjc/icwfloor.jpg]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/8283419f299e4bddad1f2ac8072d693e]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>