<?xml version="1.0" encoding="utf-8"?>
<Content Key="be65075a-683c-44e3-946a-b5bfda9e63f6" Alias="Next Level Solutions" Level="3">
  <Info>
    <Parent Key="b46ef282-213b-4f99-bb02-5a1950add18d">Companies</Parent>
    <Path>/Home/Companies/NextLevelSolutions</Path>
    <Trashed>false</Trashed>
    <ContentType>company</ContentType>
    <CreateDate>2023-07-06T00:18:19</CreateDate>
    <NodeName Default="Next Level Solutions" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f72f0653-4dc9-4878-8d7e-43da2f9224e0">Company</Template>
  </Info>
  <Properties>
    <aboutText>
      <Value><![CDATA[Next Level Solutions focuses exclusively on the technology needs of P&C insurance carriers. As a Systems Integrator partner with Duck Creek Technologies, we specialize in their full product suite and support projects of any scale. Next Level’s Quality Assurance as a Service practice is equipped to test P&C systems to the highest standard and ensure a successful end-product, and our Shared Services offering provides a centralized, full-service IT and DevOps solution. Our passion and expertise align to “Do.Good.Work”.]]></Value>
    </aboutText>
    <availableForHire>
      <Value><![CDATA[0]]></Value>
    </availableForHire>
    <companyTags>
      <Value><![CDATA[]]></Value>
    </companyTags>
    <facebookUrl>
      <Value><![CDATA[https://www.facebook.com/NLSNowLLC/]]></Value>
    </facebookUrl>
    <featuredEmbed>
      <Value><![CDATA[]]></Value>
    </featuredEmbed>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <image>
      <Value><![CDATA[umb://media/2116735362c5430a9dc6e4ddc83b9101]]></Value>
    </image>
    <instagramUrl>
      <Value><![CDATA[https://www.instagram.com/nlsnowllc]]></Value>
    </instagramUrl>
    <isFoundingSponsor>
      <Value><![CDATA[0]]></Value>
    </isFoundingSponsor>
    <isSponsor>
      <Value><![CDATA[1]]></Value>
    </isSponsor>
    <linkedInUrl>
      <Value><![CDATA[https://www.linkedin.com/company/nlsnow]]></Value>
    </linkedInUrl>
    <location>
      <Value><![CDATA[Springfield, MO]]></Value>
    </location>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <twitterUrl>
      <Value><![CDATA[]]></Value>
    </twitterUrl>
    <umbracoUrlName>
      <Value><![CDATA[nls]]></Value>
    </umbracoUrlName>
    <websiteUrl>
      <Value><![CDATA[https://www.nlsnow.com/]]></Value>
    </websiteUrl>
  </Properties>
</Content>