<?xml version="1.0" encoding="utf-8"?>
<Content Key="38781161-182c-42dc-b641-ecc2aecc4388" Alias="Practical Blazor" Level="4">
  <Info>
    <Parent Key="82748d3a-78d5-41ac-ac2e-d82dc42e1346">Dev Night November 2022</Parent>
    <Path>/Home/Events/DevNightNovember2022/PracticalBlazor</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2022-10-10T00:34:23</CreateDate>
    <NodeName Default="Practical Blazor" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Blazor brings the wonderful world of client-side functionality to the fingertips of C# developers. Blazor offers a lot of goodies that even the most ardent full stack .NET developers with their cherished front-end frameworks can find joy in.

In this session I will provide an overview of what in the heck Blazor is all about and cover the two different operating modes (WebAssembly, Server). I will also spend some time going over a couple of real-world use cases where I have implemented blazer and why it’s quickly becoming a favorite tool of mine.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/bcf54d4fe96a4a0faae63df73e609b53]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdotnet/events/288573373/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/ca399b60b0ca44589fb54a193f29f04c]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>