<?xml version="1.0" encoding="utf-8"?>
<Content Key="235713a3-e988-42ce-bc14-513fd8790416" Alias="Tags" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Tags</Path>
    <Trashed>false</Trashed>
    <ContentType>tags</ContentType>
    <CreateDate>2020-11-22T19:07:12</CreateDate>
    <NodeName Default="Tags" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>