<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d05099f-e6c2-4621-b593-167cc92308c4" Alias="Web Dev Intro Series - CSS/Sass" Level="4">
  <Info>
    <Parent Key="8752ae66-240c-4a72-942d-b344840505dc">Dev Night July 2021</Parent>
    <Path>/Home/Events/DevNightJuly2021/WebDevIntroSeriesCSSSass</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2021-06-21T20:07:34</CreateDate>
    <NodeName Default="Web Dev Intro Series - CSS/Sass" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7ba333da-49f8-4e1b-8637-b803cace3292">Presentation</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[In February we had our first Web Dev Intro Series sessions where we covered the very basics of HTML and CSS. There has been a lot of positive feedback from this session and I am excited to announce the second entry where we will dive deeper into CSS and Sass. The web development landscape is vast and can be very challenging to grasp as beginner. This series is designed to provide a high-level but targeted overview that gets right to the point of illustrating the need-to-know topics to start getting your feet wet.

We will start with a super quick refresher on HTML and basic CSS. We will then wade deeper into more advanced styling techniques and even touch on modern layout techniques with Flexbox and Grid. You'll also be introduced to a fantastic tool called Sass.

As with all of the Intro series sessions, this will be modeled specifically for beginners, so all skill levels are encourages to join!]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/ca399b60b0ca44589fb54a193f29f04c]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>