<?xml version="1.0" encoding="utf-8"?>
<Content Key="75a64eb0-0a0f-46c4-9585-214306b46974" Alias="WWT" Level="3">
  <Info>
    <Parent Key="b46ef282-213b-4f99-bb02-5a1950add18d">Companies</Parent>
    <Path>/Home/Companies/WWT</Path>
    <Trashed>false</Trashed>
    <ContentType>company</ContentType>
    <CreateDate>2021-08-04T14:01:36</CreateDate>
    <NodeName Default="WWT" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f72f0653-4dc9-4878-8d7e-43da2f9224e0">Company</Template>
  </Info>
  <Properties>
    <aboutText>
      <Value><![CDATA[World Wide Technology, Inc. is a privately-held technology services provider based in St. Louis, Missouri. The company has an annual revenue of $13.4 billion and employs 7,000 people.]]></Value>
    </aboutText>
    <availableForHire>
      <Value><![CDATA[0]]></Value>
    </availableForHire>
    <companyTags>
      <Value><![CDATA[]]></Value>
    </companyTags>
    <facebookUrl>
      <Value><![CDATA[https://www.facebook.com/WorldWideTechnologyInc]]></Value>
    </facebookUrl>
    <featuredEmbed>
      <Value><![CDATA[]]></Value>
    </featuredEmbed>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <image>
      <Value><![CDATA[umb://media/f6d4e5a21d3f4a53a23dc001e8d91e5a]]></Value>
    </image>
    <instagramUrl>
      <Value><![CDATA[https://www.instagram.com/wwt_inc/]]></Value>
    </instagramUrl>
    <isFoundingSponsor>
      <Value><![CDATA[1]]></Value>
    </isFoundingSponsor>
    <isSponsor>
      <Value><![CDATA[0]]></Value>
    </isSponsor>
    <linkedInUrl>
      <Value><![CDATA[https://www.linkedin.com/company/world-wide-technology/]]></Value>
    </linkedInUrl>
    <location>
      <Value><![CDATA[St. Louis, MO]]></Value>
    </location>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <twitterUrl>
      <Value><![CDATA[https://twitter.com/wwt_inc]]></Value>
    </twitterUrl>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteUrl>
      <Value><![CDATA[https://www.wwt.com/]]></Value>
    </websiteUrl>
  </Properties>
</Content>