<?xml version="1.0" encoding="utf-8"?>
<Content Key="1614b53b-d490-42a6-be34-f694660fa322" Alias="Xamarin" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/Xamarin</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-03-08T00:33:06</CreateDate>
    <NodeName Default="Xamarin" />
    <SortOrder>31</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
  </Properties>
</Content>