<?xml version="1.0" encoding="utf-8"?>
<Media Key="dbbef324-2f6d-4b09-875b-518be0f58401" Alias="1538675380692" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-03T21:47:29</CreateDate>
    <NodeName Default="1538675380692" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/elzl3w1n/1538675380692.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>