<?xml version="1.0" encoding="utf-8"?>
<Media Key="586839b0-2501-4eea-aa04-370381f232a5" Alias="_MWP7618.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MWP7618jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T18:52:50</CreateDate>
    <NodeName Default="_MWP7618.jpg" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wy2hqwab/_mwp7618.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>