<?xml version="1.0" encoding="utf-8"?>
<Media Key="76fff67f-6c62-4d0f-a2a7-5e43d338885f" Alias="cameron-presley.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/cameronPresleypng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-29T17:41:03</CreateDate>
    <NodeName Default="cameron-presley.png" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ph1p43tc/cameron-presley.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>