<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffb7f8ec-1716-48e7-a75e-19fdc4496f8b" Alias="Codefi" Level="2">
  <Info>
    <Parent Key="0b88a7cd-508c-4c03-bfa4-4c213d5a92b4">Companies</Parent>
    <Path>/Companies/Codefi</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-22T10:50:04</CreateDate>
    <NodeName Default="Codefi" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3l2lp5yw/codefi-logo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>