<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b88a7cd-508c-4c03-bfa4-4c213d5a92b4" Alias="Companies" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Companies</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-12-14T04:04:26</CreateDate>
    <NodeName Default="Companies" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>