<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc25e1e7-fd46-4585-80a3-2614595a2e5f" Alias="Dev Night Presentation.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DevNightPresentationpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-28T23:32:43</CreateDate>
    <NodeName Default="Dev Night Presentation.png" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2hqdl5cg/dev-night-presentation.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>