<?xml version="1.0" encoding="utf-8"?>
<Media Key="77abe0de-70be-4ccd-b148-ad8c4c65699c" Alias="EJR RGB" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EJRRGB</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-13T09:43:15</CreateDate>
    <NodeName Default="EJR RGB" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1dqkw334/untitled_2023-04-13_03-45-29.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>