<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff7ad208-ff30-4879-b298-e0e01e28af2b" Alias="Event Method" Level="2">
  <Info>
    <Parent Key="3ab16838-28e3-4112-bd67-103013f41bfe">Events</Parent>
    <Path>/Events/EventMethod</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-14T04:08:55</CreateDate>
    <NodeName Default="Event Method" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b1jhv5zq/event_method.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>