<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ab16838-28e3-4112-bd67-103013f41bfe" Alias="Events" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Events</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-12-14T04:04:33</CreateDate>
    <NodeName Default="Events" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>