<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8ad64c9-813c-477f-b014-e88931fafccf" Alias="Frontend Design" Level="2">
  <Info>
    <Parent Key="089e4717-56e9-4acb-b057-543a8c5051c6">Groups</Parent>
    <Path>/Groups/FrontendDesign</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-04-09T15:18:27</CreateDate>
    <NodeName Default="Frontend Design" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/z3sk14b2/frontend_design.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>