<?xml version="1.0" encoding="utf-8"?>
<Media Key="089e4717-56e9-4acb-b057-543a8c5051c6" Alias="Groups" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Groups</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-12-14T10:04:41</CreateDate>
    <NodeName Default="Groups" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>