<?xml version="1.0" encoding="utf-8"?>
<Media Key="70358461-8c0c-451f-8b11-b032ffd9f5db" Alias="Logic Forte" Level="2">
  <Info>
    <Parent Key="0b88a7cd-508c-4c03-bfa4-4c213d5a92b4">Companies</Parent>
    <Path>/Companies/LogicForte</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-10T22:33:37</CreateDate>
    <NodeName Default="Logic Forte" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m4cdk2am/logic-forte.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>