<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a0b5489-ae86-4c2a-87b8-d7002455bc01" Alias="OTC Spfd Map" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OTCSpfdMap</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-06-15T15:34:49</CreateDate>
    <NodeName Default="OTC Spfd Map" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r3kaxcug/otc-spfd-map.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>