<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e8af94f-662c-4a2b-8895-3a4e66fd196b" Alias="Screen Shot 2022 11 17 At 11.29.14 PM" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ScreenShot20221117At112914PM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-18T11:29:38</CreateDate>
    <NodeName Default="Screen Shot 2022 11 17 At 11.29.14 PM" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jh2ju5rm/screen-shot-2022-11-17-at-112914-pm.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>