<?xml version="1.0" encoding="utf-8"?>
<Media Key="4007a331-8173-41a3-b403-101abfc5797e" Alias="SGF Devs Holiday Party Flyer 1 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SGFDevsHolidayPartyFlyer12</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-02T08:50:04</CreateDate>
    <NodeName Default="SGF Devs Holiday Party Flyer 1 2" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g4rboqdt/sgf_devs_holiday_party_flyer-1_2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>