<?xml version="1.0" encoding="utf-8"?>
<Media Key="d79a60bc-cfe7-4c36-ad08-29364cc3ed7a" Alias="Sgfdevssponsorship2023 (3) (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sgfdevssponsorship202331</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-08-04T22:31:05</CreateDate>
    <NodeName Default="Sgfdevssponsorship2023 (3) (1)" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/urqjvv5h/sgfdevssponsorship2023-3.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>