<?xml version="1.0" encoding="utf-8"?>
<Media Key="df0f707f-a4e4-48bd-afc7-c1cebb6d358a" Alias="Sgfdevssponsorship2024" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sgfdevssponsorship2024</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-06-04T19:55:20</CreateDate>
    <NodeName Default="Sgfdevssponsorship2024" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m3ya5x5e/sgfdevssponsorship2024.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>