<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ac80dbe-8edb-45cb-9763-0a60792c9ec3" Alias="Sgfdevssponsorship2023 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sgfdevssponsorship20231</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-06-11T21:34:29</CreateDate>
    <NodeName Default="Sgfdevssponsorship2023 1" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uygnq0w1/sgfdevssponsorship2023_1.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>