<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab126951-86b8-4bd1-9353-5f978d1ded00" Alias="Sgfdevssponsorship2023 Individuals" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sgfdevssponsorship2023Individuals</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-07-01T20:38:51</CreateDate>
    <NodeName Default="Sgfdevssponsorship2023 Individuals" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jfubfk3y/sgfdevssponsorship2023-individuals.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>