<?xml version="1.0" encoding="utf-8"?>
<Media Key="46094c64-1a56-430f-84df-7b35abe1a97e" Alias="Springfield Devs Sponsorship" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SpringfieldDevsSponsorship</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-10-28T19:28:31</CreateDate>
    <NodeName Default="Springfield Devs Sponsorship" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/prgasrsw/springfield_devs_sponsorship.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>