<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f07362b2-605f-46ef-aa55-747fcff0d6b6" Alias="events" Level="1">
  <Info>
    <Name>Events</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>5e6d4937-6ec4-476a-8a3f-cd1bd4551ec7</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="0dcc7d14-b4b0-4276-89d0-64a2bcc98aad" SortOrder="0">event</ContentType>
    <ContentType Key="f94a8ef5-54cf-4626-b2d1-ead67c251498" SortOrder="1">communityEvent</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>