<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f0dc09dc-0e69-47e0-8e49-5fbad04eaa5f" Alias="jobs" Level="1">
  <Info>
    <Name>Jobs</Name>
    <Icon>icon-briefcase color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Jobs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="74477598-126a-40c0-ac5f-6fbc1c032c0d">Jobs</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>