<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7a4d4366-27c3-440e-91bf-fe8bba9318c3" Alias="leadership" Level="1">
  <Info>
    <Name>Leadership</Name>
    <Icon>icon-user-females color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Leadership</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fd6bc2fd-05ea-49b7-af82-e32fb323d5af">Leadership</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0eb1557d-5ee8-4a6f-8d02-4100d81bde4f</Key>
      <Name>Board of Directors</Name>
      <Alias>boardOfDirectors</Alias>
      <Definition>b66f1159-6943-40e6-9ac3-f0c52e8b0174</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c052d47d-1ca1-419a-a2c0-88c93905ef84</Key>
      <Name>History</Name>
      <Alias>history</Alias>
      <Definition>b66f1159-6943-40e6-9ac3-f0c52e8b0174</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0e45c9de-65da-4afd-8f41-9bd54add5c22</Key>
      <Name>Officers</Name>
      <Alias>officers</Alias>
      <Definition>b66f1159-6943-40e6-9ac3-f0c52e8b0174</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>72b42d1a-07c8-49de-9ed7-3b6f601ccbd7</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>