<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0679e2dd-1e67-41ce-9f29-85540d15d982" Alias="profile" Level="1">
  <Info>
    <Name>Account</Name>
    <Icon>icon-umb-users color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Profile</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="87c7a4a0-11a7-47f9-8cf3-6d455a4c67a4">Profile</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>