<?xml version="1.0" encoding="utf-8"?>
<Content Key="fcb5aced-701e-4e22-83c2-3e7c1138c216" Alias="Dev Night September 2022" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightSeptember2022</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2022-08-15T22:31:52</CreateDate>
    <NodeName Default="Dev Night September 2022" />
    <SortOrder>19</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2022-09-07T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>