<?xml version="1.0" encoding="utf-8"?>
<Content Key="30093ceb-21c6-4cba-b759-2533da405b70" Alias="Discord" Level="2">
  <Info>
    <Parent Key="2504572c-2467-457c-990d-06aef735cb5d">Home</Parent>
    <Path>/Home/Discord</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2021-04-06T04:02:02</CreateDate>
    <NodeName Default="Discord" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c7b2340e-c3aa-4fd6-b6fd-16c979ceae08">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4de970ccf65346e48c58b89c5532435e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ba195b71-e098-4a53-a763-2e536e45d806",
      "udi": "umb://element/4de970ccf65346e48c58b89c5532435e",
      "content": "### Springfield Devs Discord\n\nThe conversation continues on our Discord server. Talk shop, get involved, find gigs, learn about blockchain, etc.\n\n[https://discord.sgf.dev][1]\n\n### Dev Nights Meet In Discord\n\nWhether a Dev Night is online, in-person, or hybrid we will broadcast an introduction for the evening for the online viewers in the DEV-NIGHT - \u0022start-here\u0022 channel. Once started, this is where the monthly community announcements and introduction details for the evening will take place. If you\u0027d like to hear these details then please join this channel.\n\n\n  [1]: https://discord.sgf.dev"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <OgImage>
      <Value><![CDATA[]]></Value>
    </OgImage>
    <titleTag>
      <Value><![CDATA[]]></Value>
    </titleTag>
  </Properties>
</Content>