.intro_card {
    background: #f5f7f7;
    color: $dark_blue;
    padding: 28px 23px;
    font-size: 14px;
    display: flex !important;
    flex-direction: column;

    dl {
        margin: 0;
        text-align: left;

        dt {
            font-weight: 600;
            font-size: 14px;
            color: #000000;
            margin-bottom: 15px;
        }

        dd {
            margin: 0;
            font-weight: bold;
            font-size: 24px;
            color: #153557;
            letter-spacing: -0.32px;
            line-height: 32px;

            strong {
                color: $light_blue;
            }
        }
    }

    p {
        margin: 0;
    }

    footer {
        margin-top: auto;
    }

    &.about_intro {
        font-size: 27px;

        dt {
            padding-bottom: 1rem;
        }

        dd {
            font-size: 27px;
            color: #000000;
            line-height: 35px;
        }

        @include mq-small-desktop {
            max-width: 350px;
        }

        @include mq-large-mobile {
            max-width: 250px;
        }
    }
}
