<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc9c5660-f26a-4b0c-bcda-09d3573d25d6" Alias="Company Picker" Level="1">
  <Info>
    <Name>Company Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "company",
  "IgnoreUserStartNodes": true,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/b46ef282213b4f99bb025a1950add18d",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>