<?xml version="1.0" encoding="utf-8"?>
<DataType Key="58f38d86-7963-4752-8d61-cbb7dd7259de" Alias="Job Banner Image" Level="1">
  <Info>
    <Name>Job Banner Image</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisableFolderSelect": true,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "OnlyImages": true,
  "StartNodeId": "umb://media/8e5eb4a85a064a5c8f72bbabb2d81c1e"
}]]></Config>
</DataType>