<?xml version="1.0" encoding="utf-8"?>
<DataType Key="58f38d86-7963-4752-8d61-cbb7dd7259de" Alias="Job Banner Image" Level="1">
  <Info>
    <Name>Job Banner Image</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>