<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5093bb4f-53c5-4529-847d-4e38fb53d834" Alias="Job Tags Picker" Level="1">
  <Info>
    <Name>Job Tags Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/7a2e1cf8522e4557927c018c6d406a39"
  },
  "Filter": "tag",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>