<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1d78c15-4889-4485-b71d-bd882fa66a47" Alias="Member Tags Picker" Level="1">
  <Info>
    <Name>Member Tags Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "tag",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/1978d3ad87d648e9b8dd6d67facc02bc",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>