<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4062d08d-e088-4813-af3a-ff4c8c7becd4" Alias="Skill Tags 2" Level="1">
  <Info>
    <Name>Skill Tags 2</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/42f238f19bd84f569a9c42dca043460a",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>