<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d165d5c9-9031-49dd-9012-bd76ca369e93" Alias="User Picker" Level="1">
  <Info>
    <Name>User Picker</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>