<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3bdadba6-939d-4735-b575-8c50e0bdbd0f" Alias="Skill Tags Picker" Level="1">
  <Info>
    <Name>Skill Tags Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "d3afa3d9-621f-499e-bb8c-e58763df30ef",
  "ignoreUserStartNodes": false,
  "maxNumber": 0,
  "minNumber": 0,
  "showOpenButton": true,
  "startNode": {
    "type": "content",
    "id": "42f238f1-9bd8-4f56-9a9c-42dca043460a",
    "dynamicRoot": null
  },
  "umbMigrationV14": "2024-08-22T04:55:00.9954437+00:00"
}]]></Config>
</DataType>