<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1d78c15-4889-4485-b71d-bd882fa66a47" Alias="Member Tags Picker" Level="1">
  <Info>
    <Name>Member Tags Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "d3afa3d9-621f-499e-bb8c-e58763df30ef",
  "ignoreUserStartNodes": false,
  "maxNumber": 0,
  "minNumber": 0,
  "showOpenButton": false,
  "startNode": {
    "type": "content",
    "id": "1978d3ad-87d6-48e9-b8dd-6d67facc02bc",
    "dynamicRoot": null
  },
  "umbMigrationV14": "2024-08-22T04:55:00.9931442\u002B00:00"
}]]></Config>
</DataType>