<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a5aadce-d64e-4ebb-9155-8482149adf24" Alias="Page Blocks" Level="1">
  <Info>
    <Name>Page Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ba195b71-e098-4a53-a763-2e536e45d806",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "95778d76-76c0-4cb1-bad0-5a11158e177e",
      "label": "Rich Text Editor",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "validationLimit": {}
}]]></Config>
</DataType>