<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a6db957-bf69-4e01-9dbc-c2c65c92963a" Alias=".NET and Why You Should Care" Level="4">
  <Info>
    <Parent Key="8cfaa674-da48-4f28-991b-c9ef9ad59096">Dev Night March 2023</Parent>
    <Path>/Home/Events/DevNightMarch2023/NETAndWhyYouShouldCare</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2023-02-09T03:16:14</CreateDate>
    <NodeName Default=".NET and Why You Should Care" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Discover why .NET is a powerful and versatile development ecosystem, and why it's worth considering for your next project. This presentation will delve into the platform's capabilities, including the C# syntax and its evolution, and compare it to other popular ecosystems, highlighting its strengths and unique features. We'll also address common misconceptions such as .NET being just for enterprise companies and being an old unchanging platform. Both are not true, and we'll explore the reasons why. Whether you're an experienced developer or new to the platform, this presentation will provide valuable insights and reasons why you should care about .NET.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/bcf54d4fe96a4a0faae63df73e609b53]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/291496220]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/a3c010868b05458c8d9100f665561805]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>