<?xml version="1.0" encoding="utf-8"?>
<Content Key="58dfea29-fe6f-48dd-8f46-971f58e7e34a" Alias="2024 Supporting Member" Level="3">
  <Info>
    <Parent Key="1978d3ad-87d6-48e9-b8dd-6d67facc02bc">Members</Parent>
    <Path>/Tags/Members/SupportingMember</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2024-03-11T03:32:16</CreateDate>
    <NodeName Default="2024 Supporting Member" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[2024 Supporting Member]]></Value>
    </displayName>
  </Properties>
</Content>