<?xml version="1.0" encoding="utf-8"?>
<Content Key="b20e8163-29f9-48fe-9dd4-daf9d844fc17" Alias="2025 Supporting Member" Level="3">
  <Info>
    <Parent Key="1978d3ad-87d6-48e9-b8dd-6d67facc02bc">Members</Parent>
    <Path>/Tags/Members/SupportingMember</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2025-07-08T02:52:25</CreateDate>
    <NodeName Default="2025 Supporting Member" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[2025 Supporting Member]]></Value>
    </displayName>
  </Properties>
</Content>