<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c0a895c-58c1-4bd7-8f23-1d8cf9e58032" Alias="A Pragmatic Guide to Adopting Serverless Computing" Level="4">
  <Info>
    <Parent Key="a038c947-a98e-4e3d-91ea-48d0a62c8ce1">Dev Night - June 2023</Parent>
    <Path>/Home/Events/DevNightJune2023/APragmaticGuideToAdoptingServerlessComputing</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2023-05-19T03:45:31</CreateDate>
    <NodeName Default="A Pragmatic Guide to Adopting Serverless Computing" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/c0106abad2fd48b1819c10c37157805e]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/76b482226ed64dc78e55d26fac39e8e8]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>