<?xml version="1.0" encoding="utf-8"?>
<Content Key="b31d13c5-6853-45c8-b731-74b94126c1e0" Alias="A Pragmatic Guide to Adopting Serverless Computing" Level="4">
  <Info>
    <Parent Key="a47f43f8-97e9-40ab-bb44-5bff0f8fcb23">Dev Night - June 2023 (corrected)</Parent>
    <Path>/Home/Events/DevNightJune2023Corrected/APragmaticGuideToAdoptingServerlessComputing</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2023-05-23T18:48:10</CreateDate>
    <NodeName Default="A Pragmatic Guide to Adopting Serverless Computing" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[What is serverless and when should I use it? We'll answer this question as well as cover the pros and cons of serverless, lessons learned, and other tips. Serverless > Lambda. We'll discuss other serverless services beyond just Lambda. We will focus on AWS services, but the other major cloud providers have similar offerings and most of the concepts translate easily.

Ben Ellis is a freelance cloud architect with over 20 years of experience in software development. You may recognize him as the developer of the blockbuster app “iBird”, the #1 bird watching app on the Windows App Store (Wait, Windows has an app store? Indeed.) He holds 5 AWS certifications, serves as an AWS Community Builder for Serverless, and is passionate about using the right cloud architecture for the job.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/c0106abad2fd48b1819c10c37157805e]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/293671834/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/76b482226ed64dc78e55d26fac39e8e8]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>