<?xml version="1.0" encoding="utf-8"?>
<Content Key="e356a03c-d438-4678-8bd6-19eb9a91f830" Alias="A Year in Web3" Level="4">
  <Info>
    <Parent Key="82b07144-4026-4dea-bbee-2717d41db250">Dev Night April 2023</Parent>
    <Path>/Home/Events/DevNightApril2023/AYearInWeb3</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2023-03-01T00:43:35</CreateDate>
    <NodeName Default="A Year in Web3" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Details TBD]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/291937409]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/d5c01a822af943c79c1105ca3cefb13f]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>