<?xml version="1.0" encoding="utf-8"?>
<Content Key="b38c9607-a888-4559-b24f-6478d9b6095c" Alias="About" Level="2">
  <Info>
    <Parent Key="2504572c-2467-457c-990d-06aef735cb5d">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2020-12-28T04:44:25</CreateDate>
    <NodeName Default="About" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6942a4b3-0934-42fe-9168-e46a46766169">About</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ba195b71-e098-4a53-a763-2e536e45d806",
      "key": "8cffeb2a-8852-42cd-a9c0-0843b895749f",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sdfsdfsdfsdf"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "8cffeb2a-8852-42cd-a9c0-0843b895749f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8cffeb2a-8852-42cd-a9c0-0843b895749f",
        "contentUdi": "umb://element/8cffeb2a885242cda9c00843b895749f",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <OgImage>
      <Value><![CDATA[]]></Value>
    </OgImage>
    <titleTag>
      <Value><![CDATA[]]></Value>
    </titleTag>
  </Properties>
</Content>