<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9559dd1-07bb-414b-89f6-867b1c6d8533" Alias="Angular" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/Angular</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-03-08T06:34:19</CreateDate>
    <NodeName Default="Angular" />
    <SortOrder>35</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
  </Properties>
</Content>