<?xml version="1.0" encoding="utf-8"?>
<Content Key="76761a43-138e-470c-8cb6-68e6bc156186" Alias="Apple Silicon M1: Developing on an ARM processor" Level="4">
  <Info>
    <Parent Key="50f52b8a-67c6-480e-8c57-98daad69ff72">Dev Night March 2021</Parent>
    <Path>/Home/Events/DevNightMarch2021/AppleSiliconM1DevelopingOnAnARMProcessor</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2021-03-01T04:00:37</CreateDate>
    <NodeName Default="Apple Silicon M1: Developing on an ARM processor" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[This meeting is NOT AWS specific, but is related to our April meeting (ARM on AWS: Migrating AWS services to the Graviton2 processor).

Thinking about moving from Intel to a new ARM-based Mac? I will share my experience moving my PHP and Laravel dev workflow to the new Apple Silicon M1 processor, including building ARM and x86 Docker containers on the M1.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/c0106abad2fd48b1819c10c37157805e]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/2a6668e1d589477d8f279ef4a774292c]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>