<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5c5d2dc-bd28-4fe9-b0a0-6c10e7ee3127" Alias="Arduino" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/Arduino</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-03-08T06:39:46</CreateDate>
    <NodeName Default="Arduino" />
    <SortOrder>48</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
  </Properties>
</Content>