<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd9fa8cb-9aa2-4b38-902a-bb1653f7f204" Alias="Associated Electric Cooperative, Inc." Level="3">
  <Info>
    <Parent Key="b46ef282-213b-4f99-bb02-5a1950add18d">Companies</Parent>
    <Path>/Home/Companies/AssociatedElectricCooperativeInc</Path>
    <Trashed>false</Trashed>
    <ContentType>company</ContentType>
    <CreateDate>2024-11-05T00:53:27</CreateDate>
    <NodeName Default="Associated Electric Cooperative, Inc." />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f72f0653-4dc9-4878-8d7e-43da2f9224e0">Company</Template>
  </Info>
  <Properties>
    <aboutText>
      <Value><![CDATA[Associated Electric Cooperative's steadfast, members-first mindset is a differentiating advantage over many other power suppliers. Our duty to provide a reliable, affordable power supply is why we exist and what we work toward every day. Associated's 700 employees take pride in our mission to generate electricity for 2.1 million people across rural Missouri, Oklahoma and Iowa. *Together, we call it Power with Purpose.*]]></Value>
    </aboutText>
    <availableForHire>
      <Value><![CDATA[]]></Value>
    </availableForHire>
    <companyTags>
      <Value><![CDATA[]]></Value>
    </companyTags>
    <facebookUrl>
      <Value><![CDATA[https://www.facebook.com/AssociatedElectricCooperative]]></Value>
    </facebookUrl>
    <featuredEmbed>
      <Value><![CDATA[]]></Value>
    </featuredEmbed>
    <featuredImage>
      <Value><![CDATA[[
  {
    "key": "0e1ae491-3898-475a-a26e-48829b4e2018",
    "mediaKey": "586839b0-2501-4eea-aa04-370381f232a5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </featuredImage>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <image>
      <Value><![CDATA[[
  {
    "key": "cab97ce1-1458-4c17-9bc2-a2f105fa3ab9",
    "mediaKey": "ce22f162-f66a-4213-840a-034aa45af29c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <instagramUrl>
      <Value><![CDATA[]]></Value>
    </instagramUrl>
    <isFoundingSponsor>
      <Value><![CDATA[]]></Value>
    </isFoundingSponsor>
    <isSponsor>
      <Value><![CDATA[1]]></Value>
    </isSponsor>
    <linkedInUrl>
      <Value><![CDATA[https://www.linkedin.com/company/associated-electric-cooperative/]]></Value>
    </linkedInUrl>
    <location>
      <Value><![CDATA[Springfield, MO]]></Value>
    </location>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <twitterUrl>
      <Value><![CDATA[]]></Value>
    </twitterUrl>
    <umbracoUrlName>
      <Value><![CDATA[aeci]]></Value>
    </umbracoUrlName>
    <websiteUrl>
      <Value><![CDATA[https://www.aeci.org/]]></Value>
    </websiteUrl>
  </Properties>
</Content>