<?xml version="1.0" encoding="utf-8"?>
<Content Key="2dee65fd-45e2-44f5-8a5e-95dc370ca266" Alias="AWS" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/AWS</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-03-08T00:37:07</CreateDate>
    <NodeName Default="AWS" />
    <SortOrder>38</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
  </Properties>
</Content>