<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef6057d5-8c77-4c5e-8f81-a11e5581df76" Alias="Beyond the Framework: Building Resilient Front-End Architectures - Presentation by Hunter Trammell" Level="4">
  <Info>
    <Parent Key="6398af7f-3bac-4fbd-bfb7-b3d3fe57a09a">Dev Night - May 2025</Parent>
    <Path>/Home/Events/DevNightMay2025/BeyondTheFrameworkBuildingResilientFrontEndArchitecturesPresentationByHunterTrammell</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2025-04-21T08:51:03</CreateDate>
    <NodeName Default="Beyond the Framework: Building Resilient Front-End Architectures - Presentation by Hunter Trammell" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[As front-end applications grow in complexity, establishing a clear, scalable architecture is essential. But with the ever-evolving landscape of front-end development, how do you design systems that are both flexible and maintainable over time? This session will explore common patterns in front-end architecture, focusing on strategies for building apps that are easy to scale, update, and debug.

We’ll dive into the foundational principles of front-end architecture, including modularity, componentization, and separation of concerns. Then, we will look at how we can apply those principles to patterns such as atomic design and event-driven architecture.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/306917706/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/cd539ece01cf41deb91eefe5e3b13814]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>