<?xml version="1.0" encoding="utf-8"?>
<Content Key="e01ddb44-c448-42f3-a9b0-07d3e5894282" Alias="Beyond the Framework: Building Resilient Front-End Architectures - Presentation by Hunter Trammell" Level="102">
  <Info>
    <Parent Key="f5d2135a-d548-49c2-a4a2-f8109aebc56d">Dev Night - May 2025</Parent>
    <Path>/[-20]/DevNightMay2025/BeyondTheFrameworkBuildingResilientFrontEndArchitecturesPresentationByHunterTrammell</Path>
    <Trashed Parent="f5d2135a-d548-49c2-a4a2-f8109aebc56d">true</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2025-04-21T02:34:03</CreateDate>
    <NodeName Default="Beyond the Framework: Building Resilient Front-End Architectures - Presentation by Hunter Trammell" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[As front-end applications grow in complexity, establishing a clear, scalable architecture is essential. But with the ever-evolving landscape of front-end development, how do you design systems that are both flexible and maintainable over time? This session will explore common patterns in front-end architecture, focusing on strategies for building apps that are easy to scale, update, and debug.

We’ll dive into the foundational principles of front-end architecture, including modularity, componentization, and separation of concerns. Then, we will look at how we can apply those principles to patterns such as atomic design and event-driven architecture.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/306917706/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/cd539ece01cf41deb91eefe5e3b13814]]></Value>
    </presenter>
    <presenters>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1bdea08d-8393-4e70-85a9-2ca27bef54f1",
      "key": "6ef466da-eea5-4705-91f8-dac20efd783a",
      "values": [
        {
          "alias": "member",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://member/cd539ece01cf41deb91eefe5e3b13814"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "6ef466da-eea5-4705-91f8-dac20efd783a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6ef466da-eea5-4705-91f8-dac20efd783a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </presenters>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>