<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b3d3247-7af3-4055-ab21-3e8222e15eae" Alias="Building a Better IDE: Visual Programming - Presentation by Trevor Glauz" Level="4">
  <Info>
    <Parent Key="1df74909-b3b9-4456-9678-bcd9a1ca3043">Dev Night - June 2025</Parent>
    <Path>/Home/Events/DevNightJune2025/BuildingABetterIDEVisualProgrammingPresentationByTrevorGlauz</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2025-05-28T23:23:32</CreateDate>
    <NodeName Default="Building a Better IDE: Visual Programming - Presentation by Trevor Glauz" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[In this session I will present problems programmers of all skill levels face when writing textual code, and how to address them with visual programming. I have prepared a demonstration of a prototype IDE that allows users to define programs using a node graph architecture rather than writing plain text.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[[
  {
    "key": "b7c4d835-6907-4043-b4ba-b301449dbea6",
    "mediaKey": "fc25e1e7-fd46-4585-80a3-2614595a2e5f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/306917756/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/cd539ece01cf41deb91eefe5e3b13814]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>