<?xml version="1.0" encoding="utf-8"?>
<Content Key="b46ef282-213b-4f99-bb02-5a1950add18d" Alias="Companies" Level="2">
  <Info>
    <Parent Key="2504572c-2467-457c-990d-06aef735cb5d">Home</Parent>
    <Path>/Home/Companies</Path>
    <Trashed>false</Trashed>
    <ContentType>companies</ContentType>
    <CreateDate>2020-11-22T22:35:09</CreateDate>
    <NodeName Default="Companies" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>