<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f8081c1-f90d-4224-ae2a-21c9640fc1ab" Alias="CSS Shootout - Plain CSS VS. Tailwind" Level="4">
  <Info>
    <Parent Key="703c584f-6306-4e03-b7b4-dea1a1336e33">Dev Night March 2022</Parent>
    <Path>/Home/Events/DevNightMarch2022/CSSShootoutPlainCSSVSTailwind</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2022-01-12T23:10:38</CreateDate>
    <NodeName Default="CSS Shootout - Plain CSS VS. Tailwind" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Next in the lineup for the shootout series is the CSS shootout! In this session, we will focus on comparing plain CSS and the very popular utility-first CSS framework Tailwind CSS.

Tailwind CSS - Trayvon Northern
Plain old CSS/SCSS - Myke Bates

The format is simple - both presenters will be tackling the same problem and showcasing how they go about solving the problem at hand. This gives the audience the chance to see multiple technologies while maintaining a familiar context throughout.

The presenters will start by providing an overview of each CSS approach as well as insights into why they prefer working in that specific pattern. Next, they will unveil their execution of several component designs received prior to the presentation. Both presenters will have received the same designs and will discuss how they went about constructing the HTML/CSS to achieve the design.

Lastly, a new design will be unveiled and both presenters will develop the design on the spot. This is a fun way for the audience to get a glimpse at the thought process involved in front-end development.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/dcea265158aa436dbe1de8409c96e0f0]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>