<?xml version="1.0" encoding="utf-8"?>
<Content Key="17111e6c-ff69-457d-94fe-a29837bc2739" Alias="Dev Night April 2022" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightApril2022</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2022-02-02T20:34:16</CreateDate>
    <NodeName Default="Dev Night April 2022" />
    <SortOrder>14</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2022-04-06T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>