<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4d1882f-403f-4920-b682-0ebcc35f9dbe" Alias="Dev Night April 2021" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightApril2021</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2021-03-26T09:54:31</CreateDate>
    <NodeName Default="Dev Night April 2021" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2021-04-07T18:30:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>