<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ab23fbc-ce13-49f8-8ae8-5be4d0576a79" Alias="Dev Night - September 2025" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightSeptember2025</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2025-05-29T00:52:58</CreateDate>
    <NodeName Default="Dev Night - September 2025" />
    <SortOrder>40</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2025-09-03T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>