<?xml version="1.0" encoding="utf-8"?>
<Content Key="82b07144-4026-4dea-bbee-2717d41db250" Alias="Dev Night April 2023" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightApril2023</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-03-01T00:42:43</CreateDate>
    <NodeName Default="Dev Night April 2023" />
    <SortOrder>26</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2023-04-05T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>