<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a81b8ec-5c7b-4131-9cdc-8303da0db686" Alias="Dev Night - May 2026" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightMay2026</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2026-04-12T16:43:06</CreateDate>
    <NodeName Default="Dev Night - May 2026" />
    <SortOrder>50</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2026-05-06T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>