<?xml version="1.0" encoding="utf-8"?>
<Content Key="4410e58e-1cd1-47ec-9a59-1e7b1d505b8e" Alias="Dev Night August 2021" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightAugust2021</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2021-07-27T02:54:15</CreateDate>
    <NodeName Default="Dev Night August 2021" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2021-08-04T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>