<?xml version="1.0" encoding="utf-8"?>
<Content Key="2abaa6f2-48fa-437a-bd86-d765464e82ed" Alias="Dev Night - February 2026" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightFebruary2026</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2026-01-24T00:52:01</CreateDate>
    <NodeName Default="Dev Night - February 2026" />
    <SortOrder>47</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2026-02-04T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>