<?xml version="1.0" encoding="utf-8"?>
<Content Key="e02b68a4-c045-45f4-b7f6-889ca582ea3c" Alias="Dev Night - January 2026" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightJanuary2026</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2025-12-30T00:10:14</CreateDate>
    <NodeName Default="Dev Night - January 2026" />
    <SortOrder>46</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2026-01-07T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>