<?xml version="1.0" encoding="utf-8"?>
<Content Key="89128d84-9eca-4b39-ab85-afa7ade2c2c4" Alias="Dev Night - Software History 101" Level="4">
  <Info>
    <Parent Key="0a81b8ec-5c7b-4131-9cdc-8303da0db686">Dev Night - May 2026</Parent>
    <Path>/Home/Events/DevNightMay2026/DevNightSoftwareHistory101</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2026-04-12T16:43:48</CreateDate>
    <NodeName Default="Dev Night - Software History 101" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[### Software History 101
The 200 year story of how our tools of automation have evolved along with their designs. Learn about the innovators and computer scientists who seeded the information age and where we go from here.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/314247183/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/2e3b04c392a145e39dff5ff6114e0448]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>