<?xml version="1.0" encoding="utf-8"?>
<Content Key="aee5a383-7365-4616-a9da-c116e9a5e9cd" Alias="Dev Night Jan 2021" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightJan2021</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2020-12-14T10:12:21</CreateDate>
    <NodeName Default="Dev Night Jan 2021" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2021-01-06T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>