<?xml version="1.0" encoding="utf-8"?>
<Content Key="703c584f-6306-4e03-b7b4-dea1a1336e33" Alias="Dev Night March 2022" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightMarch2022</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2022-01-12T23:10:38</CreateDate>
    <NodeName Default="Dev Night March 2022" />
    <SortOrder>13</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2022-03-02T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>