<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d61594d-5c02-4ffd-a52a-caa4213b9567" Alias="Dev Night - March 2025" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightMarch2025</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2025-03-02T16:14:15</CreateDate>
    <NodeName Default="Dev Night - March 2025" />
    <SortOrder>37</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-09-04T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>