<?xml version="1.0" encoding="utf-8"?>
<Content Key="622adf86-5e78-4598-8d7a-c534f1d191ec" Alias="Dev Night October 2022" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightOctober2022</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2022-09-20T00:19:19</CreateDate>
    <NodeName Default="Dev Night October 2022" />
    <SortOrder>20</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2022-10-05T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>