<?xml version="1.0" encoding="utf-8"?>
<Content Key="a47f43f8-97e9-40ab-bb44-5bff0f8fcb23" Alias="Dev Night - June 2023 (corrected)" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightJune2023Corrected</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-05-23T18:44:27</CreateDate>
    <NodeName Default="Dev Night - June 2023 (corrected)" />
    <SortOrder>29</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2023-06-07T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>