<?xml version="1.0" encoding="utf-8"?>
<Content Key="2e6e71a7-8914-4210-a2df-be3950526b99" Alias="Dev Night (taking off January)" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightTakingOffJanuary</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2022-12-28T16:50:07</CreateDate>
    <NodeName Default="Dev Night (taking off January)" />
    <SortOrder>23</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2023-01-04T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>