<?xml version="1.0" encoding="utf-8"?>
<Content Key="a038c947-a98e-4e3d-91ea-48d0a62c8ce1" Alias="Dev Night - June 2023" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightJune2023</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-05-19T03:42:50</CreateDate>
    <NodeName Default="Dev Night - June 2023" />
    <SortOrder>28</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2023-06-07T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>