<?xml version="1.0" encoding="utf-8"?>
<Content Key="324cf2da-99d4-43fe-b2ce-6728f7f6c877" Alias="Dev Night - Goodbye Windows, Hello Linux!" Level="4">
  <Info>
    <Parent Key="144f2fc5-2594-43fb-8241-d5cedf5e0e10">Dev Night - March 2026</Parent>
    <Path>/Home/Events/DevNightMarch2026/DevNightGoodbyeWindowsHelloLinux</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2026-02-24T19:31:32</CreateDate>
    <NodeName Default="Dev Night - Goodbye Windows, Hello Linux!" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[### Goodbye Windows, Hello Linux!
- Workshop presented by SGF Devs Board

Windows 10 is ending, but your computer doesn't have to. Bring your Windows 10 computer and we'll help you install Linux, a free operating system that will make your old computer feel new again.

Even if you’re not switching, come for the conversation. Come hang out and talk open source, privacy, sustainability, or just show off your own setup.

Not sure if Linux is right for you? We'll explain what it is, how it works, and let you try it first. No pressure to install.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/313133495/]]></Value>
    </meetupURL>
    <presenters>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1bdea08d-8393-4e70-85a9-2ca27bef54f1",
      "key": "bbc82a8c-1dfa-47ec-b25b-37597ad4c3a8",
      "values": [
        {
          "alias": "member",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://member/cd539ece01cf41deb91eefe5e3b13814"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "bbc82a8c-1dfa-47ec-b25b-37597ad4c3a8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "bbc82a8c-1dfa-47ec-b25b-37597ad4c3a8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </presenters>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>