<?xml version="1.0" encoding="utf-8"?>
<Content Key="25c75c4a-5c71-4c73-82c9-cf715211cb9d" Alias="Dev Night July 2022" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightJuly2022</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2022-06-15T15:25:42</CreateDate>
    <NodeName Default="Dev Night July 2022" />
    <SortOrder>17</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2022-07-06T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>