<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff88ad92-bee4-43b8-adac-2d36db4ee028" Alias="Dev Night - August 2025" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightAugust2025</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2025-07-11T08:51:08</CreateDate>
    <NodeName Default="Dev Night - August 2025" />
    <SortOrder>42</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2025-08-06T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>