<?xml version="1.0" encoding="utf-8"?>
<Content Key="a809485e-a396-47fc-9e3e-303d1d5bca30" Alias="Developer Panel - Day in the life" Level="4">
  <Info>
    <Parent Key="745afe91-dd2b-46b2-bbed-18f67717476d">Dev Night February 2022</Parent>
    <Path>/Home/Events/DevNightFebruary2022/DeveloperPanelDayInTheLife</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2022-01-05T00:58:13</CreateDate>
    <NodeName Default="Developer Panel - Day in the life" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[We all know what software development is but what a software developer does each day at their job can look very different depending on your company and your role.  Join us for this panel talk about "a day in the life" of software developers from around SGF to hear about what really goes on.  The panelists want to answer your questions - use the Slido link below to submit. 

Presented by:
Taylor Page 
Megan Blevins - Hearo
Myke Bates - Hearo
Carmen Creswell - Adaptavist

Moderator: Tiffany Ford

Note - the Q&A for this session will be handled via Slido.  You can submit your questions ahead of time, up-vote submitted questions, and ask questions in real-time during the panel by using our Slido link - https://app.sli.do/event/oF8oBmHN51en363DycK9UJ]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/ca399b60b0ca44589fb54a193f29f04c]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>