<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a42e985-ac05-4328-a2fa-404bde40d11a" Alias="Directory" Level="2">
  <Info>
    <Parent Key="2504572c-2467-457c-990d-06aef735cb5d">Home</Parent>
    <Path>/Home/Directory</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2020-12-30T05:15:41</CreateDate>
    <NodeName Default="Directory" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d73cf91-e6f9-4b78-9b19-10cf3204d118">Directory</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <OgImage>
      <Value><![CDATA[]]></Value>
    </OgImage>
    <titleTag>
      <Value><![CDATA[]]></Value>
    </titleTag>
  </Properties>
</Content>