<?xml version="1.0" encoding="utf-8"?>
<Content Key="79762a3f-757f-4cc2-af44-e86ba991fadf" Alias="Dotnet Core" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/DotnetCore</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-03-08T00:32:32</CreateDate>
    <NodeName Default="Dotnet Core" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[.NET Core]]></Value>
    </displayName>
  </Properties>
</Content>