<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf35ff41-3c64-4173-8833-5de05ed32b53" Alias="Dungeons and Dragons: Becoming the Hero of the Sprint" Level="4">
  <Info>
    <Parent Key="622adf86-5e78-4598-8d7a-c534f1d191ec">Dev Night October 2022</Parent>
    <Path>/Home/Events/DevNightOctober2022/DungeonsAndDragonsBecomingTheHeroOfTheSprint</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2022-09-20T00:19:19</CreateDate>
    <NodeName Default="Dungeons and Dragons: Becoming the Hero of the Sprint" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[**************************************

Springfield Devs
Dungeons and Dragons: Becoming the Hero of the Sprint
Presented By: Tara Walton

What do coding, testing, and Dungeons and Dragons all have in common? Spoiler alert: strategy. We all know the heavy demands placed on software teams today to code, test, and be a human in this era of remote work. As an automation developer and avid D&D player, I believe that developers and QA can learn a helpful thing or three from my favorite roleplaying game.

In our interactive session, I will share 3 pragmatic strategies for how you can learn more about the value o f testing in the development cycle, better partner with your QA teams, and spend more time doing what you love. In addition, we will use an evidence-based approach to explore how to continue to improve your collaborative and problem-solving skills, while transforming you into the hero for QA. Grab your dice and roll for initiative, as we level up on a Dungeons and Dragons style adventure in DevOps. Together.

**************************************

View the stream on Twitch at https://www.twitch.tv/sgfdevs]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/288581347/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/912ee32a06f047d1acb9b9258738e94f]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>