<?xml version="1.0" encoding="utf-8"?>
<Content Key="9915c138-45c4-493e-9463-af3a63881522" Alias="Edward J. Rice Co., Inc" Level="3">
  <Info>
    <Parent Key="b46ef282-213b-4f99-bb02-5a1950add18d">Companies</Parent>
    <Path>/Home/Companies/EdwardJRiceCoInc</Path>
    <Trashed>false</Trashed>
    <ContentType>company</ContentType>
    <CreateDate>2023-04-13T03:43:25</CreateDate>
    <NodeName Default="Edward J. Rice Co., Inc" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f72f0653-4dc9-4878-8d7e-43da2f9224e0">Company</Template>
  </Info>
  <Properties>
    <aboutText>
      <Value><![CDATA[The Edward J. Rice Company is proud to support Springfield DEVS in their mission to educate, inspire and support developers in the Missouri Ozarks.

The Rice Company’s mission is to help state and local government be responsive to the needs of citizens by improving communication and processes for voting and elections, tax assessment, and tax collection.]]></Value>
    </aboutText>
    <availableForHire>
      <Value><![CDATA[0]]></Value>
    </availableForHire>
    <companyTags>
      <Value><![CDATA[]]></Value>
    </companyTags>
    <facebookUrl>
      <Value><![CDATA[]]></Value>
    </facebookUrl>
    <featuredEmbed>
      <Value><![CDATA[]]></Value>
    </featuredEmbed>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <image>
      <Value><![CDATA[umb://media/8cc07c3a81174aaa94f3d940e8506c37]]></Value>
    </image>
    <instagramUrl>
      <Value><![CDATA[]]></Value>
    </instagramUrl>
    <isFoundingSponsor>
      <Value><![CDATA[0]]></Value>
    </isFoundingSponsor>
    <isSponsor>
      <Value><![CDATA[1]]></Value>
    </isSponsor>
    <linkedInUrl>
      <Value><![CDATA[]]></Value>
    </linkedInUrl>
    <location>
      <Value><![CDATA[Springfield, MO]]></Value>
    </location>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <twitterUrl>
      <Value><![CDATA[]]></Value>
    </twitterUrl>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteUrl>
      <Value><![CDATA[https://edwardjrice.com/]]></Value>
    </websiteUrl>
  </Properties>
</Content>