<?xml version="1.0" encoding="utf-8"?>
<Content Key="ede66809-9420-44d5-b4dd-d75d88420802" Alias="Elasticsearch" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/Elasticsearch</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-03-08T06:38:57</CreateDate>
    <NodeName Default="Elasticsearch" />
    <SortOrder>45</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
  </Properties>
</Content>