<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bf41082-d59f-4497-b1dd-1f9698168cab" Alias="Firing up your workbench: The Art of Forging with AI" Level="4">
  <Info>
    <Parent Key="2abaa6f2-48fa-437a-bd86-d765464e82ed">Dev Night - February 2026</Parent>
    <Path>/Home/Events/DevNightFebruary2026/FiringUpYourWorkbenchTheArtOfForgingWithAI</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2026-01-24T00:53:01</CreateDate>
    <NodeName Default="Firing up your workbench: The Art of Forging with AI" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Firing up your workbench: The Art of Forging with AI - Presentation by Jemini Willis
Love it or hate it, AI seems here to stay. It's in every field, trying to do every job, and make every human redundant—but is it adding fuel to the fire, or just burning a mess right through your codebase?

Engineers have been given the impossible task of controlling this fire, of mastering it. But how does one master something so unpredictable? How do we master the fire?

By thinking like a blacksmith.

In this session we're gonna talk shop, we'll talk tools and technique, we'll explore the ins and outs of incorporating AI into your workbench—from prompts to MCPs and all the vectored context in between.

Buckle up, engineers, cause this ain't your granddaddy's workbench. We're forging with AI now!




]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/313025491/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/6ffe8958e1b44bdbbb73fce54e648709]]></Value>
    </presenter>
    <presenters>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1bdea08d-8393-4e70-85a9-2ca27bef54f1",
      "key": "8a11a89c-a894-4793-841c-4462bd091a2f",
      "values": [
        {
          "alias": "member",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://member/6ffe8958e1b44bdbbb73fce54e648709"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "8a11a89c-a894-4793-841c-4462bd091a2f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8a11a89c-a894-4793-841c-4462bd091a2f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </presenters>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>