<?xml version="1.0" encoding="utf-8"?>
<Content Key="cce710e5-3667-495f-8962-68a90d901129" Alias="Flutter" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/Flutter</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-03-08T06:33:36</CreateDate>
    <NodeName Default="Flutter" />
    <SortOrder>33</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
  </Properties>
</Content>