<?xml version="1.0" encoding="utf-8"?>
<Content Key="75404604-f2a8-4be8-bf0f-f6d7af9d51ae" Alias="Freelancing with Upwork + Q&amp;A Panel" Level="4">
  <Info>
    <Parent Key="06f6784c-53a5-4fc4-8b78-f1c55db374d8">Dev Night September 2021</Parent>
    <Path>/Home/Events/DevNightSeptember2021/FreelancingWithUpworkPlusQAPanel</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2021-08-20T14:28:12</CreateDate>
    <NodeName Default="Freelancing with Upwork + Q&amp;A Panel" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Tiffany Ford is a career educator but freelances in software development, project management, and educational content creation. As an Upwork Success Partner, she has helped hundreds of independent professionals learn how to be successful on the Upwork platform.

During this panel talk, we will discuss the following topics:
- How to get started with freelancing
- Finding clients
- Billing and Payments
- Client pitfalls and relationship building

The panel would love questions in advance! You can start adding questions to the Q&A on Slido - https://app.sli.do/event/pmvwics8]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/45d788961d364435830319a72630eded]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>