<?xml version="1.0" encoding="utf-8"?>
<Content Key="caffd013-9b11-4f18-84b2-d915b67bb82a" Alias="From Manual to Magical: Automating Your Life with n8n!" Level="4">
  <Info>
    <Parent Key="e02b68a4-c045-45f4-b7f6-889ca582ea3c">Dev Night - January 2026</Parent>
    <Path>/Home/Events/DevNightJanuary2026/FromManualToMagicalAutomatingYourLifeWithN8n</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2025-12-30T00:12:38</CreateDate>
    <NodeName Default="From Manual to Magical: Automating Your Life with n8n!" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[From Manual to Magical: Automating Your Life with n8n!
- Presentation by Neal Richardson Sr

Discover the joy of "nodimation"—the art of connecting, triggering, and transforming your digital world with n8n. In this fun and fast-paced session, you'll learn:
* what n8n is
* what it can do
* how it can make your life easier by automating everyday tasks.

We'll also explore real-world use cases and build live workflows together, showing how even simple automations can unlock powerful results. Whether you're connecting to APIs, processing and transforming data, or just trying to save time, this is your gateway to workflow wizardry.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/312514016/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/e7970fa0bdf74fa7978c5d131a6dd577]]></Value>
    </presenter>
    <presenters>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1bdea08d-8393-4e70-85a9-2ca27bef54f1",
      "key": "cedd1e90-1cb3-4e99-88e6-09c59154100d",
      "values": [
        {
          "alias": "member",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://member/e7970fa0bdf74fa7978c5d131a6dd577"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "cedd1e90-1cb3-4e99-88e6-09c59154100d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "cedd1e90-1cb3-4e99-88e6-09c59154100d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </presenters>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>