<?xml version="1.0" encoding="utf-8"?>
<Content Key="71b01804-933d-41b1-bcbd-f2243cd7ff9e" Alias="From Sketchware to Swift: The OzarksMade Journey to AllThoughts" Level="4">
  <Info>
    <Parent Key="ff88ad92-bee4-43b8-adac-2d36db4ee028">Dev Night - August 2025</Parent>
    <Path>/Home/Events/DevNightAugust2025/FromSketchwareToSwiftTheOzarksMadeJourneyToAllThoughts</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2025-07-11T09:18:14</CreateDate>
    <NodeName Default="From Sketchware to Swift: The OzarksMade Journey to AllThoughts" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Coding can seem intimidating, but it doesn’t have to be! In this session, I’ll share my journey from coding on a phone with Sketchware, QuickEdit, and Termux to developing AllThoughts, my latest self-hosted app. I'll walk through the steps I took to teach myself HTML, JavaScript, and Swift—all without ever taking a formal coding class.

We’ll also discuss self-hosting vs. third-party hosting (GitHub, Replit, etc.) and how I built AllThoughts with a strong focus on privacy and control. Expect to see real-world code snippets, a live demo of my app, and practical insights on getting started with development—whether you’re on a full desktop setup or just a mobile device.

If you’ve ever thought about coding but didn’t know where to begin, this session is for you. You don’t need a CS degree to start building something amazing!]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/309147227/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/cd539ece01cf41deb91eefe5e3b13814]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>