<?xml version="1.0" encoding="utf-8"?>
<Content Key="b14e2e10-f167-42d3-9e93-2637352fec5e" Alias="Getting Started With Umbraco 9" Level="4">
  <Info>
    <Parent Key="4410e58e-1cd1-47ec-9a59-1e7b1d505b8e">Dev Night August 2021</Parent>
    <Path>/Home/Events/DevNightAugust2021/GettingStartedWithUmbraco9</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2021-07-27T08:54:55</CreateDate>
    <NodeName Default="Getting Started With Umbraco 9" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[When it comes to Content Management Systems(CMS), there is no shortage of choices. From minimal open-source projects to commercial platforms with licenses that range upwards of 6 figures. This month we will take a dive into the latest version of the popular .NET CMS called Umbraco.

Version 9 of Umbraco is a monumental milestone because it is the first version of the CMS that runs on .NET Core/.NET 5 - which means it is no longer limited to running on the Windows operating system.

In this session I will go through process of setting up a new Umbraco site from scratch and then dive into a few of the core tenants of the platform and explain why it is hands down my favorite CMS. After this session you will be armed with all of the details needed to start your Umbraco journey.

To fully demonstrate the new cross-platform functionality, everything will be demonstrated on a Mac but the processes will be similar for Linux and Windows.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/ca399b60b0ca44589fb54a193f29f04c]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>