<?xml version="1.0" encoding="utf-8"?>
<Content Key="6092b977-70ee-43e4-b3b4-88f16c30f2fa" Alias="Getting Started with iOS Augmented Reality Development" Level="4">
  <Info>
    <Parent Key="dc743ef4-bbff-49e9-b2ed-09a86ebe7d27">Dev Night May 2021</Parent>
    <Path>/Home/Events/DevNightMay2021/GettingStartedWithIOSAugmentedRealityDevelopment</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2021-04-27T01:43:33</CreateDate>
    <NodeName Default="Getting Started with iOS Augmented Reality Development" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Augmented Reality development, once a pretty daunting task, is becoming more approachable as each year passes. There are many different platforms to aid in the development of these applications. In this month's session we will take a look at developing AR applications with for iPhones and iPads.

Concepts that we will touch on include

- XCode
- Swift/Swift UI
- ARKit/RealityKit
- Plane Detection
- Placing 3D objects on floors/tables/walls
- Image Recognition
- Face Tracking

Note: if you intend to build the app alongside of the demonstration(or later), you will need a Mac computer and an iPhone/iPad running iOS 13+

Although prior iOS development experience will aid in this session, NO prior experience is necessary. The depth will be kept intentionally shallow so attendees of all skill level will take something great away.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/ca399b60b0ca44589fb54a193f29f04c]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>