<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab70e55c-d6b3-4dc9-994a-e17770925491" Alias="Going Off the Rails: How do you solve problems where no one has gone before?" Level="4">
  <Info>
    <Parent Key="50674745-3646-464a-8ae8-4044f4291c37">Dev Night - April 2026</Parent>
    <Path>/Home/Events/DevNightApril2026/GoingOffTheRailsHowDoYouSolveProblemsWhereNoOneHasGoneBefore</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2026-03-26T14:23:04</CreateDate>
    <NodeName Default="Going Off the Rails: How do you solve problems where no one has gone before?" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[What happens when there are no docs, no resources, and you're in uncharted territory? See problem-solving from a new angle as I show what I learned solving obscure, unique, and fascinating problems to bend an obsolete game engine into a model railroad simulator.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/313958794/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/b2afc93ea54a4c5e98b1392041ac0c6a]]></Value>
    </presenter>
    <presenters>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1bdea08d-8393-4e70-85a9-2ca27bef54f1",
      "key": "712d1ebc-4611-46aa-88b2-5c374d483b29",
      "values": [
        {
          "alias": "member",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://member/b2afc93ea54a4c5e98b1392041ac0c6a"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "712d1ebc-4611-46aa-88b2-5c374d483b29",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "712d1ebc-4611-46aa-88b2-5c374d483b29",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </presenters>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>