<?xml version="1.0" encoding="utf-8"?>
<Content Key="d132ca12-4e57-439b-990b-6d97ac5aa3b6" Alias="Groups" Level="2">
  <Info>
    <Parent Key="2504572c-2467-457c-990d-06aef735cb5d">Home</Parent>
    <Path>/Home/Groups</Path>
    <Trashed>false</Trashed>
    <ContentType>groups</ContentType>
    <CreateDate>2020-11-22T22:32:44</CreateDate>
    <NodeName Default="Groups" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="10af1e6f-a6f7-4340-8aea-d189a6fe74c3">Groups</Template>
  </Info>
  <Properties />
</Content>