<?xml version="1.0" encoding="utf-8"?>
<Content Key="12ba96af-d7b3-4ad9-8325-bbad72142427" Alias="Holiday LAN Party 2025" Level="4">
  <Info>
    <Parent Key="19231161-e16b-47d9-a25a-559a603b0a64">Dev Night - December 2025</Parent>
    <Path>/Home/Events/DevNightDecember2025/HolidayLANParty2025</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2025-11-25T17:10:26</CreateDate>
    <NodeName Default="Holiday LAN Party 2025" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[It’s that time of year again! SGF Devs is wrapping up 2025 with our annual holiday party and this time we're throwing a full-blown LAN party.

Bring your rig, your games, and your A‑game for an evening of friendly competition and holiday cheer. We’ll be running a few tournaments with gift cards on the line, including Halo (on Xbox) and Unreal Tournament (on PC). Between matches, feel free to fire up your own favorite titles or just hang out and talk shop with other local devs and gamers.

And for those who like to take a break from the screen, we’ll have a few board games on hand to round out the fun.

To keep things running smoothly, make sure to come prepared. A few things to bring:

Your PC or gaming laptop
Monitor, keyboard, mouse, and any other peripherals
Controllers (especially for Halo)
Surge protector or power strip
A long Ethernet/networking cable (we'll have a large network switch on-site)
It’s going to be an awesome mix of gaming, good company, and holiday vibes. Don’t miss it!]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/312052212/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/cd539ece01cf41deb91eefe5e3b13814]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>