<?xml version="1.0" encoding="utf-8"?>
<Content Key="44f4bf79-a166-48d7-8145-f8d0c8f8212e" Alias="Holiday Party" Level="4">
  <Info>
    <Parent Key="7ed0a289-3904-474a-afe2-25649763c6b7">Dev Night - Holiday Party</Parent>
    <Path>/Home/Events/DevNightHolidayParty/HolidayParty</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2022-11-04T03:59:52</CreateDate>
    <NodeName Default="Holiday Party" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Details
***

Dev Night is going festive!

Join us as we close out another solid year with networking, games, food and ugly holiday sweaters. Try your hand at casino games or come ready to challenge each other for the ugliest sweater. Food is served at 6p with games starting at 7p. Awards for best dressed, fastest loser and biggest winner awarded at 9pm.

Never been to a Dev Night? No problem! We would love to have you join the Springfield Devs community as we close out the year (and beyond?).

RSVPS are required so we can be sure to have enough food for everyone! So RSVP [here][1] and we will see you there!

Agenda

 - 6:00pm Food / Soda / BYOB 
 - 7:00pm Casino Games begin (Roulette, Black Jack, Craps and more) 
 - 9:00pm Prizes (Best Dressed, Most Winnings, Fastest Loser) 
 - 10:00pm Don't have to go home, but can't stay here

Idea Loft @ efactory - 405 N Jefferson, Springfield MO

Here is a map of parking options here at the efactory. https://f.hubspotusercontent00.net/hubfs/4744153/Parking%20Maps/efactory_Event%20Parking.pdf


  [1]: https://forms.gle/kQsmLwrSMhdPJDAaA]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://sgf.dev/2022-holiday-party]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/cd539ece01cf41deb91eefe5e3b13814]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>