<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3215799-0b28-4e4c-a62f-a8d89006aa13" Alias="How to complete all 12 AWS certifications in 6 weeks!" Level="4">
  <Info>
    <Parent Key="dc743ef4-bbff-49e9-b2ed-09a86ebe7d27">Dev Night May 2021</Parent>
    <Path>/Home/Events/DevNightMay2021/HowToCompleteAll12AWSCertificationsIn6Weeks</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2021-04-27T07:44:18</CreateDate>
    <NodeName Default="How to complete all 12 AWS certifications in 6 weeks!" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Join us to hear how (and why) Adam recently spent forty-one days—a little less than six weeks—preparing for and taking the twelve required tests. Adam will also share the resources (free and paid) that he relied on to prepare for each exam.

Adam Elmore has been building on AWS for the last 7 years and he is super passionate about it. He is a contributor to the CDK (most notably contributed the `PythonFunction` construct) and he recently blitzed through all 12 AWS certifications in 6 weeks. He grew up in the Ozarks and lives here in Springfield.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/c0106abad2fd48b1819c10c37157805e]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/2a6668e1d589477d8f279ef4a774292c]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>