<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2571176-ce78-482a-83e9-0b6cb8640618" Alias="HTML CSS" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/HTMLCSS</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-03-08T06:24:40</CreateDate>
    <NodeName Default="HTML CSS" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[HTML/CSS]]></Value>
    </displayName>
  </Properties>
</Content>