<?xml version="1.0" encoding="utf-8"?>
<Content Key="963ca5fd-6e58-4d37-a82c-787235219fe4" Alias="Inteview Panel Q&amp;A" Level="4">
  <Info>
    <Parent Key="08de644d-797e-4705-8090-47197e1ae19f">Dev Night February 2023</Parent>
    <Path>/Home/Events/DevNightFebruary2023/InteviewPanelQA</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2023-01-14T20:36:44</CreateDate>
    <NodeName Default="Inteview Panel Q&amp;A" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Recruiters, Interviewers, Hiring Managers will join the SGF Devs for a Panel discussion. We will have preset questions to start the panel, but encourage audience participation.

We will have sli.do for collecting and moderating questions. Please submit questions prior or during the panel discussion to make the most of our time together.

Slido will open 1 week prior: https://app.sli.do/event/4qJSdLkd8b3ceZZivjLBWj

]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/290944284]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/cd539ece01cf41deb91eefe5e3b13814]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>