<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d9efa45-e016-4b40-9771-1d8ac13d23e6" Alias="Introduction to Reach" Level="4">
  <Info>
    <Parent Key="91c7aa10-fa5d-4427-97ce-da9ba539801f">Dev Night October 2021</Parent>
    <Path>/Home/Events/DevNightOctober2021/IntroductionToReach</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2021-09-17T14:30:28</CreateDate>
    <NodeName Default="Introduction to Reach" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[
While we've all probably heard of Bitcoin, there is a lot more to what could be called the "blockchain sphere" than just that. Advances in what followed after Bitcoin, namely decentralized computing systems, have led to the rise of networks like Ethereum and Algorand; these allow for the creation of decentralized applications (dApps) that, at their core, probably look quite a bit different than the code we deal with on a day to day basis.

Today I'll be giving an intro on a language for building decentralized applications and that language is Reach. Reach brings numerous improvements to dApp developments like catching errors, speeding up development, and making more versatile dApps. There aren't any prerequisites for attending this talk; Reach is designed to be very close to an entry-level language, so whether you just started learning about programming or have been in the field for 10 years this talk should be accessible either way (and I will have time to answer questions afterward).

This will be the first of three talks that will flesh out the usage and functionality of Reach: starting with today's introduction, followed by a deep dive into numerous essential concepts, and then wrapping up with a talk on integrating a smart contract into a React frontend. I'll be using a Windows PC for the presentation, but Reach is also usable on Mac and Linux.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/d5c01a822af943c79c1105ca3cefb13f]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>