<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3dd66c5-60be-4e14-b7ff-07f303826e7c" Alias="Intro to AWS CLI and AWS SDK" Level="4">
  <Info>
    <Parent Key="137c148d-884f-4907-8d8e-0d3327339549">Dev Night June 2021</Parent>
    <Path>/Home/Events/DevNightJune2021/IntroToAWSCLIAndAWSSDK</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2021-05-26T19:21:55</CreateDate>
    <NodeName Default="Intro to AWS CLI and AWS SDK" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Many users manage their AWS resources through the AWS Web Console. Did you know AWS provides excellent CLI (command line) and SDK (developer) tools that you can use to more efficiently manage and automate your AWS resources? Jason will show you how to get started with the CLI and with the SDK and walk through practical examples you can use to interact with S3, EC2, and CloudFormation.

Jason Klein began using AWS in 2013 with a forklift move of traditional workloads from dedicated servers at various data centers to EC2 instances, which saw an immediate performance increase and cost savings. He has been a huge advocate for AWS ever since. His data management business leverages many AWS services.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/c0106abad2fd48b1819c10c37157805e]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <presenters>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1bdea08d-8393-4e70-85a9-2ca27bef54f1",
      "key": "f3d15045-055c-4784-95ca-e9439ac5cecf",
      "values": [
        {
          "alias": "member",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://member/2a6668e1d589477d8f279ef4a774292c"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f3d15045-055c-4784-95ca-e9439ac5cecf",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f3d15045-055c-4784-95ca-e9439ac5cecf",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </presenters>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>