<?xml version="1.0" encoding="utf-8"?>
<Content Key="ced640ac-30f4-4a29-a942-126936e08da1" Alias="JavaScript" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/JavaScript</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-01-04T06:42:22</CreateDate>
    <NodeName Default="JavaScript" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
  </Properties>
</Content>