<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a2e1cf8-522e-4557-927c-018c6d406a39" Alias="Jobs" Level="2">
  <Info>
    <Parent Key="235713a3-e988-42ce-bc14-513fd8790416">Tags</Parent>
    <Path>/Tags/Jobs</Path>
    <Trashed>false</Trashed>
    <ContentType>tagGroup</ContentType>
    <CreateDate>2020-11-23T03:06:37</CreateDate>
    <NodeName Default="Jobs" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>