<?xml version="1.0" encoding="utf-8"?>
<Content Key="952d8df8-59f1-43d5-b986-8259b1e92763" Alias="Kotlin" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/Kotlin</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-03-08T06:27:59</CreateDate>
    <NodeName Default="Kotlin" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
  </Properties>
</Content>