<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7babe5c-1b84-4544-86da-a0abfb5c2b8a" Alias="Learning Functional Programming Through Construction: First Principles" Level="4">
  <Info>
    <Parent Key="9f45aad2-7549-4b2a-910d-ca986967c2d3">Dev Night - September 2024</Parent>
    <Path>/Home/Events/DevNightSeptember2024/LearningFunctionalProgrammingThroughConstructionFirstPrinciples</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2024-08-29T23:29:08</CreateDate>
    <NodeName Default="Learning Functional Programming Through Construction: First Principles" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Test]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[[
  {
    "key": "1eb8514e-9965-4a5a-afb4-b7b6996aac57",
    "mediaKey": "34e60564-ca42-4a03-9c2e-9df39ce4f21b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/302655626/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/aa015d83702f42599b1cf2f0ce805205]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[umb://document/b6e9aa4bfc2745aa8fe52620c174d1a9]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>