<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3174e91-8f3e-48e7-a50b-608f8e3da666" Alias="Linux Monitoring/Debugging with eBPF" Level="4">
  <Info>
    <Parent Key="c6ccbccf-bcae-45f2-9379-5f67df83030c">Dev Night August 2022</Parent>
    <Path>/Home/Events/DevNightAugust2022/LinuxMonitoringDebuggingWithEBPF</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2022-07-25T13:47:46</CreateDate>
    <NodeName Default="Linux Monitoring/Debugging with eBPF" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[**************************************

Springfield Devs
Linux Monitoring/Debugging with eBPF
Presented By: Fred Lawler

Think Web Assembly, but for your operating system! 

Berkley Packet Filters (BPF) was first introduced to Linux as tool to for monitoring network packets. Since then the technology has been extended and named eBPF. eBPF allows developers to write sandboxed applications that can inspect low-level kernel functions and tracepoints all the way up to userspace applications, and can do much-much more!

This presentation is going to be low-level, but broken down into a simple-easy-to-follow tutorial with examples an explanation of use cases.

Things we’ll cover:
- Development environment setup (easy to run script!)
- Quick explainer of bpftrace
- Auditing use case
- Debugging use case
- Performance use case  

We’ll only cover these use cases with bpftrace. We won’t cover compiled C or Go programs that can be loaded into the Kernel to perform functional use cases.

If you’re super eager to get started, have a look at [https://ebpf.io/](https://ebpf.io/) !

**************************************

View the stream on Twitch at https://www.twitch.tv/sgfdevs]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/287392458/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/fd25c0bf607b4ebd8b3c79c2053fab7a]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>