<?xml version="1.0" encoding="utf-8"?>
<Content Key="dfa955e7-a5c8-4be1-801b-b37d25969081" Alias="Logic Forte" Level="3">
  <Info>
    <Parent Key="b46ef282-213b-4f99-bb02-5a1950add18d">Companies</Parent>
    <Path>/Home/Companies/LogicForte</Path>
    <Trashed>false</Trashed>
    <ContentType>company</ContentType>
    <CreateDate>2022-03-10T22:33:50</CreateDate>
    <NodeName Default="Logic Forte" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f72f0653-4dc9-4878-8d7e-43da2f9224e0">Company</Template>
  </Info>
  <Properties>
    <aboutText>
      <Value><![CDATA[For Sonic Drive-In restaurant owners and managers, demystifying point of sale analytics reports and putting meaning to numbers related to Key Performance Indicators (KPI) can be frustrating. Logic Forte is dedicated to erasing that frustration by offering detailed, easy-to-understand restaurant KPI dashboards that resolve technology blockers so you can run your business—better.]]></Value>
    </aboutText>
    <availableForHire>
      <Value><![CDATA[0]]></Value>
    </availableForHire>
    <companyTags>
      <Value><![CDATA[]]></Value>
    </companyTags>
    <facebookUrl>
      <Value><![CDATA[https://www.facebook.com/LogicForte]]></Value>
    </facebookUrl>
    <featuredEmbed>
      <Value><![CDATA[]]></Value>
    </featuredEmbed>
    <featuredImage>
      <Value><![CDATA[umb://media/f5763de9186b46ad8f4508c44c2b0061]]></Value>
    </featuredImage>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <image>
      <Value><![CDATA[umb://media/703584618c0c451f8b11b032ffd9f5db]]></Value>
    </image>
    <instagramUrl>
      <Value><![CDATA[https://www.instagram.com/LogicForte/]]></Value>
    </instagramUrl>
    <isFoundingSponsor>
      <Value><![CDATA[1]]></Value>
    </isFoundingSponsor>
    <isSponsor>
      <Value><![CDATA[1]]></Value>
    </isSponsor>
    <linkedInUrl>
      <Value><![CDATA[https://www.linkedin.com/company/logicforte/]]></Value>
    </linkedInUrl>
    <location>
      <Value><![CDATA[Springfield, MO]]></Value>
    </location>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <twitterUrl>
      <Value><![CDATA[https://twitter.com/LogicForte]]></Value>
    </twitterUrl>
    <umbracoUrlName>
      <Value><![CDATA[logicforte]]></Value>
    </umbracoUrlName>
    <websiteUrl>
      <Value><![CDATA[https://logicforte.com/]]></Value>
    </websiteUrl>
  </Properties>
</Content>