<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ac56fb6-4a32-4956-a841-56650949889f" Alias="Method Conf 2024" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/MethodConf2024</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-09-23T04:46:05</CreateDate>
    <NodeName Default="Method Conf 2024" />
    <SortOrder>36</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-10-12T07:30:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>