<?xml version="1.0" encoding="utf-8"?>
<Content Key="d41d89d9-64f0-4c1a-8f53-44a62d8f613b" Alias="Method Conference - Saturday October 12th at The efactory - Register Now!" Level="4">
  <Info>
    <Parent Key="6ac56fb6-4a32-4956-a841-56650949889f">Method Conf 2024</Parent>
    <Path>/Home/Events/MethodConf2024/MethodConferenceSaturdayOctober12thAtTheEfactoryRegisterNow</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2024-09-22T22:46:05</CreateDate>
    <NodeName Default="Method Conference - Saturday October 12th at The efactory - Register Now!" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[[
  {
    "key": "e1066add-4eab-4308-a8fc-2642f894ca27",
    "mediaKey": "ff7ad208-ff30-4879-b298-e0e01e28af2b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.methodconf.com]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/cd539ece01cf41deb91eefe5e3b13814]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>