<?xml version="1.0" encoding="utf-8"?>
<Content Key="657517e3-4f41-4814-9cf6-04183ae76b31" Alias="Mid-Level Engineer" Level="4">
  <Info>
    <Parent Key="9ee5a8cf-935d-4fdf-98bc-9640a6a72637">Element 11</Parent>
    <Path>/Home/Companies/Element11/MidLevelEngineer</Path>
    <Trashed>false</Trashed>
    <ContentType>job</ContentType>
    <CreateDate>2021-10-28T19:16:19</CreateDate>
    <NodeName Default="Mid-Level Engineer" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="db43011e-4f35-473d-b730-2f7c3bb3c506">Job</Template>
  </Info>
  <Properties>
    <applyURL>
      <Value><![CDATA[https://element11.com/contact-us/]]></Value>
    </applyURL>
    <bannerImage>
      <Value><![CDATA[]]></Value>
    </bannerImage>
    <compensation>
      <Value><![CDATA[Competitive]]></Value>
    </compensation>
    <employmentType>
      <Value><![CDATA[[
  "Full-time"
]]]></Value>
    </employmentType>
    <jobDescription>
      <Value><![CDATA[<p>Element 11 is looking for a highly motivated entry- to mid-level engineer to join our team. We're a small web dev company based in north Nixa with clients across the nation. We build custom solutions for our clients on a variety of frameworks and platforms, including Angular, .Net, Node, AWS, and Azure. We're looking for someone with initiative, aptitude, a passion for continued learning, and attention to detail. Please DM if you're interested or send your resume and/or questions to ben@element11.com</p>]]></Value>
    </jobDescription>
    <jobTags>
      <Value><![CDATA[]]></Value>
    </jobTags>
    <location>
      <Value><![CDATA[Nixa, MO]]></Value>
    </location>
    <skillTags>
      <Value><![CDATA[umb://document/b9559dd107bb414b89f6867b1c6d8533,umb://document/51f4d55d428342529ad8877b1523e354,umb://document/79762a3f757f4cc2af44e86ba991fadf,umb://document/ced640ac30f44a29a942126936e08da1,umb://document/2dee65fd45e244f58a5e95dc370ca266,umb://document/bd8014be9e494e598f32d2871681c2c3]]></Value>
    </skillTags>
  </Properties>
</Content>