<?xml version="1.0" encoding="utf-8"?>
<Content Key="7307e2a3-b4c1-461b-9084-18972dcf858c" Alias="MongoDB" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/MongoDB</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-03-08T06:38:45</CreateDate>
    <NodeName Default="MongoDB" />
    <SortOrder>44</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
  </Properties>
</Content>