<?xml version="1.0" encoding="utf-8"?>
<Content Key="894862aa-0f38-4c37-afd3-1ea33bfbd831" Alias="Objective-C" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/ObjectiveC</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-03-08T06:29:16</CreateDate>
    <NodeName Default="Objective-C" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
  </Properties>
</Content>