<?xml version="1.0" encoding="utf-8"?>
<Content Key="26358e28-94af-4687-9b39-56ea02e85ca6" Alias="Online Payments via Stripe: Paying Third Parties" Level="4">
  <Info>
    <Parent Key="f5d50152-1f35-4c58-a0fb-b96dac0ec1dd">Dev Night May 2022</Parent>
    <Path>/Home/Events/DevNightMay2022/OnlinePaymentsViaStripePayingThirdParties</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2022-04-20T14:10:50</CreateDate>
    <NodeName Default="Online Payments via Stripe: Paying Third Parties" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[**************************************
Springfield Devs
Online Payments via Stripe: Paying Third Parties
Presented by: Colin Lowel
**************************************
This talk will be part two of my previous talk on Online Payments with Stripe, WSL Explained. If you missed that first talk or would like to view it again then it can be found here: https://www.twitch.tv/videos/1196050890

Stripe is a wonderful collection of products that takes the stress and complexity of managing payment processing off the backs of developers and businesses alike. From accepting payment online, invoicing clients, managing subscriptions, and more they have tools for just about every situation you need to handle. In this talk, we'll do a brief recap of what I covered last time and further expand upon the base we created to now integrate third parties into the payment process. Stripe Connect is an extremely powerful system that allows companies to pay contractors or even create a third-party sellers marketplace. Popular websites and services like Shopify and Lyft run using this platform and I'll show you just how it's done.

View the stream on Twitch at https://www.twitch.tv/sgfdevs]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/a14686155e274cc282dbe59a552c5455]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>