<?xml version="1.0" encoding="utf-8"?>
<Content Key="85a88485-12a0-4a0f-b4e7-79f9a37b5cdd" Alias="Panel Talk - Developers and their Career Paths" Level="4">
  <Info>
    <Parent Key="11005df6-f0a3-49ee-93cd-ca55a85a4c85">Dev Night June 2022</Parent>
    <Path>/Home/Events/DevNightJune2022/PanelTalkDevelopersAndTheirCareerPaths</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2022-04-20T20:24:59</CreateDate>
    <NodeName Default="Panel Talk - Developers and their Career Paths" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[**************************************
Springfield Devs
Panel Talk - Developers and their Career Paths

Panel Speakers:
Nylah Tay Rogers - Programming Analyst, Jack Henry & Associates
Anthony Maughan - IT Director Custom Solutions, BKD CPAs & Advisors
Mark Kaffenberger - Senior Software Engineer, Netsmart
Christopher Baunach - Senior Frontend Engineer, Reach Platform

Moderated By: Kirsten Markley - CIS Faculty, Ozarks Technical Community College

Q&A for this talk is handled via Slido - Post your questions or up-vote existing questions at this link [https://app.sli.do/event/7yCCsTYA2t231ZK31MoKUu][1]
**************************************
There are countless ways to get into software development. Some people find their passion for coding in a middle school workshop or college club; others stumble into development midway through their careers.  Join us for this panel talk about the diffrent paths into software development jobs and get your questions answered.

The panelists want to answer your questions - use the Slido link below to submit.

Note - the Q&A for this session will be handled via Slido. You can submit your questions ahead of time, up-vote submitted questions, and ask questions in real-time during the panel by using our Slido link - https://app.sli.do/event/7yCCsTYA2t231ZK31MoKUu

View the stream on Twitch at https://www.twitch.tv/sgfdevs


  [1]: https://app.sli.do/event/7yCCsTYA2t231ZK31MoKUu]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/45d788961d364435830319a72630eded]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>