<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a7225ab-ce86-4f43-8372-4607b178261a" Alias="Quality Advocacy In Software Development (not just testers)" Level="4">
  <Info>
    <Parent Key="b4d1882f-403f-4920-b682-0ebcc35f9dbe">Dev Night April 2021</Parent>
    <Path>/Home/Events/DevNightApril2021/QualityAdvocacyInSoftwareDevelopmentNotJustTesters</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2021-03-26T09:55:28</CreateDate>
    <NodeName Default="Quality Advocacy In Software Development (not just testers)" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Software development is a complex and time consuming endeavor. Whether you're building a small app for a local business or an enterprise application for a fortune 500 company, one of the most endearing aspects of any software is that it works and continues to work for its users. Applications plagued with bugs or poor user experiences often get discarded or avoided. At World Wide Technology (WWT) we build software for a variety of customers as a team. One way we ensure it satisfies the needs of its users is by including in that team someone whose primary focus is quality; Quality of feature completeness, quality of change processes and quality of the software over its lifetime. We refer to these team members as Quality Advocates because at each stage of development they are there to advocate for quality and guide the team to build robust software.

David Lowe, of WWT, has been a Quality Advocate for over 15 years and wants to share his experience, the experience of others in his role, and the impact it has on producing high quality software. Not only will he be covering the practices and techniques he employs daily, but also how other roles on the team interact with his role and come together to build software that delights both our customers and the users of their software.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/324527fb812e4cd2ae0d90dc9867eb35]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>