<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec24f401-1ae6-46f2-918f-c96117ad29c7" Alias="Reset Password" Level="2">
  <Info>
    <Parent Key="2504572c-2467-457c-990d-06aef735cb5d">Home</Parent>
    <Path>/Home/ResetPassword</Path>
    <Trashed>false</Trashed>
    <ContentType>resetPassword</ContentType>
    <CreateDate>2021-03-11T14:19:10</CreateDate>
    <NodeName Default="Reset Password" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>