<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1d45082-2a39-4f9d-9240-95dc3db6914e" Alias="Rust" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/Rust</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-03-08T06:28:55</CreateDate>
    <NodeName Default="Rust" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
  </Properties>
</Content>