<?xml version="1.0" encoding="utf-8"?>
<Content Key="42f238f1-9bd8-4f56-9a9c-42dca043460a" Alias="Skills" Level="2">
  <Info>
    <Parent Key="235713a3-e988-42ce-bc14-513fd8790416">Tags</Parent>
    <Path>/Tags/Skills</Path>
    <Trashed>false</Trashed>
    <ContentType>tagGroup</ContentType>
    <CreateDate>2020-11-23T01:10:49</CreateDate>
    <NodeName Default="Skills" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>