<?xml version="1.0" encoding="utf-8"?>
<Content Key="a88673e4-0546-4946-be02-c66b4cfbbedf" Alias="Speak with Confidence: Mastering Technical Presentations for Beginners" Level="4">
  <Info>
    <Parent Key="e8500985-39f3-4709-9b34-1b13828c2726">Dev Night - August 2023</Parent>
    <Path>/Home/Events/DevNightAugust2023/SpeakWithConfidenceMasteringTechnicalPresentationsForBeginners</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2023-07-03T15:08:52</CreateDate>
    <NodeName Default="Speak with Confidence: Mastering Technical Presentations for Beginners" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/294577531/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/45d788961d364435830319a72630eded]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>