<?xml version="1.0" encoding="utf-8"?>
<Content Key="eedc4e61-a8e9-40f7-b561-7afd135e2eff" Alias="Springfield Tech Council" Level="3">
  <Info>
    <Parent Key="b46ef282-213b-4f99-bb02-5a1950add18d">Companies</Parent>
    <Path>/Home/Companies/SpringfieldTechCouncil</Path>
    <Trashed>false</Trashed>
    <ContentType>company</ContentType>
    <CreateDate>2024-02-21T06:52:17</CreateDate>
    <NodeName Default="Springfield Tech Council" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f72f0653-4dc9-4878-8d7e-43da2f9224e0">Company</Template>
  </Info>
  <Properties>
    <aboutText>
      <Value><![CDATA[Springfield Tech Council officially launched in 2021 with a ribbon cutting event at the Bluebird underground data center. 

The generous support of founding sponsors Bluebird Network and Pitt Technology Group allowed the organization to become a reality and continue to thrive. STC has since grown to one of the largest professional organizations in the region, with additional support of cornerstone and visionary sponsors SRC and CNH Industrial Reman.

Annual signature events include the [STC Squared Conference][1] in March and the [Excellence in Tech Awards][2] in November. Members and guests have the opportunity to regularly connect through monthly [events][3] such as Learning Over Lunch, Meet the Members/Happy Hour, Leadership Roundtables, Tech Leaders Lunch, and more. 


  [1]: https://sgftechcouncil.com/squared-2024
  [2]: https://sgftechcouncil.com/excellence-in-tech-awards
  [3]: https://sgftechcouncil.com/tech-events-calendar]]></Value>
    </aboutText>
    <availableForHire>
      <Value><![CDATA[0]]></Value>
    </availableForHire>
    <companyTags>
      <Value><![CDATA[]]></Value>
    </companyTags>
    <facebookUrl>
      <Value><![CDATA[https://www.facebook.com/SGFTechCouncil]]></Value>
    </facebookUrl>
    <featuredEmbed>
      <Value><![CDATA[]]></Value>
    </featuredEmbed>
    <featuredImage>
      <Value><![CDATA[umb://media/165b73bf9e334d67bd4a64f8a8c04987]]></Value>
    </featuredImage>
    <headline>
      <Value><![CDATA[Supporting tech. Connecting people. Improving the community.]]></Value>
    </headline>
    <image>
      <Value><![CDATA[umb://media/4484f65821884ca4872300e6715b5001]]></Value>
    </image>
    <instagramUrl>
      <Value><![CDATA[]]></Value>
    </instagramUrl>
    <isFoundingSponsor>
      <Value><![CDATA[0]]></Value>
    </isFoundingSponsor>
    <isSponsor>
      <Value><![CDATA[1]]></Value>
    </isSponsor>
    <linkedInUrl>
      <Value><![CDATA[https://www.linkedin.com/company/sgftechcouncil/]]></Value>
    </linkedInUrl>
    <location>
      <Value><![CDATA[Springfield, MO]]></Value>
    </location>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <twitterUrl>
      <Value><![CDATA[http://twitter.com/sgftechcouncil]]></Value>
    </twitterUrl>
    <umbracoUrlName>
      <Value><![CDATA[stc]]></Value>
    </umbracoUrlName>
    <websiteUrl>
      <Value><![CDATA[https://sgftechcouncil.com/]]></Value>
    </websiteUrl>
  </Properties>
</Content>