<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcf54d4f-e96a-4a0f-aae6-3df73e609b53" Alias="Springfield .NET User Group" Level="3">
  <Info>
    <Parent Key="d132ca12-4e57-439b-990b-6d97ac5aa3b6">Groups</Parent>
    <Path>/Home/Groups/SpringfieldNETUserGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>group</ContentType>
    <CreateDate>2020-12-14T10:13:50</CreateDate>
    <NodeName Default="Springfield .NET User Group" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="35290af4-f801-4a0d-af0c-10702707b22b">Group</Template>
  </Info>
  <Properties>
    <aboutText>
      <Value><![CDATA[We are a group of technologists of varying levels of skill and experience interested in learning about and developing with the Microsoft .NET framework and related technologies.

We meet every first Wednesday of the month with a presentation on a different topic each meeting. Everyone who has an interest in .NET or related technologies is welcome to attend. Due to our involvement with SGF Devs, no membership dues are required.

We have been meeting regularly since around 2005 and joined Meetup in the spring of 2015.]]></Value>
    </aboutText>
    <establishedText>
      <Value><![CDATA[Established 2005]]></Value>
    </establishedText>
    <facebookUrl>
      <Value><![CDATA[]]></Value>
    </facebookUrl>
    <groupImage>
      <Value><![CDATA[umb://media/640b246d9fa7494fb3b65951b65b9829]]></Value>
    </groupImage>
    <instagramUrl>
      <Value><![CDATA[]]></Value>
    </instagramUrl>
    <introImageVideo>
      <Value><![CDATA[]]></Value>
    </introImageVideo>
    <leaders>
      <Value><![CDATA[umb://member/a3c010868b05458c8d9100f665561805]]></Value>
    </leaders>
    <linkedInUrl>
      <Value><![CDATA[]]></Value>
    </linkedInUrl>
    <location>
      <Value><![CDATA[Springfield, MO]]></Value>
    </location>
    <meetupUrl>
      <Value><![CDATA[]]></Value>
    </meetupUrl>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <twitchUrl>
      <Value><![CDATA[]]></Value>
    </twitchUrl>
    <twitterUrl>
      <Value><![CDATA[]]></Value>
    </twitterUrl>
    <websiteUrl>
      <Value><![CDATA[]]></Value>
    </websiteUrl>
    <youTubeUrl>
      <Value><![CDATA[]]></Value>
    </youTubeUrl>
  </Properties>
</Content>