<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0106aba-d2fd-48b1-819c-10c37157805e" Alias="Springfield AWS" Level="3">
  <Info>
    <Parent Key="d132ca12-4e57-439b-990b-6d97ac5aa3b6">Groups</Parent>
    <Path>/Home/Groups/SpringfieldAWS</Path>
    <Trashed>false</Trashed>
    <ContentType>group</ContentType>
    <CreateDate>2020-12-14T10:13:38</CreateDate>
    <NodeName Default="Springfield AWS" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="35290af4-f801-4a0d-af0c-10702707b22b">Group</Template>
  </Info>
  <Properties>
    <aboutText>
      <Value><![CDATA[Springfield Amazon Web Services (SGF AWS) User Group is a community-based user group that promotes and advocates for Amazon Web Services in the Springfield Missouri region.

We meet during Dev Night (every 1st Wednesday) at The eFactory. Social/Food/Drinks 6pm, Announcements 6:30pm, Presentation 7pm-8pm. Visit our Meetup Page ([https://meetup.com/sgf-aws][1]) for any last minute meeting announcements.


  [1]: https://meetup.com/sgf-aws]]></Value>
    </aboutText>
    <establishedText>
      <Value><![CDATA[Established 2017]]></Value>
    </establishedText>
    <facebookUrl>
      <Value><![CDATA[]]></Value>
    </facebookUrl>
    <groupImage>
      <Value><![CDATA[umb://media/c7bc7685879d4d038690adeb9d33419c]]></Value>
    </groupImage>
    <instagramUrl>
      <Value><![CDATA[]]></Value>
    </instagramUrl>
    <introImageVideo>
      <Value><![CDATA[]]></Value>
    </introImageVideo>
    <leaders>
      <Value><![CDATA[umb://member/2a6668e1d589477d8f279ef4a774292c]]></Value>
    </leaders>
    <linkedInUrl>
      <Value><![CDATA[]]></Value>
    </linkedInUrl>
    <location>
      <Value><![CDATA[Springfield, MO]]></Value>
    </location>
    <meetupUrl>
      <Value><![CDATA[]]></Value>
    </meetupUrl>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <twitchUrl>
      <Value><![CDATA[]]></Value>
    </twitchUrl>
    <twitterUrl>
      <Value><![CDATA[]]></Value>
    </twitterUrl>
    <websiteUrl>
      <Value><![CDATA[]]></Value>
    </websiteUrl>
    <youTubeUrl>
      <Value><![CDATA[]]></Value>
    </youTubeUrl>
  </Properties>
</Content>