<?xml version="1.0" encoding="utf-8"?>
<Content Key="00a83654-b95b-429e-9df8-44a2dca26d29" Alias="Springfield Devs" Level="3">
  <Info>
    <Parent Key="d132ca12-4e57-439b-990b-6d97ac5aa3b6">Groups</Parent>
    <Path>/Home/Groups/SpringfieldDevs</Path>
    <Trashed>false</Trashed>
    <ContentType>group</ContentType>
    <CreateDate>2020-12-14T10:13:23</CreateDate>
    <NodeName Default="Springfield Devs" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="35290af4-f801-4a0d-af0c-10702707b22b">Group</Template>
  </Info>
  <Properties>
    <aboutText>
      <Value><![CDATA[]]></Value>
    </aboutText>
    <establishedText>
      <Value><![CDATA[]]></Value>
    </establishedText>
    <facebookUrl>
      <Value><![CDATA[]]></Value>
    </facebookUrl>
    <groupImage>
      <Value><![CDATA[]]></Value>
    </groupImage>
    <instagramUrl>
      <Value><![CDATA[]]></Value>
    </instagramUrl>
    <introImageVideo>
      <Value><![CDATA[]]></Value>
    </introImageVideo>
    <leaders>
      <Value><![CDATA[]]></Value>
    </leaders>
    <linkedInUrl>
      <Value><![CDATA[]]></Value>
    </linkedInUrl>
    <location>
      <Value><![CDATA[Springfield, MO]]></Value>
    </location>
    <meetupUrl>
      <Value><![CDATA[]]></Value>
    </meetupUrl>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <twitchUrl>
      <Value><![CDATA[]]></Value>
    </twitchUrl>
    <twitterUrl>
      <Value><![CDATA[]]></Value>
    </twitterUrl>
    <websiteUrl>
      <Value><![CDATA[]]></Value>
    </websiteUrl>
    <youTubeUrl>
      <Value><![CDATA[]]></Value>
    </youTubeUrl>
  </Properties>
</Content>