<?xml version="1.0" encoding="utf-8"?>
<Content Key="efa230e6-8f6b-40cb-9e01-89d0ff13b298" Alias="SQL Server" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/SQLServer</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-01-04T06:42:37</CreateDate>
    <NodeName Default="SQL Server" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
  </Properties>
</Content>