<?xml version="1.0" encoding="utf-8"?>
<Content Key="e17b07ab-1b7e-423d-9b6d-34c46ce557b2" Alias="Sr. Product Owner" Level="4">
  <Info>
    <Parent Key="75a64eb0-0a0f-46c4-9585-214306b46974">WWT</Parent>
    <Path>/Home/Companies/WWT/SrProductOwner</Path>
    <Trashed>false</Trashed>
    <ContentType>job</ContentType>
    <CreateDate>2021-10-06T11:27:13</CreateDate>
    <NodeName Default="Sr. Product Owner" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="db43011e-4f35-473d-b730-2f7c3bb3c506">Job</Template>
  </Info>
  <Properties>
    <applyURL>
      <Value><![CDATA[https://recruiting.adp.com/srccar/public/RTI.home?c=2166501&d=WWTExternalCareerSite&r=5000750084600#/]]></Value>
    </applyURL>
    <bannerImage>
      <Value><![CDATA[]]></Value>
    </bannerImage>
    <compensation>
      <Value><![CDATA[$92K-$144K]]></Value>
    </compensation>
    <employmentType>
      <Value><![CDATA[[
  "Full-time"
]]]></Value>
    </employmentType>
    <jobDescription>
      <Value><![CDATA[<p>World Wide Technology - <strong>Make a New World Happen. </strong>The world is changing - fast. To keep pace, companies must find new ways to get to market faster, disrupt the status quo, optimize operational models, and create experiences their employees and consumers desire. Companies know they must embrace digital, but too often they start the process at the end - with prescriptive technology. We start with the customer.</p>
<p>World Wide Technology (WWT) identifies business needs - then designs, develops, and integrates custom software solutions for clients across the Department of Defense, Health Care, Financial Services, Fast Food Retail, Grocers, and every industry in-between. Our flexible methodologies and multi-disciplined delivery teams promote intuitive experiences, unparalleled quality, regular analysis of metrics, and iterative product testing.</p>
<p>World Wide Technology (WWT) is a $13B+ global technology integrator with expertise across the supply chain, networking, collaboration, and security - we form a unique nucleus of end-to-end creative and technology capabilities needed to help transform our clients' businesses at scale. Our teams are deeply connected and bring their shared insights across industries, disciplines, and markets to every engagement.</p>
<p><strong>Job Description:</strong></p>
<p>WWT has opportunities for a <strong>Product Owner</strong> to assist with teams' and individuals' delivery of valuable software solutions. A <strong>Product Owner</strong> at WWT is responsible for ensuring that the product delivered meets the client's needs and business requirements. On a day-to-day basis, they will work for the benefit of the client and represent them for the team. As a <strong>Product Owner</strong>, you will work closely with our client's business representatives and SMEs, as well as working with the development team daily.</p>
<p>An ideal candidate must have previous experience owning one or more products and have a solid understanding of product management techniques. They will have experience working with all levels of management and have excellent interpersonal and conflict resolution skills. The candidate will need to be able to forge relationships and quickly come up to speed on the client's domain and vision for the product. The candidate must also have real-world experience working as part of an Agile team and possess the ability to distill business value and goals into roadmaps and refined product backlogs.</p>
<p>The <strong>Product Owner</strong> will report to the Product Owner Practice Lead and will guide product ownership principles within their delivery teams. As a Product Owner, you will be working with a WWT development team out of both the Maryland Heights and Downtown offices and will travel to client sites as required by the engagement and client needs.</p>
<p><strong><u>Primary Responsibilities:</u></strong></p>
<p><strong>As a member of our WWT AS Product Owner Team, you will:</strong></p>
<ul>
<li>Be responsible for clearly understanding the client's vision for the product and assisting the client in defining that vision if it is not clear to ensure that the right product is built.</li>
<li>Be responsible for making sure the product vision is clearly communicated to the delivery team and understood by the team.</li>
<li>Be responsible for understanding the various users of the product, including other systems that may consume the product, to ensure that they are building a product that provides value to the users.</li>
<li>Maintain the client's product roadmap, with upcoming short-term and long-term goals, and communicates the roadmap to the delivery team and stakeholders.</li>
<li>Work with the Delivery Lead to set client expectations.</li>
<li>Negotiate with the client representatives, stakeholders, and delivery team to prioritize work in the backlog and help maximize the value the team delivers.</li>
<li>Work with the client to define what business value means to the client and uses this definition to assess each feature/story based on business value.</li>
<li>Maintain a well-defined and prioritized backlog of sufficient length to support the team's velocity.</li>
<li>Make sure that the team understands the context of the stories in the backlog and that the team has adequate information to deliver the stories.</li>
<li>Conduct the necessary research and analysis to fully understand the client's needs and requirements.</li>
<li>Work with the delivery team to write and refine user stories.</li>
<li>Ensure the product is demoed to the client and stakeholders and confirm that the product being delivered meets the client's needs.</li>
<li>Work with the delivery team daily to answer questions and review/approve stories being developed.</li>
</ul>
<p><strong>Experience</strong></p>
<ul>
<li>4+ years experience as a member of an Agile software development teams</li>
<li>3+ years experience working as a Product Owner or Product Manager</li>
<li>4+ years experience working directly with business stakeholders</li>
</ul>
<p><strong>Product Owner Skills</strong></p>
<ul>
<li>Practical experience creating and communicating product visions</li>
<li>Proven ability to translate a product vision into an action</li>
<li>Can demonstrate techniques for quickly and effectively understanding a client domain and product</li>
<li>Demonstrated experience in helping stakeholders identify business value/objectives and using this to prioritize work</li>
<li>Demonstrate ability to effectively negotiate between competing stakeholders to ensure highest value objectives are met</li>
<li>Demonstrate an understanding of 'Personas' and how to identify users and create personas to represent them</li>
<li>Experience creating and using delivery metrics, predictability, and forecasting; given appropriate data, can create (and draw conclusions from) a forecast and communicate that information to stakeholders with progress updates and metrics</li>
</ul>
<p><strong>Agile Knowledge - has the ability to...</strong></p>
<ul>
<li>Explain both agile and lean software development values and principles</li>
<li>Demonstrate how to conduct story mapping and user story writing sessions to create a product backlog</li>
<li>explain various ways to create user stories and document acceptance criteria</li>
</ul>
<p><strong>Meeting Facilitation</strong></p>
<ul>
<li>Has effectively lead meetings of 20 or more people</li>
<li>Can illustrate examples of how to prepare for and run effective meetings</li>
<li>Demonstrates skills facilitating remote meetings with participants across multiple locations</li>
</ul>
<p><strong>Consulting skills</strong></p>
<ul>
<li>Has experience in healthy conflict resolution and finding the best solutions to address issues and work effectively through disagreements</li>
<li>Demonstrates excellent communication skills and has a customer-focused mindset</li>
</ul>
<p><strong style="color: red;">Travel: up to 25%</strong></p>
<p><strong>Desired</strong></p>
<ul>
<li>Experience as a Business Analyst</li>
<li>Experience creating Business Canvases and Value Propositions</li>
<li>Ability to conduct and document a gap analysis</li>
</ul>
<p><strong>Additional information</strong></p>
<p><strong>Salary Band:</strong></p>
<p><strong>$92k to $144K depending on skills, qualifications, education, and location.</strong></p>
<p>WWT is an innovative software technology firm focused on the agile delivery of custom software solutions, enterprise architecture, systems integration, and mobility solutions. Clients include Fortune 500 companies and Government agencies.</p>
<p><strong>This role may require on-location work with WWT customers. Some customers may require WWT employees and contractors coming on-site to be vaccinated against COVID-19 and/or to receive frequent negative COVID-19 testing.</strong></p>
<p><strong>Diversity, Equity, and Inclusion are more than a commitment at WWT -- it is the foundation of what we do. Through diverse networks and pipelines, we have a clear vision: to create a Great Place to Work for All. We believe inclusion includes U. Be who U are at WWT!</strong></p>
<p><strong>World Wide Technology is an Equal Opportunity Employer. Employment decisions are made without regard to race, color, religion, sex (including pregnancy), sexual orientation, gender identity, national origin, age, differently-abled, veteran status, genetic information, or other characteristics protected by law</strong>.</p>]]></Value>
    </jobDescription>
    <jobTags>
      <Value><![CDATA[]]></Value>
    </jobTags>
    <location>
      <Value><![CDATA[Springfield]]></Value>
    </location>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
  </Properties>
</Content>