<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e94ece4-452a-44e4-adf2-3aaccc055d66" Alias="Ten Reasons Your Job Search Isn't Working: Presentation by Ian Schraier" Level="102">
  <Info>
    <Parent Key="cc5f8f89-575e-45ce-abac-51ae08e40f53">Dev Night - April 2025 (3)</Parent>
    <Path>/[-20]/DevNightApril20253/TenReasonsYourJobSearchIsntWorkingPresentationByIanSchraier</Path>
    <Trashed Parent="cc5f8f89-575e-45ce-abac-51ae08e40f53">true</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2025-03-30T03:23:16</CreateDate>
    <NodeName Default="Ten Reasons Your Job Search Isn't Working: Presentation by Ian Schraier" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/306693951/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/cd539ece01cf41deb91eefe5e3b13814]]></Value>
    </presenter>
    <presenters>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1bdea08d-8393-4e70-85a9-2ca27bef54f1",
      "key": "47fd7c3f-912c-4507-b436-2996ba0170f1",
      "values": [
        {
          "alias": "member",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://member/cd539ece01cf41deb91eefe5e3b13814"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "47fd7c3f-912c-4507-b436-2996ba0170f1",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "47fd7c3f-912c-4507-b436-2996ba0170f1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </presenters>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>