<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc3b8eb5-8eb4-4369-aa5b-d81b7e44ba55" Alias="Ten Reasons Your Job Search Isn't Working: Presentation by Ian Schraier" Level="4">
  <Info>
    <Parent Key="3b34fc3b-92f2-419d-9bc6-7d2ccd2137df">Dev Night - April 2025</Parent>
    <Path>/Home/Events/DevNightApril2025/TenReasonsYourJobSearchIsntWorkingPresentationByIanSchraier</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2025-03-30T03:35:54</CreateDate>
    <NodeName Default="Ten Reasons Your Job Search Isn't Working: Presentation by Ian Schraier" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/306693951/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/cd539ece01cf41deb91eefe5e3b13814]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>