<?xml version="1.0" encoding="utf-8"?>
<Content Key="f0ad1502-8f5d-4552-8b48-532954a13029" Alias="Terraform 101" Level="4">
  <Info>
    <Parent Key="82b07144-4026-4dea-bbee-2717d41db250">Dev Night April 2023</Parent>
    <Path>/Home/Events/DevNightApril2023/Terraform101</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2023-03-01T00:44:08</CreateDate>
    <NodeName Default="Terraform 101" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Details TBD]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/c0106abad2fd48b1819c10c37157805e]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/291937409]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/e54e0241dca1401e911463f972bd9ece]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>