<?xml version="1.0" encoding="utf-8"?>
<Content Key="badbb072-3af3-458e-9524-dcb74b3893ed" Alias="Test Driven Development (TDD) with React" Level="4">
  <Info>
    <Parent Key="137c148d-884f-4907-8d8e-0d3327339549">Dev Night June 2021</Parent>
    <Path>/Home/Events/DevNightJune2021/TestDrivenDevelopmentTDDWithReact</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2021-05-27T01:20:53</CreateDate>
    <NodeName Default="Test Driven Development (TDD) with React" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Test Driven Development (TDD) is a software development process that encourages simple designs and inspires confidence.  At World Wide Technology (WWT), we strive to use this process in as many of our projects as we can, but to do that we have to stay current with the latest techniques and tools.  We believe this is a powerful tool worth investing in and want to share it with others in the local community.

Adam Fox and Ben Pomerenke will be sharing both high level theory around TDD and hands on examples of it in a React web application.  Also included is team and personal processes that make TDD more accessible, effective and maintainable for people trying to leverage it.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/eb27f1ec133f492283e880fea9fcd2e1]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>