<?xml version="1.0" encoding="utf-8"?>
<Content Key="af14c795-838c-41a9-83c3-9d4de21f6a9e" Alias="Umbraco" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/Umbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-03-08T06:41:26</CreateDate>
    <NodeName Default="Umbraco" />
    <SortOrder>54</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
  </Properties>
</Content>