<?xml version="1.0" encoding="utf-8"?>
<Content Key="f42f5249-25c3-44f9-a923-04b3a75e7427" Alias="uSync" Level="3">
  <Info>
    <Parent Key="b46ef282-213b-4f99-bb02-5a1950add18d">Companies</Parent>
    <Path>/Home/Companies/uSync</Path>
    <Trashed>false</Trashed>
    <ContentType>company</ContentType>
    <CreateDate>2022-06-22T16:23:10</CreateDate>
    <NodeName Default="uSync" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f72f0653-4dc9-4878-8d7e-43da2f9224e0">Company</Template>
  </Info>
  <Properties>
    <aboutText>
      <Value><![CDATA[We are Jumoo and we specialize in evidence-based, customer-focused, digital stuff. That means we like numbers, and we like customers, and we like all manner of digital things, especially when they buzz and beep in funny ways.

With our background in offering public services digitally, we help large mainly public sector organisations to focus on their customers and deliver easy to find understandable and useable things.

We don't think that things need to be super complex; all too often the answer isn't to buy the all singing all dancing super system but to get high quality and focused things and join them together well.

At Jumoo, we believe that the best way to avoid ending up with a visually unappealing pile of junk, is to first understand just what's happening, and how your customers are using your digital things.]]></Value>
    </aboutText>
    <availableForHire>
      <Value><![CDATA[0]]></Value>
    </availableForHire>
    <companyTags>
      <Value><![CDATA[]]></Value>
    </companyTags>
    <facebookUrl>
      <Value><![CDATA[]]></Value>
    </facebookUrl>
    <featuredEmbed>
      <Value><![CDATA[]]></Value>
    </featuredEmbed>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <image>
      <Value><![CDATA[umb://media/c092477ebb5d4b89ac459895a271c85f]]></Value>
    </image>
    <instagramUrl>
      <Value><![CDATA[]]></Value>
    </instagramUrl>
    <isFoundingSponsor>
      <Value><![CDATA[0]]></Value>
    </isFoundingSponsor>
    <isSponsor>
      <Value><![CDATA[0]]></Value>
    </isSponsor>
    <linkedInUrl>
      <Value><![CDATA[]]></Value>
    </linkedInUrl>
    <location>
      <Value><![CDATA[United Kingdom]]></Value>
    </location>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <twitterUrl>
      <Value><![CDATA[https://twitter.com/jumooies]]></Value>
    </twitterUrl>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteUrl>
      <Value><![CDATA[https://jumoo.co.uk/usync/]]></Value>
    </websiteUrl>
  </Properties>
</Content>