<?xml version="1.0" encoding="utf-8"?>
<Content Key="4fe059fd-298e-4919-b501-7c069564d925" Alias="UX Designer" Level="4">
  <Info>
    <Parent Key="75a64eb0-0a0f-46c4-9585-214306b46974">WWT</Parent>
    <Path>/Home/Companies/WWT/UXDesigner</Path>
    <Trashed>false</Trashed>
    <ContentType>job</ContentType>
    <CreateDate>2021-10-06T11:26:34</CreateDate>
    <NodeName Default="UX Designer" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="db43011e-4f35-473d-b730-2f7c3bb3c506">Job</Template>
  </Info>
  <Properties>
    <applyURL>
      <Value><![CDATA[https://recruiting.adp.com/srccar/public/RTI.home?c=2166501&d=WWTExternalCareerSite&r=5000770109806#/]]></Value>
    </applyURL>
    <bannerImage>
      <Value><![CDATA[]]></Value>
    </bannerImage>
    <compensation>
      <Value><![CDATA[Competitive]]></Value>
    </compensation>
    <employmentType>
      <Value><![CDATA[[
  "Full-time"
]]]></Value>
    </employmentType>
    <jobDescription>
      <Value><![CDATA[<p><strong>Why Work at WWT?</strong></p>
<p>WWT Application Services designs, builds, and delivers custom applications for customers including digital experiences for web, native mobile, and beyond. Working together with agile delivery teams to simplify the complex, our UX team members are relentless in their pursuit of not only human-centered and frictionless experiences, but ones that are inclusive, delightful, and transform the world.</p>
<p>In 2020, our approach garnered the ‘Internet’s Highest Honor’ with two Webby Awards for St. Jude Children’s Research Hospital mobile app, which took home top honors in the Health &amp; Fitness category. With the unwavering belief that great software can change lives, we support and empower our 550+ technology professionals to do the best work of their careers.</p>
<p>WWT was founded in 1990 in St. Louis, Missouri, and is one of the largest African American owned businesses in America and closed nearly $13 Billion in revenue in 2020. We have a diverse, inclusive culture and believe our core values are the key to company and employee success. We are proud to be named a FORTUNE “100 Best Companies to Work For®“ for the tenth consecutive year!</p>
<p> </p>
<p><strong>Our Ideal Candidate</strong></p>
<ul>
<li>Lives for digital products. Has 5-7 years of experience designing digital products for Web and native mobile apps.</li>
<li>Is passionate not only about building the product right, but also building the right product - designing, prototyping, testing, and iterating features alongside your delivery team.</li>
<li>Leads user-centered design activities with teams and guides clients to better design decisions.</li>
<li>Is a systems thinker; simplifies complex business logic into frictionless and delightful user flows and digital interfaces (web, native mobile, wearables).</li>
<li>Uncovers empowering insights in user behavior through heuristic assessment, contextual inquiry, and usability testing.</li>
<li>Clearly illustrates narratives through user personas, journey maps, and storyboarding to align both client and team around the needs of end-users.</li>
<li>Rapidly conveys concepts through wireframes, user flows, prototypes, and high-fidelity mockups using Figma, Sketch, and/or Adobe XD.</li>
<li>Helps unify design language across multiple products, platforms, and teams by crafting robust, scalable design systems.</li>
<li>Brings ideas and concepts to life using professional illustration, animation, and visual design tools.</li>
<li>Recognizes that delightful user experiences blend art and science while leaning heavily on human factors, ergonomics, and heuristic principles to justify design decisions.</li>
<li>Remains at the bleeding-edge of digital creative trends, platform updates, design patterns and tools, and other updates that influence product design and human computer interaction.</li>
<li>Is fueled by a strong desire to learn new skills, improve your craft and workflow.</li>
<li>Desires a flexible, collaborative team environment that embraces diversity, inclusiveness, and knowledge sharing.</li>
</ul>
<p> </p>
<p><strong>You Must Have</strong></p>
<ul>
<li>A portfolio that conveys strong aesthetic and UX/UI sensibility, with a breadth and depth of modern Web and native mobile app examples.</li>
<li>A Bachelor’s degree or equivalent experience in the field of human-computer interaction, interaction design, or visual/graphic design with a focus on Web software. <span id="selectionBoundary_1622216783787_5048546083471175" class="rangySelectionBoundary"></span></li>
</ul>
<p> </p>
<p><strong>Our Benefits</strong></p>
<p>The well-being of WWT employees is essential. So, when it comes to our benefits package, WWT has one of the best. We offer the following benefits to all full-time employees:</p>
<ul>
<li>Health and Wellbeing: Heath, Dental, and Vision Care, Onsite Health Centers, Employee</li>
<li>Assistance Program, Wellness program</li>
<li>Financial Benefits: Competitive pay, Profit Sharing, 401k Plan with Company Matching,</li>
<li>Life and Disability Insurance, Tuition Reimbursement</li>
<li>Paid Time Off: PTO &amp; Holidays, Parental Leave, Sick Leave, Military Leave, Bereavement</li>
<li>Additional Perks: Nursing Mothers Benefits, Voluntary Legal, Pet Insurance, Employee Discount Program</li>
</ul>
<p> </p>
<p><strong>Additional Requirements:</strong></p>
<ul>
<li>Possesses a high level of <strong>Integrity. </strong>Acts ethically and is above reproach. Builds trust through their honesty, reliability, and authenticity. Possesses a strong concern for the needs of his/her colleagues. Takes tough principled stands even if they are unpopular. Meets commitments and keeps promises.</li>
<li>Demonstrates <strong>Self-control</strong>. Manages his/her impulsive feelings and distressing emotions and operates without any personal agenda. Stays composed, positive and unflappable even in trying moments. Thinks clearly and stays composed and focused under pressure.</li>
<li>Must be <strong>Flexible.</strong> Smoothly handles multiple demands, shifting priorities and rapid change. Is able to work collaboratively to get things done. Proactively seeks the advice and suggestions of peers, subordinates, and superiors. Adapts strategies and tactics to fit fluid circumstances. Is flexible in how he/she sees events.</li>
<li>Is <strong>Optimistic.</strong> Demonstrates a positive mental attitude. Persists in seeking goals despite obstacles and setbacks. Operates from a hope of success rather than a fear of failure. Sees setbacks as due to manageable circumstances rather than a personal flaw.</li>
<li>Continuously<strong> Develops Others.</strong> Committed to the continuous process of education and development of self and colleagues. Acknowledges people’s strengths and accomplishments. Offers useful feedback and helps to identify others’ needs for future growth and improvement. Mentors and gives timely coaching that fosters an individual’s skills.</li>
<li>Able to <strong>Intuitively Understand</strong> the way people think and work. Understands the forces that shape views and actions of clients, customers, or competitors. Accurately reads an organizational and external reality.</li>
<li>Models<strong> Leadership </strong>qualities. Articulates and arouses enthusiasm for a shared vision and mission. Leads by example.</li>
<li>Is a catalyst for <strong>Change.</strong> Recognizes the need for change and removes barriers. Challenges the status quo to acknowledge the need for change. Champions the change and enlists others in its pursuit.</li>
<li>Fosters<strong> Excellence in Communication.</strong> Is effective in give-and-take, registering emotional cues in attuning their message. Deals with difficult issues straightforwardly. Listens well; seeks mutual understanding and welcomes the sharing of information fully. Fosters open communication and stays receptive to bad news as well as good.</li>
</ul>
<p> </p>
<p><strong>World Wide Technology is an Equal Opportunity Employer. Employment decisions are made without regard to race, color, religion, sex (including pregnancy), sexual orientation, gender identity, national origin, age, differently abled, veteran status, genetic information, or other characteristics protected by law.</strong></p>]]></Value>
    </jobDescription>
    <jobTags>
      <Value><![CDATA[]]></Value>
    </jobTags>
    <location>
      <Value><![CDATA[Springfield]]></Value>
    </location>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
  </Properties>
</Content>