<?xml version="1.0" encoding="utf-8"?>
<Content Key="3613ae4d-2e20-4bef-9be3-4e7d862a7727" Alias="Vue JS" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/VueJS</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-03-08T06:34:47</CreateDate>
    <NodeName Default="Vue JS" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[Vue.js]]></Value>
    </displayName>
  </Properties>
</Content>