<?xml version="1.0" encoding="utf-8"?>
<Content Key="15f3d529-6190-4059-9f40-513e6a02a4e8" Alias="WareHQ Labs" Level="3">
  <Info>
    <Parent Key="b46ef282-213b-4f99-bb02-5a1950add18d">Companies</Parent>
    <Path>/Home/Companies/WareHQLabs</Path>
    <Trashed>false</Trashed>
    <ContentType>company</ContentType>
    <CreateDate>2023-07-28T05:15:35</CreateDate>
    <NodeName Default="WareHQ Labs" />
    <SortOrder>16</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="f72f0653-4dc9-4878-8d7e-43da2f9224e0">Company</Template>
  </Info>
  <Properties>
    <aboutText>
      <Value><![CDATA[WareHQ Labs is an innovative firm developing software solutions to solve today's most complex supply chain challenges. Headquartered in Kansas City, with a majority of engineering team here in Springfield, we offer fast paced, collaborative and in person work environment for product development.  We leverage a variety of tools and frameworks to build robust products for the Warehousing and Logistics industry.]]></Value>
    </aboutText>
    <availableForHire>
      <Value><![CDATA[1]]></Value>
    </availableForHire>
    <companyTags>
      <Value><![CDATA[]]></Value>
    </companyTags>
    <facebookUrl>
      <Value><![CDATA[]]></Value>
    </facebookUrl>
    <featuredEmbed>
      <Value><![CDATA[]]></Value>
    </featuredEmbed>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <image>
      <Value><![CDATA[[
  {
    "key": "032aac7f-215b-4379-abe1-75dd6146f049",
    "mediaKey": "4bef7f8e-23f9-4eb3-b524-d864cc21002e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <instagramUrl>
      <Value><![CDATA[]]></Value>
    </instagramUrl>
    <isFoundingSponsor>
      <Value><![CDATA[0]]></Value>
    </isFoundingSponsor>
    <isSponsor>
      <Value><![CDATA[1]]></Value>
    </isSponsor>
    <linkedInUrl>
      <Value><![CDATA[https://www.linkedin.com/company/warehq-labs]]></Value>
    </linkedInUrl>
    <location>
      <Value><![CDATA[Springfield, MO]]></Value>
    </location>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <twitterUrl>
      <Value><![CDATA[]]></Value>
    </twitterUrl>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteUrl>
      <Value><![CDATA[https://warehqlabs.com/]]></Value>
    </websiteUrl>
  </Properties>
</Content>