<?xml version="1.0" encoding="utf-8"?>
<Content Key="aea6286a-8558-4d0c-a8b6-8220ae90b8a4" Alias="Web Dev Intro Series - HTML/CSS" Level="4">
  <Info>
    <Parent Key="2c159924-452a-41de-8082-2ff58e5f9180">Dev Night Feb 2021</Parent>
    <Path>/Home/Events/DevNightFeb2021/WebDevIntroSeriesHTMLCSS</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2021-01-23T01:26:11</CreateDate>
    <NodeName Default="Web Dev Intro Series - HTML/CSS" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[This is the first installment of the Web Dev Intro Series. The intention for this series of presentations is to introduce attendees to a handful of core tenants of web development. The web development landscape is vast and can be very challenging to grasp as beginner. This series is designed to provide a high-level but targeted overview that gets right to the point of illustrating the need-to-know topics to start getting your feet wet.

Each session will build upon the next and will culminate with taking a very minimal web project and deploying live to the world. Sessions will be lead by various group members and they will take place randomly throughout the year(typically every other month). Previous sessions will always be viewable online. The curriculum currently looks like this but is subject to change as we feel our way through this process together.

HTML/CSS
Sass
Front-end dev a design
JavaScript
JSON and fetching data from a web API
Web hosting and deployment

To kick this series off we will be talking about the basics of what takes to present content in a browser with HTML(Hypertext Markup Language) and style the content with CSS(Cascading Style Sheets).]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/ca399b60b0ca44589fb54a193f29f04c]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>