<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f8bf079-0a43-4be3-bf95-2c22de887f02" Alias="WFH vs In-office (Panel and Discussion)" Level="4">
  <Info>
    <Parent Key="b1a1939a-cd57-46b2-af34-ad8935b94a3f">Dev Night - May 2023</Parent>
    <Path>/Home/Events/DevNightMay2023/WFHVsInOfficePanelAndDiscussion</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2023-04-05T03:09:59</CreateDate>
    <NodeName Default="WFH vs In-office (Panel and Discussion)" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Join us for a panel and discussion of WFH, in-office, and everything in-between. We’ll have a few members of the community sharing their experience with WFH, in-office, and hybrid; after some opening introductions, plus some curated questions, we’ll open it up to the audience for Q&A. We’ll also be posting a slido soon so that you can submit your questions and takes early.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/292697561]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/cd539ece01cf41deb91eefe5e3b13814]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>