<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d67e842-8978-4457-9d37-8ab3f06c0896" Alias="WSL Explained" Level="4">
  <Info>
    <Parent Key="93b740c8-61bb-4441-bf65-97518dd76c07">Dev Night November 2021</Parent>
    <Path>/Home/Events/DevNightNovember2021/WSLExplained</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2021-10-21T07:44:27</CreateDate>
    <NodeName Default="WSL Explained" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Windows Subsystem for Linux or WSL for short is a feature that allows you to run a Linux environment directly in Windows. It does this without any kind of dual-booting or a full Virtual Machine setup. In this talk, we'll go over why you would even want a Linux environment in the first place and how it can be integrated into your development workflow. We'll then go over how to set up WSL on your machine as well as some gotchas you might run into when compared to running Linux natively. And lastly, we'll wrap up by talking about the technical architecture of WSL and how it differs from a traditional VM.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/bcf54d4fe96a4a0faae63df73e609b53]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/a3c010868b05458c8d9100f665561805]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>