<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f94a8ef5-54cf-4626-b2d1-ead67c251498" Alias="communityEvent" Level="1">
  <Info>
    <Name>Community Event</Name>
    <Icon>icon-calendar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>