<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d83c4a7e-11cb-4b26-b8e1-7bcec88e5806" Alias="company" Level="1">
  <Info>
    <Name>Company</Name>
    <Icon>icon-company</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Company</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f72f0653-4dc9-4878-8d7e-43da2f9224e0">Company</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>