<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9bdae406-869d-4cfe-b216-ac42a58344ff" Alias="companies" Level="1">
  <Info>
    <Name>Companies</Name>
    <Icon>icon-folders</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d83c4a7e-11cb-4b26-b8e1-7bcec88e5806" SortOrder="0">company</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>