<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f07362b2-605f-46ef-aa55-747fcff0d6b6" Alias="events" Level="1">
  <Info>
    <Name>Events</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Events</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d99e626b-c824-4197-80a8-1eb0b64e4acb">Events</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0dcc7d14-b4b0-4276-89d0-64a2bcc98aad" SortOrder="0">event</ContentType>
    <ContentType Key="f94a8ef5-54cf-4626-b2d1-ead67c251498" SortOrder="1">communityEvent</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>