<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0dcc7d14-b4b0-4276-89d0-64a2bcc98aad" Alias="event" Level="1">
  <Info>
    <Name>Event</Name>
    <Icon>icon-calendar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Event</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f6edcd00-1097-42fb-aa62-566bec3489bc">Event</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>