<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f9b2973c-0c9c-4555-904b-92f0bbc191be" Alias="forgottenPassword" Level="1">
  <Info>
    <Name>Forgotten Password</Name>
    <Icon>icon-umb-users color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>ForgottenPassword1</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1e839138-be94-4d37-83b9-3db27c517433">ForgottenPassword1</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>