<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f9b2973c-0c9c-4555-904b-92f0bbc191be" Alias="forgottenPassword" Level="1">
  <Info>
    <Name>Forgotten Password</Name>
    <Icon>icon-umb-users color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>ForgottenPassword</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="697b37e6-55a8-4241-aa06-9c6cb8a3cedf">ForgottenPassword</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>