<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9396f53f-6266-45e5-bf25-4d6c62afffbf" Alias="groups" Level="1">
  <Info>
    <Name>Groups</Name>
    <Icon>icon-folders</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Groups</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="10af1e6f-a6f7-4340-8aea-d189a6fe74c3">Groups</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f47fb09e-350d-48c8-840b-683a68ec0e20" SortOrder="0">group</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>