<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f47fb09e-350d-48c8-840b-683a68ec0e20" Alias="group" Level="1">
  <Info>
    <Name>Group</Name>
    <Icon>icon-users color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Group</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="35290af4-f801-4a0d-af0c-10702707b22b">Group</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>bfe081b1-ccf1-4ceb-993c-1c3863404895</Key>
      <Name>Leaders</Name>
      <Alias>leaders</Alias>
      <Definition>5e8f7c79-a32c-43aa-a044-979207e6749a</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>89d733c3-0676-41ba-a993-91531042b5da</Key>
      <Name>Skill Tags</Name>
      <Alias>skillTags</Alias>
      <Definition>3bdadba6-939d-4735-b575-8c50e0bdbd0f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>