<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d528f9ba-7e2e-45c1-baf6-418c1db70f2e" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f94a56f8-f31e-46fb-a526-f353d39f171f">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f07362b2-605f-46ef-aa55-747fcff0d6b6" SortOrder="0">events</ContentType>
    <ContentType Key="9396f53f-6266-45e5-bf25-4d6c62afffbf" SortOrder="1">groups</ContentType>
    <ContentType Key="9bdae406-869d-4cfe-b216-ac42a58344ff" SortOrder="2">companies</ContentType>
    <ContentType Key="bdfaed72-38a5-40c5-a914-8094af90697e" SortOrder="3">page</ContentType>
    <ContentType Key="0679e2dd-1e67-41ce-9f29-85540d15d982" SortOrder="4">profile</ContentType>
    <ContentType Key="13075a98-4f60-4b84-adf8-ec3c68b79d13" SortOrder="5">register</ContentType>
    <ContentType Key="d0f39102-bfe3-4eb8-8a8c-fbb0e9dc3f2f" SortOrder="6">login</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>