<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e2d4e184-3aa7-4e0a-bb48-7d954283dc4e" Alias="introImage" Level="3">
  <Info>
    <Name>Intro Image</Name>
    <Icon>icon-umb-media color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types/Intro+Image%2fVideo</Folder>
    <Compositions />
    <DefaultTemplate>IntroImage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="15446c32-ea34-4598-a195-383b12701618">IntroImage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>363c6a13-bd9f-485c-9c75-74a73061e371</Key>
      <Name>Media</Name>
      <Alias>media</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>