<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ba195b71-e098-4a53-a763-2e536e45d806" Alias="markdown" Level="3">
  <Info>
    <Name>Markdown</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types/Page+Blocks</Folder>
    <Compositions />
    <DefaultTemplate>Markdown</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5e501da8-6c0c-40e2-9552-5cab65ca11e9">Markdown</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f932434c-bc68-42e4-972a-d0bec51e9192</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>b02da1e4-be26-478b-90f9-d2ac9fea7526</Definition>
      <Type>Umbraco.MarkdownEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>