<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bdfaed72-38a5-40c5-a914-8094af90697e" Alias="page" Level="1">
  <Info>
    <Name>Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6942a4b3-0934-42fe-9168-e46a46766169">About</Template>
      <Template Key="1d73cf91-e6f9-4b78-9b19-10cf3204d118">Directory</Template>
      <Template Key="c7b2340e-c3aa-4fd6-b6fd-16c979ceae08">Page</Template>
      <Template Key="82ccd94b-d601-4f63-a4de-b146b7239623">SearchResults</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="bdfaed72-38a5-40c5-a914-8094af90697e" SortOrder="0">page</ContentType>
    <ContentType Key="7a4d4366-27c3-440e-91bf-fe8bba9318c3" SortOrder="1">leadership</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d8bde61b-04dc-49b5-82ac-7f7869fa8459</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>3a5aadce-d64e-4ebb-9155-8482149adf24</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>