<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4676cb6f-d485-4191-9d0c-a72b03b9c429" Alias="passwordReset" Level="1">
  <Info>
    <Name>Password Reset</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>ResetPassword</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ff1860db-a966-4412-a0b3-0b7aa7d41169">ResetPassword</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>