<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3d3bbe79-9ec9-4733-97dd-9656a1b70a68" Alias="presentation" Level="1">
  <Info>
    <Name>Presentation</Name>
    <Icon>icon-presentation</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Presentation</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7ba333da-49f8-4e1b-8637-b803cace3292">Presentation</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9c8d3448-aed1-41c8-bcfd-5b7c0efe9770</Key>
      <Name>Group</Name>
      <Alias>group</Alias>
      <Definition>d37a3a43-c07e-49c7-8ad3-74394f510b24</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The group hosting this presentation]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>ef3c9b31-69c1-4104-8717-a4649b1e0b19</Key>
      <Name>Presenter</Name>
      <Alias>presenter</Alias>
      <Definition>9a0d9983-d0a8-45d6-80a5-0e6ce4aaab0a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>250d1e04-7dc0-4f9f-98bc-0ef53392b60e</Key>
      <Name>Skill Tags</Name>
      <Alias>skillTags</Alias>
      <Definition>3bdadba6-939d-4735-b575-8c50e0bdbd0f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>