<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a9d3da44-6b74-4f17-a0e3-1bfae117c64d" Alias="presentations" Level="1">
  <Info>
    <Name>Presentations</Name>
    <Icon>icon-folders</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="3d3bbe79-9ec9-4733-97dd-9656a1b70a68" SortOrder="0">presentation</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>