<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3d3bbe79-9ec9-4733-97dd-9656a1b70a68" Alias="presentation" Level="1">
  <Info>
    <Name>Presentation</Name>
    <Icon>icon-presentation</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Presentation</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7ba333da-49f8-4e1b-8637-b803cace3292">Presentation</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>