<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4062d08d-e088-4813-af3a-ff4c8c7becd4" Alias="Skill Tags 2" Level="1">
  <Info>
    <Name>Skill Tags 2</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.DocumentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "ignoreUserStartNodes": false,
  "showOpenButton": false,
  "startNodeId": "42f238f1-9bd8-4f56-9a9c-42dca043460a",
  "umbMigrationV14": "2024-08-22T04:55:00.9942026+00:00"
}]]></Config>
</DataType>