<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf5fdd34-97d7-424d-baa0-5959ee8c3591" Alias="2026 Supporting Member" Level="3">
  <Info>
    <Parent Key="1978d3ad-87d6-48e9-b8dd-6d67facc02bc">Members</Parent>
    <Path>/Tags/Members/SupportingMember</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2026-05-02T17:33:24</CreateDate>
    <NodeName Default="2026 Supporting Member" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[2026 Supporting Member]]></Value>
    </displayName>
  </Properties>
</Content>