<?xml version="1.0" encoding="utf-8"?>
<Content Key="c91b2162-db3b-447f-9615-825cdd00d474" Alias="Bluescape" Level="3">
  <Info>
    <Parent Key="b46ef282-213b-4f99-bb02-5a1950add18d">Companies</Parent>
    <Path>/Home/Companies/Bluescape</Path>
    <Trashed>false</Trashed>
    <ContentType>company</ContentType>
    <CreateDate>2026-04-01T13:19:41</CreateDate>
    <NodeName Default="Bluescape" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f72f0653-4dc9-4878-8d7e-43da2f9224e0">Company</Template>
  </Info>
  <Properties>
    <aboutText>
      <Value><![CDATA[Bluescape is the secure visual workspace that gives teams the freedom to work without limits. In a world where complex decisions hinge on clarity, speed, and confidence, Bluescape delivers clarity in a digital environment where the big picture and the smallest details can be seen, shared, and acted on in one place. Unlike traditional tools that compress files, scatter feedback, or struggle with scale, Bluescape handles nearly any file type at full fidelity, no matter the size. Teams can explore massive images, complex data, or intricate designs at full resolution, ensuring that nothing is lost in translation. This ability to bring together content at scale makes Bluescape uniquely suited to industries where every pixel, every detail, and every decision matters.]]></Value>
    </aboutText>
    <availableForHire>
      <Value><![CDATA[0]]></Value>
    </availableForHire>
    <companyTags>
      <Value><![CDATA[]]></Value>
    </companyTags>
    <facebookUrl>
      <Value><![CDATA[https://www.facebook.com/bluescaper/]]></Value>
    </facebookUrl>
    <featuredEmbed>
      <Value><![CDATA[]]></Value>
    </featuredEmbed>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <image>
      <Value><![CDATA[[
  {
    "key": "03ae72f2-6826-4703-ae16-9c56abc3d1aa",
    "mediaKey": "10198e39-afee-47b7-86e5-13bd2b64a5af",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <instagramUrl>
      <Value><![CDATA[]]></Value>
    </instagramUrl>
    <isFoundingSponsor>
      <Value><![CDATA[0]]></Value>
    </isFoundingSponsor>
    <isSponsor>
      <Value><![CDATA[1]]></Value>
    </isSponsor>
    <linkedInUrl>
      <Value><![CDATA[https://www.linkedin.com/company/bluescaper/]]></Value>
    </linkedInUrl>
    <location>
      <Value><![CDATA[Chicago, IL]]></Value>
    </location>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <twitterUrl>
      <Value><![CDATA[https://x.com/bluescaper]]></Value>
    </twitterUrl>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteUrl>
      <Value><![CDATA[https://www.bluescape.com/]]></Value>
    </websiteUrl>
  </Properties>
</Content>