<?xml version="1.0" encoding="utf-8"?>
<Content Key="c67df3da-2241-4c9b-b3fe-08ae390b0bee" Alias="Bringing Structure to Free-Form Text" Level="4">
  <Info>
    <Parent Key="f42a9f84-34c8-4060-8d1e-649046f7d73a">Dev Night - August 2026</Parent>
    <Path>/Home/Events/DevNightAugust2026/BringingStructureToFreeFormText</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2026-07-02T16:58:40</CreateDate>
    <NodeName Default="Bringing Structure to Free-Form Text" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[This session will provide an introduction into creating "buckets" and then classifying free-form text into the buckets for reporting purposes. It will demonstrate how to use generative AI for determining the buckets, then classifying training data, and lastly constructing a TF-IDF model for classification.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/315500205/]]></Value>
    </meetupURL>
    <presenters>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5ff3a2c3-9dc3-4131-8f07-99c2c0a38be5",
      "key": "d43a01d4-f842-427e-abae-78b1dc8f1bfe",
      "values": [
        {
          "alias": "presenterName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Chris Taylor"
        },
        {
          "alias": "profileImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://media/fa123a47953744b59fd387e685b1ca73"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d43a01d4-f842-427e-abae-78b1dc8f1bfe",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d43a01d4-f842-427e-abae-78b1dc8f1bfe",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </presenters>
    <sessionizeId>
      <Value><![CDATA[1215947]]></Value>
    </sessionizeId>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>