<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ae34848-d2eb-457c-a277-40c328bb9d9a" Alias="Containers without Docker" Level="4">
  <Info>
    <Parent Key="f417fd7a-76f8-4fea-ae78-f6bf6e236044">Dev Night - July 2026</Parent>
    <Path>/Home/Events/DevNightJuly2026/ContainersWithoutDocker</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2026-06-03T15:29:18</CreateDate>
    <NodeName Default="Containers without Docker" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Dockers are cooln' all, but did you know containers exist as a concept on the operating system level? Lets explore how to create and use containers for rapid prototyping and testing. I'll cover network, user, and mount namespaces. How to set up these light-weight containers, and how to test application functionality without disrupting your host environment.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/315231374/]]></Value>
    </meetupURL>
    <presenters>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1bdea08d-8393-4e70-85a9-2ca27bef54f1",
      "key": "ac5cce6d-7dd2-41c6-9e66-d28cbfb04bee",
      "values": [
        {
          "alias": "member",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://member/fd25c0bf607b4ebd8b3c79c2053fab7a"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ac5cce6d-7dd2-41c6-9e66-d28cbfb04bee",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ac5cce6d-7dd2-41c6-9e66-d28cbfb04bee",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </presenters>
    <sessionizeId>
      <Value><![CDATA[1113301]]></Value>
    </sessionizeId>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>