<?xml version="1.0" encoding="utf-8"?>
<Content Key="82748d3a-78d5-41ac-ac2e-d82dc42e1346" Alias="Dev Night November 2022" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightNovember2022</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2022-10-04T04:50:22</CreateDate>
    <NodeName Default="Dev Night November 2022" />
    <SortOrder>21</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2022-11-02T12:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>