<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f45aad2-7549-4b2a-910d-ca986967c2d3" Alias="Dev Night - September 2024" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightSeptember2024</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2024-08-29T17:26:36</CreateDate>
    <NodeName Default="Dev Night - September 2024" />
    <SortOrder>35</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-09-04T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>