<?xml version="1.0" encoding="utf-8"?>
<Content Key="1df74909-b3b9-4456-9678-bcd9a1ca3043" Alias="Dev Night - June 2025" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightJune2025</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2025-05-28T23:21:43</CreateDate>
    <NodeName Default="Dev Night - June 2025" />
    <SortOrder>40</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2025-05-07T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>