<?xml version="1.0" encoding="utf-8"?>
<Content Key="59e4f0bc-a2ec-4af8-acff-fd019b71e269" Alias="Dev Night - November 2026" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightNovember2026</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2026-08-17T16:58:41</CreateDate>
    <NodeName Default="Dev Night - November 2026" />
    <SortOrder>56</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2026-11-04T18:30:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>