<?xml version="1.0" encoding="utf-8"?>
<Content Key="f42a9f84-34c8-4060-8d1e-649046f7d73a" Alias="Dev Night - August 2026" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightAugust2026</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2026-07-02T16:58:37</CreateDate>
    <NodeName Default="Dev Night - August 2026" />
    <SortOrder>53</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2026-08-05T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>