<?xml version="1.0" encoding="utf-8"?>
<Content Key="08de644d-797e-4705-8090-47197e1ae19f" Alias="Dev Night February 2023" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightFebruary2023</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-01-14T20:34:37</CreateDate>
    <NodeName Default="Dev Night February 2023" />
    <SortOrder>24</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2023-02-08T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>