<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3447d3b-0e39-4521-9f58-ec126794787d" Alias="Dev Night - June 2026" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightJune2026</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2026-05-06T13:30:48</CreateDate>
    <NodeName Default="Dev Night - June 2026" />
    <SortOrder>51</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2026-06-03T18:30:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>