<?xml version="1.0" encoding="utf-8"?>
<Content Key="de3a17ca-7913-4bbf-a7a7-61102845eea3" Alias="Jack Henry" Level="3">
  <Info>
    <Parent Key="b46ef282-213b-4f99-bb02-5a1950add18d">Companies</Parent>
    <Path>/Home/Companies/JackHenry</Path>
    <Trashed>false</Trashed>
    <ContentType>company</ContentType>
    <CreateDate>2026-05-30T22:12:45</CreateDate>
    <NodeName Default="Jack Henry" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f72f0653-4dc9-4878-8d7e-43da2f9224e0">Company</Template>
  </Info>
  <Properties>
    <aboutText>
      <Value><![CDATA[As a well-rounded financial technology company, Jack Henry™ advocates and innovates for the people we. We strengthen the connections between people and their financial institutions through technology and services that reduce the barriers to financial health – with the purpose of empowering people and communities to gain the financial freedom to move forward.]]></Value>
    </aboutText>
    <availableForHire>
      <Value><![CDATA[0]]></Value>
    </availableForHire>
    <companyTags>
      <Value><![CDATA[]]></Value>
    </companyTags>
    <facebookUrl>
      <Value><![CDATA[https://www.facebook.com/JackHenryAssociates/]]></Value>
    </facebookUrl>
    <featuredEmbed>
      <Value><![CDATA[]]></Value>
    </featuredEmbed>
    <featuredImage>
      <Value><![CDATA[]]></Value>
    </featuredImage>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <image>
      <Value><![CDATA[[
  {
    "key": "38860a9a-0452-435a-9228-fc36b233b978",
    "mediaKey": "128c3c1d-e4db-4ae8-954e-323cbd5eb794",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <instagramUrl>
      <Value><![CDATA[https://www.instagram.com/jackhenry_fintech/?hl=en]]></Value>
    </instagramUrl>
    <isFoundingSponsor>
      <Value><![CDATA[0]]></Value>
    </isFoundingSponsor>
    <isSponsor>
      <Value><![CDATA[1]]></Value>
    </isSponsor>
    <linkedInUrl>
      <Value><![CDATA[https://www.linkedin.com/company/jack-henry/posts/?feedView=all]]></Value>
    </linkedInUrl>
    <location>
      <Value><![CDATA[Springfield, MO]]></Value>
    </location>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <twitterUrl>
      <Value><![CDATA[]]></Value>
    </twitterUrl>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
    <websiteUrl>
      <Value><![CDATA[https://www.jackhenry.com/]]></Value>
    </websiteUrl>
  </Properties>
</Content>