<?xml version="1.0" encoding="utf-8"?>
<Content Key="2aac792a-c28a-46c5-a529-676bb9386d57" Alias="Open Vehicle Monitoring System: Hacking Your Way Around Manufacturer Abandonment" Level="4">
  <Info>
    <Parent Key="1ed3823b-d68c-4b3d-805e-957eec0f9caf">Dev Night - October 2026</Parent>
    <Path>/Home/Events/DevNightOctober2026/OpenVehicleMonitoringSystemHackingYourWayAroundManufacturerAbandonment</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2026-08-17T16:58:40</CreateDate>
    <NodeName Default="Open Vehicle Monitoring System: Hacking Your Way Around Manufacturer Abandonment" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Manufacturers love to sell you a "smart" connected car until they don't. Telematics servers get shut down, apps get deprecated, and support for older models disappears, leaving owners with a car that's suddenly less capable than the day they bought it.
The Open Vehicle Monitoring System (OVMS) is an open-source project built to fight this problem. In this talk, we'll start with the basics: what OVMS is, how it works at a high level, and why open source matters for hardware longevity, not just software. From there we'll dig into the more technical side, including the CAN bus, how OVMS decodes and exposes vehicle data, its plugin and scripting system, and how you can get involved.
Whether you're an EV owner, curious about embedded and IoT projects, or just interested in how open source communities step in where manufacturers step out, there's something here for you.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <presenters>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1bdea08d-8393-4e70-85a9-2ca27bef54f1",
      "key": "8d6cc494-2266-b81b-c90e-033adf9f6a1a",
      "values": [
        {
          "alias": "member",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://member/45d788961d364435830319a72630eded"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "8d6cc494-2266-b81b-c90e-033adf9f6a1a",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8d6cc494-2266-b81b-c90e-033adf9f6a1a",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </presenters>
    <sessionizeId>
      <Value><![CDATA[1292468]]></Value>
    </sessionizeId>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>