<?xml version="1.0" encoding="utf-8"?>
<Content Key="d93f1099-71a1-4df7-aa4e-a5e9e3fb9f05" Alias="Ruby on Rails" Level="3">
  <Info>
    <Parent Key="42f238f1-9bd8-4f56-9a9c-42dca043460a">Skills</Parent>
    <Path>/Tags/Skills/RubyOnRails</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2021-03-08T00:32:45</CreateDate>
    <NodeName Default="Ruby on Rails" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
  </Properties>
</Content>