<?xml version="1.0" encoding="utf-8"?>
<Content Key="6078f5c5-15d0-41e3-9f41-02809edf2329" Alias="Software History 101" Level="4">
  <Info>
    <Parent Key="0a81b8ec-5c7b-4131-9cdc-8303da0db686">Dev Night - May 2026</Parent>
    <Path>/Home/Events/DevNightMay2026/SoftwareHistory101</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2026-05-06T13:30:46</CreateDate>
    <NodeName Default="Software History 101" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[The 200 year story of how our tools of automation have evolved along with their designs. Learn about the innovators and computer scientists who seeded the information age and where we go from here.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/314247183/]]></Value>
    </meetupURL>
    <presenters>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1bdea08d-8393-4e70-85a9-2ca27bef54f1",
      "key": "fefb9595-b425-4d6d-8291-662ca7af0dd5",
      "values": [
        {
          "alias": "member",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://member/2e3b04c392a145e39dff5ff6114e0448"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "fefb9595-b425-4d6d-8291-662ca7af0dd5",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "fefb9595-b425-4d6d-8291-662ca7af0dd5",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </presenters>
    <sessionizeId>
      <Value><![CDATA[1175463]]></Value>
    </sessionizeId>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>