<?xml version="1.0" encoding="utf-8"?>
<Content Key="e85ee73c-882c-45f9-995e-a8f68e3bcec4" Alias="That Time I Turned a Model M into a MIDI Instrument to Meet Mark Rober" Level="4">
  <Info>
    <Parent Key="1640cefc-1812-4f54-a586-67d2c6b96762">Dev Night - September 2026</Parent>
    <Path>/Home/Events/DevNightSeptember2026/ThatTimeITurnedAModelMIntoAMIDIInstrumentToMeetMarkRober</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2026-08-04T20:57:25</CreateDate>
    <NodeName Default="That Time I Turned a Model M into a MIDI Instrument to Meet Mark Rober" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[We thought all we had to do was build something cool enough to meet Mark Rober.

Instead, we found ourselves on an unexpected quest through the ancient art of IBM Model M keyboards, the mysterious power of Hall effect sensors, and the dark magic of embedded firmware. Along the way, we forged custom PCBs, battled impossible latency, and discovered that every engineering problem only unlocked an even harder one.

But every great adventure needs a sequel. The keyboard would ultimately join forces with our previous creation, a vintage telephone transformed into a real-time vocal effects processor, to become one gloriously overengineered musical instrument.

Join electroNuck and N8 for the story of how a perfectly good keyboard became a MIDI instrument, how an old telephone found a second life as a synth, and what happens when you treat hardware development like the protagonist of an anime.

Quest Objective: Meet Mark Rober]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[]]></Value>
    </meetupURL>
    <presenters>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5ff3a2c3-9dc3-4131-8f07-99c2c0a38be5",
      "key": "3ebaa77c-cab8-40f2-8658-622bce2f34e9",
      "values": [
        {
          "alias": "presenterName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Enoch Bradshaw"
        },
        {
          "alias": "profileImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://media/dde0f096cff047118d7920a2677feece"
        }
      ]
    },
    {
      "contentTypeKey": "5ff3a2c3-9dc3-4131-8f07-99c2c0a38be5",
      "key": "a4969924-f65c-4439-8279-57500e1c41af",
      "values": [
        {
          "alias": "presenterName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Nathan Bradshaw"
        },
        {
          "alias": "profileImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://media/504419beab684cf48ae20a90e8075513"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "3ebaa77c-cab8-40f2-8658-622bce2f34e9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a4969924-f65c-4439-8279-57500e1c41af",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3ebaa77c-cab8-40f2-8658-622bce2f34e9",
        "settingsKey": null
      },
      {
        "contentKey": "a4969924-f65c-4439-8279-57500e1c41af",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </presenters>
    <sessionizeId>
      <Value><![CDATA[1302602]]></Value>
    </sessionizeId>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>