<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ed746c0e-c594-4910-9340-3ae816002a7a" Alias="resetPassword" Level="1">
  <Info>
    <Name>Reset Password</Name>
    <Icon>icon-umb-users color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ResetPassword</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d18a0a9c-a6fa-4a05-889d-d546c8ea11dc">ResetPassword</Template>
    </AllowedTemplates>
    <AllowedInLibrary>false</AllowedInLibrary>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>