<?xml version="1.0" encoding="utf-8"?>
<Media Key="3201967e-df0c-429a-b258-98347bf26857" Alias="SGFDevsSponsorship2025.pdf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SGFDevsSponsorship2025pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-04-02T23:33:09</CreateDate>
    <NodeName Default="SGFDevsSponsorship2025.pdf" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kclacmqm/sgfdevssponsorship2025.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>