<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0dcc7d14-b4b0-4276-89d0-64a2bcc98aad" Alias="event" Level="1">
  <Info>
    <Name>Event</Name>
    <Icon>icon-calendar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Event</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f6edcd00-1097-42fb-aa62-566bec3489bc">Event</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3d3bbe79-9ec9-4733-97dd-9656a1b70a68" SortOrder="0">presentation</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b1266433-fe30-4f6c-a463-1fcf20f62f31</Key>
      <Name>Date</Name>
      <Alias>date</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1632f6fd-072b-4629-914a-608567bacdb3</Key>
      <Name>Presentations</Name>
      <Alias>helpTextPresentations</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[After setting the date, add presentations by clicking the Presentations tab in the top right.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>08e0f467-4762-4a56-b153-2a32c8d85f60</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>