<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ed746c0e-c594-4910-9340-3ae816002a7a" Alias="resetPassword" Level="1">
  <Info>
    <Name>Reset Password</Name>
    <Icon>icon-umb-users color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ResetPassword</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ff1860db-a966-4412-a0b3-0b7aa7d41169">ResetPassword</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>