<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa035fbd-9147-4170-ba41-c1e2f0fae11c" Alias="Archives" Level="2">
  <Info>
    <Parent Key="2504572c-2467-457c-990d-06aef735cb5d">Home</Parent>
    <Path>/Home/Archives</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2021-02-26T16:32:33</CreateDate>
    <NodeName Default="Archives" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c7b2340e-c3aa-4fd6-b6fd-16c979ceae08">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ba195b71-e098-4a53-a763-2e536e45d806",
      "key": "37a4053b-678d-47a6-8520-0d6baf4290e5",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Coming Soon."
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "37a4053b-678d-47a6-8520-0d6baf4290e5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "37a4053b-678d-47a6-8520-0d6baf4290e5",
        "contentUdi": "umb://element/37a4053b678d47a685200d6baf4290e5",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <OgImage>
      <Value><![CDATA[]]></Value>
    </OgImage>
    <titleTag>
      <Value><![CDATA[]]></Value>
    </titleTag>
  </Properties>
</Content>