<?xml version="1.0" encoding="utf-8"?>
<Content Key="a08e5b38-3127-4a96-9f0d-429135347876" Alias="Demystifying Personalization" Level="4">
  <Info>
    <Parent Key="e8500985-39f3-4709-9b34-1b13828c2726">Dev Night - August 2023</Parent>
    <Path>/Home/Events/DevNightAugust2023/DemystifyingPersonalization</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2023-07-03T15:09:52</CreateDate>
    <NodeName Default="Demystifying Personalization" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/294577531/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/4d96e056673b444ebcda674809caa9ee]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>