<?xml version="1.0" encoding="utf-8"?>
<Content Key="6398af7f-3bac-4fbd-bfb7-b3d3fe57a09a" Alias="Dev Night - May 2025" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightMay2025</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2025-04-21T02:49:11</CreateDate>
    <NodeName Default="Dev Night - May 2025" />
    <SortOrder>39</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2025-05-07T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>