<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ed0a289-3904-474a-afe2-25649763c6b7" Alias="Dev Night - Holiday Party" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightHolidayParty</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2022-11-04T03:56:12</CreateDate>
    <NodeName Default="Dev Night - Holiday Party" />
    <SortOrder>22</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2022-12-07T12:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>