<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b801b77-41a9-4a5f-8552-795b21f191ee" Alias="Dev Night - September 2023" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightSeptember2023</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-08-03T15:36:30</CreateDate>
    <NodeName Default="Dev Night - September 2023" />
    <SortOrder>32</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2023-09-06T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>