<?xml version="1.0" encoding="utf-8"?>
<Content Key="f68495e2-6a8c-4edb-8a51-041367e5e636" Alias="Dev Night - October 2025" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightOctober2025</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2025-09-10T14:55:51</CreateDate>
    <NodeName Default="Dev Night - October 2025" />
    <SortOrder>43</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2025-10-01T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>