<?xml version="1.0" encoding="utf-8"?>
<Content Key="10502705-1ae1-411a-aff4-dcd33a317e70" Alias="Dev Night - Tech Exchange" Level="4">
  <Info>
    <Parent Key="2d61594d-5c02-4ffd-a52a-caa4213b9567">Dev Night - March 2025</Parent>
    <Path>/Home/Events/DevNightMarch2025/DevNightTechExchange</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2025-03-02T16:24:17</CreateDate>
    <NodeName Default="Dev Night - Tech Exchange" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[[
  {
    "key": "2fdc2d55-7b1d-4649-a33b-27c934e95926",
    "mediaKey": "72618aad-2601-40a0-9d2e-d83bda9b964c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/306173107/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/cd539ece01cf41deb91eefe5e3b13814]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>