<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1a1939a-cd57-46b2-af34-ad8935b94a3f" Alias="Dev Night - May 2023" Level="3">
  <Info>
    <Parent Key="679da9ce-36b2-4db4-914b-8d0b1e5a54ad">Events</Parent>
    <Path>/Home/Events/DevNightMay2023</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2023-04-05T03:08:55</CreateDate>
    <NodeName Default="Dev Night - May 2023" />
    <SortOrder>27</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2023-05-03T18:00:00]]></Value>
    </date>
    <helpTextPresentations>
      <Value><![CDATA[]]></Value>
    </helpTextPresentations>
  </Properties>
</Content>