<?xml version="1.0" encoding="utf-8"?>
<Content Key="371e39f4-2628-4201-8a79-c1a07a6a40af" Alias="Double Feature Dev Night // Alan Cox: Empowering Collaboration—Building Copilot Agents in SharePoint Online // Howard Globus: Their Data is Your Reputation—Playing Nice With the FTC" Level="4">
  <Info>
    <Parent Key="659cbbc3-292d-45af-9176-12f39ce2dc8e">Dev Night - July 2025</Parent>
    <Path>/Home/Events/DevNightJuly2025/DoubleFeatureDevNightAlanCoxEmpoweringCollaborationBuildingCopilotAgentsInSharePointOnlineHowardGlobusTheirDataIsYourReputationPlayingNiceWithTheFTC</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2025-06-21T02:33:27</CreateDate>
    <NodeName Default="Double Feature Dev Night // Alan Cox: Empowering Collaboration—Building Copilot Agents in SharePoint Online // Howard Globus: Their Data is Your Reputation—Playing Nice With the FTC" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[[
  {
    "key": "d33623a2-73b6-4e08-b316-8b88434abc6e",
    "mediaKey": "62e0dbbd-5f0e-4c11-929b-a07d676e93ce",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/308567125/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/cd539ece01cf41deb91eefe5e3b13814]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>