<?xml version="1.0" encoding="utf-8"?>
<Content Key="12d5d6ad-56b8-414b-a75a-a44819dcaa50" Alias="Frontend Design" Level="3">
  <Info>
    <Parent Key="d132ca12-4e57-439b-990b-6d97ac5aa3b6">Groups</Parent>
    <Path>/Home/Groups/FrontendDesign</Path>
    <Trashed>false</Trashed>
    <ContentType>group</ContentType>
    <CreateDate>2020-12-14T04:14:05</CreateDate>
    <NodeName Default="Frontend Design" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="35290af4-f801-4a0d-af0c-10702707b22b">Group</Template>
  </Info>
  <Properties>
    <aboutText>
      <Value><![CDATA[Bridging the gap between design and development, we are a group of frontend developers and UI/UX designers with a passion for User Experience Design. Our goal is to bring tools to designers and developers that allow development teams to make better user experience decisions, while also providing a place for developers and designers to discuss the latest technologies and trends related to creating a better user experience.

Keep an eye out for the next Dev night posting to see what topics we will be covering!]]></Value>
    </aboutText>
    <establishedText>
      <Value><![CDATA[Established 2020]]></Value>
    </establishedText>
    <facebookUrl>
      <Value><![CDATA[]]></Value>
    </facebookUrl>
    <groupImage>
      <Value><![CDATA[umb://media/f8ad64c9813c477fb014e88931fafccf]]></Value>
    </groupImage>
    <instagramUrl>
      <Value><![CDATA[]]></Value>
    </instagramUrl>
    <introImageVideo>
      <Value><![CDATA[]]></Value>
    </introImageVideo>
    <leaders>
      <Value><![CDATA[umb://member/5eddfad113ce4c9e9e1eb58678780f81]]></Value>
    </leaders>
    <linkedInUrl>
      <Value><![CDATA[]]></Value>
    </linkedInUrl>
    <location>
      <Value><![CDATA[Springfield, MO]]></Value>
    </location>
    <meetupUrl>
      <Value><![CDATA[]]></Value>
    </meetupUrl>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <twitchUrl>
      <Value><![CDATA[]]></Value>
    </twitchUrl>
    <twitterUrl>
      <Value><![CDATA[]]></Value>
    </twitterUrl>
    <websiteUrl>
      <Value><![CDATA[]]></Value>
    </websiteUrl>
    <youTubeUrl>
      <Value><![CDATA[]]></Value>
    </youTubeUrl>
  </Properties>
</Content>