<?xml version="1.0" encoding="utf-8"?>
<Content Key="52195bf1-9cc5-458d-82af-bf62c0e7af37" Alias="Learning way too much about audio programming to meet Mark Rober - Presentation by  Nate and Enoch Bradshaw" Level="4">
  <Info>
    <Parent Key="9ab23fbc-ce13-49f8-8ae8-5be4d0576a79">Dev Night - September 2025</Parent>
    <Path>/Home/Events/DevNightSeptember2025/LearningWayTooMuchAboutAudioProgrammingToMeetMarkRoberPresentationByNateAndEnochBradshaw</Path>
    <Trashed>false</Trashed>
    <ContentType>presentation</ContentType>
    <CreateDate>2025-05-28T18:53:38</CreateDate>
    <NodeName Default="Learning way too much about audio programming to meet Mark Rober - Presentation by  Nate and Enoch Bradshaw" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[What happens when you mix music theory, real-time audio processing, and a tiny microcontroller? You get an embedded system that makes noise, teaches harmony—and somehow lands you at Open Sauce, surrounded by YouTube’s most chaotic inventors.

In this talk, we’ll dive into how we used Rust to program audio in real time on the Daisy Seed microcontroller, how we built an interactive music project from scratch, and what we learned about embedded development (and public demos) along the way. Whether you're into low-level programming, audio synthesis, or just curious how music theory meets machine code, this session will hit the right notes.

Expect code, chaos, and maybe even a live demo—assuming nothing catches fire.]]></Value>
    </description>
    <group>
      <Value><![CDATA[umb://document/00a83654b95b429e9df844a2dca26d29]]></Value>
    </group>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <meetupURL>
      <Value><![CDATA[https://www.meetup.com/sgfdevs/events/310649791/]]></Value>
    </meetupURL>
    <otherPresenters>
      <Value><![CDATA[]]></Value>
    </otherPresenters>
    <presenter>
      <Value><![CDATA[umb://member/cd539ece01cf41deb91eefe5e3b13814]]></Value>
    </presenter>
    <skillTags>
      <Value><![CDATA[]]></Value>
    </skillTags>
    <transcript>
      <Value><![CDATA[]]></Value>
    </transcript>
    <videoUrl>
      <Value><![CDATA[]]></Value>
    </videoUrl>
  </Properties>
</Content>