<?xml version="1.0" encoding="utf-8"?>
<Content Key="b38c9607-a888-4559-b24f-6478d9b6095c" Alias="About" Level="2">
  <Info>
    <Parent Key="2504572c-2467-457c-990d-06aef735cb5d">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2020-12-27T22:44:25</CreateDate>
    <NodeName Default="About" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6942a4b3-0934-42fe-9168-e46a46766169">About</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
  </Properties>
</Content>