<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a33751-839f-45ef-a902-4f0d5dacee56" Alias="Companies" Level="2">
  <Info>
    <Parent Key="235713a3-e988-42ce-bc14-513fd8790416">Tags</Parent>
    <Path>/Tags/Companies</Path>
    <Trashed>false</Trashed>
    <ContentType>tagGroup</ContentType>
    <CreateDate>2020-11-22T19:13:52</CreateDate>
    <NodeName Default="Companies" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>