<?xml version="1.0" encoding="utf-8"?>
<Content Key="bec635da-5ccc-47be-9512-465dc53ee55f" Alias="Jobs" Level="2">
  <Info>
    <Parent Key="2504572c-2467-457c-990d-06aef735cb5d">Home</Parent>
    <Path>/Home/Jobs</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2021-02-24T10:49:30</CreateDate>
    <NodeName Default="Jobs" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c7b2340e-c3aa-4fd6-b6fd-16c979ceae08">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/35be016753734a399d443f1147a3a9a7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ba195b71-e098-4a53-a763-2e536e45d806",
      "udi": "umb://element/35be016753734a399d443f1147a3a9a7",
      "content": "Coming Soon!"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
  </Properties>
</Content>