<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcccb0fd-73cd-4da0-92a1-138305ab67e6" Alias="Leadership" Level="3">
  <Info>
    <Parent Key="b38c9607-a888-4559-b24f-6478d9b6095c">About</Parent>
    <Path>/Home/About/Leadership</Path>
    <Trashed>false</Trashed>
    <ContentType>leadership</ContentType>
    <CreateDate>2020-12-27T23:53:30</CreateDate>
    <NodeName Default="Leadership" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fd6bc2fd-05ea-49b7-af82-e32fb323d5af">Leadership</Template>
  </Info>
  <Properties>
    <boardOfDirectors>
      <Value><![CDATA[umb://member/e1ed4c640cf34e8999ea6f50ab430b4a,umb://member/1a3cc971855348b8a8236f4d4af93e5a]]></Value>
    </boardOfDirectors>
    <history>
      <Value><![CDATA[umb://member/b566547d2c4d4a5eac6cbc3e985f5f30]]></Value>
    </history>
    <officers>
      <Value><![CDATA[umb://member/90fdec41f7e346b19d613f003fdc1dd0,umb://member/5e55d6a7856545828a51458c3407c795,umb://member/79d57ae4c94c47bfa9da5aed6c595fae,umb://member/b566547d2c4d4a5eac6cbc3e985f5f30]]></Value>
    </officers>
  </Properties>
</Content>