<?xml version="1.0" encoding="utf-8"?>
<Content Key="bef378a8-3dc0-42b9-8d12-cf96987a4cd0" Alias="Register" Level="2">
  <Info>
    <Parent Key="2504572c-2467-457c-990d-06aef735cb5d">Home</Parent>
    <Path>/Home/Register</Path>
    <Trashed>false</Trashed>
    <ContentType>register</ContentType>
    <CreateDate>2021-01-24T23:45:20</CreateDate>
    <NodeName Default="Register" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="87491da1-fff5-4792-8497-c58af29b8a12">Register</Template>
  </Info>
  <Properties />
</Content>