<?xml version="1.0" encoding="utf-8"?>
<Content Key="241e603c-1905-4697-a921-5c2531758076" Alias="Reset Password" Level="2">
  <Info>
    <Parent Key="2504572c-2467-457c-990d-06aef735cb5d">Home</Parent>
    <Path>/Home/ResetPassword</Path>
    <Trashed>false</Trashed>
    <ContentType>passwordReset</ContentType>
    <CreateDate>2021-03-10T22:21:22</CreateDate>
    <NodeName Default="Reset Password" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ff1860db-a966-4412-a0b3-0b7aa7d41169">ResetPassword</Template>
  </Info>
  <Properties />
</Content>