<?xml version="1.0" encoding="utf-8"?>
<Content Key="60d16749-fb18-4b9a-aa0f-d1e34ab31aa4" Alias="Sponsorship" Level="3">
  <Info>
    <Parent Key="b38c9607-a888-4559-b24f-6478d9b6095c">About</Parent>
    <Path>/Home/About/Sponsorship</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2021-02-24T09:20:21</CreateDate>
    <NodeName Default="Sponsorship" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c7b2340e-c3aa-4fd6-b6fd-16c979ceae08">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b70148abba004cfbaa2fb9dfaf824619"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ba195b71-e098-4a53-a763-2e536e45d806",
      "udi": "umb://element/b70148abba004cfbaa2fb9dfaf824619",
      "content": "Coming Soon!"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
  </Properties>
</Content>