@inherits System.Web.Mvc.WebViewPage<EmailViewModel>


<div class="container">
    <img src="https://sgf.dev/images/logo.svg" alt=""/>
    <h1>Reset Your Password</h1>
    <p>Need to reset your password? No biggie. Just click below to get started.</p>
    <a class="button" href="https://sgf.dev/reset-password?token="hello">Reset Password</a>
</div>
