.material_input {
    label {
        display: block;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 12px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    input {
        background: none;
        border: 0;
        width: 100%;
        border-bottom: 2px solid #CBCBCB;
        padding: 10px 0;
        color: #000;
        margin: 0 0 25px 0;

        &::placeholder {
            color: rgba(0,0,0,0.25);
        }

        &:focus {
            outline: 0;
            border-color: #000;

            &::placeholder {
                color: rgba(0,0,0,0.25);
            }
        }
    }
}
